<!--<style> .nav-link {  padding-left: 5px !important;  margin: 0px !important; padding-right: 5px !important; } </style>-->
<!--<ul class="nav nav-tabs customtab2" role="tablist">-->
    <!--<li class="nav-item" *ngFor="let tab of tabs">-->
        <!--<a class="nav-link" [class.active]="isActive(tab)"  (click)="onChangeTab(tab)" data-toggle="tab" href="javascript:void(0);" role="tab" aria-expanded="true">-->
            <!--<span class="hidden-xs-down" style=" font-size: 10px; font-weight: bold; max-width: 120px;">{{tab.title}}</span>-->
        <!--</a>-->
    <!--</li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
    <!--<div class="tab-pane active">-->
        <!--<ng-template appItemDetail ></ng-template>-->
    <!--</div>-->
<!--</div>-->



