.nav-link span {
  font-size: 11px;
}
.customtab2 li a.nav-link {
  color: black;
}
.customtab2 li a {
  border-right: 1px solid #dfdfdf;
  margin-right: 0.5px;
}
.customtab2 {
  border: 1px solid #dfdfdf;
}
.customtab2 li {
  width: 25%;
  height: 25px;
  line-height: 25px;
}
.nav-link {
  display: block;
  padding: 0 1rem;
}
.nav-link[_ngcontent-c9] span[_ngcontent-c9] {
  font-size: 11px;
}
