<div bsModal #showChat="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="background-color: #f5f5f5">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card m-b-0">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="modal-header pl-3 pr-3" style="border-bottom: none">
                    <h4 class="modal-title"><i class="fa fa-comments mr-1"></i>Trao đổi với khách hàng:
                      <strong _ngcontent-c27="" class="text-uppercase text-danger mr-1 ml-1">123456</strong><a
                        href="javascript:void(0)" style="text-decoration: underline">xem</a>
                    </h4>
                    <a href="javascript:void(0)" class="text-right text-darkgray" (click)="showChat.hide()"><i
                      class="fa fa-close"></i></a>
                  </div>
                  <div>
                    <div class="modal-body p-0">
                      <div class="container-fluid ng-star-inserted">
                        <div class="row">
                          <div class="messaging">
                            <div class="inbox_msg">
                              <div class="mesgs">
                                <div class="msg_history">
                                  <div class="incoming_msg">
                                    <div class="incoming_msg_img"><img
                                      src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                                    <div class="received_msg">
                                      <div class="received_withd_msg">
                                        <p>Test which is a new approach to have all
                                          solutions</p>
                                        <span class="time_date"> 11:01 AM    |    June 9</span></div>
                                    </div>
                                  </div>
                                  <div class="outgoing_msg">
                                    <div class="sent_msg">
                                      <p>Test which is a new approach to have all
                                        solutions</p>
                                      <span class="time_date"> 11:01 AM    |    June 9</span></div>
                                  </div>
                                  <div class="incoming_msg">
                                    <div class="incoming_msg_img"><img
                                      src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                                    <div class="received_msg">
                                      <div class="received_withd_msg">
                                        <p>Test, which is a new approach to have</p>
                                        <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                                    </div>
                                  </div>
                                  <div class="outgoing_msg">
                                    <div class="sent_msg">
                                      <p>Apollo University, Delhi, India Test</p>
                                      <span class="time_date"> 11:01 AM    |    Today</span></div>
                                  </div>
                                  <div class="incoming_msg">
                                    <div class="incoming_msg_img"><img
                                      src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
                                    <div class="received_msg">
                                      <div class="received_withd_msg">
                                        <p>We work directly with our designers and suppliers,
                                          and sell direct to you, which means quality, exclusive
                                          products, at a price anyone can afford.</p>
                                        <span class="time_date"> 11:01 AM    |    Today</span></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="type_msg">
                                  <div class="input_msg_write">
                                    <input type="text" class="write_msg" placeholder="Type a message"/>
                                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane"
                                                                                  aria-hidden="true"></i></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #showChatGroup="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="background-color: #f5f5f5">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card m-b-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <!-- DIRECT CHAT PRIMARY -->
                  <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title">Trao đổi đơn hàng : <strong class="mr-1">123456</strong><a href="javascript:void(0)">xem</a></h3>
                      <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge bg-light-blue"
                              data-original-title="3 New Messages">3</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                          class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts"
                                data-widget="chat-pane-toggle">
                          <i class="fa fa-comments"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" (click)="showChatGroup.hide()"><i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <!-- Conversations are loaded here -->
                      <div class="direct-chat-messages">
                        <div class="direct-chat-msg">
                          <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-left">Alexander Pierce</span>
                            <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                          </div>
                          <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg"
                               alt="Message User Image"><!-- /.direct-chat-img -->
                          <div class="direct-chat-text">
                            Is this template really for free? That's unbelievable!
                          </div>
                        </div>
                        <div class="direct-chat-msg right">
                          <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-right">Sarah Bullock</span>
                            <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                          </div>
                          <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg"
                               alt="Message User Image"><!-- /.direct-chat-img -->
                          <div class="direct-chat-text">
                            You better believe it!
                          </div>
                        </div>
                      </div>
                      <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                          <li>
                            <a href="#">
                              <img class="contacts-list-img" src="https://bootdey.com/img/Content/user_1.jpg">

                              <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                  Count Dracula
                                  <small class="contacts-list-date pull-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="box-footer">
                      <form action="#" method="post">
                        <div class="input-group">
                          <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                          <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-paper-plane"></i></button>
                          </span>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
