<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Send Tracking</h3>
                </div>
                <form [formGroup]="form" name="form" class="row form-upload">
                    <div class="col-md-12 form-body">
                        <div class="row">
                            <div class="col-md-6 form-group m-b-10">
                                <label for="store" class="form-control-label">Store</label>
                                <select class="form-control form-control-sm" name="store" id="store"
                                        formControlName="store">
                                    <option value="">--Select Store--</option>
                                    <option value="vn">Việt nam</option>
                                    <option value="id">Indonesia</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group m-b-10">
                                <label for="store" class="form-control-label">Warehouse</label>
                                <select class="form-control form-control-sm" name="warehouse" id="warehouse"
                                        formControlName="warehouse">
                                    <option *ngFor="let wh of warehouses" [value]="wh.key">{{wh.value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group m-b-10">
                                <label for="manifest" class="form-control-label">Manifest</label>
                                <input type="text" class="form-control form-control-sm" id="manifest" name="manifest"
                                       formControlName="manifest">
                            </div>
                            <div class="col-md-6 form-group m-b-10">
                                <label for="store" class="form-control-label">Upload</label>
                                <input type="file" id="file" formControlName="file" class="form-control form-control-sm" (change)="handleFileChange($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="button-group">
                                    <button class="btn btn-sm btn-success" (click)="sent()">Sent</button>
                                    <button class="btn btn-sm btn-success">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>