.fa{
    padding-right: 5px;
    padding-left: 5px;
}
td, th{
    border: 1px solid #3e3e3e3e;
}

.input-full {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.productName a:hover{
    white-space: normal;
}