<div class="modal-dialog" style="max-width: 95%;">
  <div class="modal-content">
    <div class="modal-header" style="background: #00000052;">
      <h3 style="color: #fff">Purchase Card</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="main_content_right" style="max-width: 95%; margin: auto">
                <div class="row">
                  <div class="col-md-12">
                    <strong>NGƯỜI MUA:</strong>
                    <span></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-striped" style="border-radius: 2em;overflow: hidden;font-size: 10px">
                      <thead>
                      <tr class="bg-info" style="color: #fff">
                        <th scope="col">No</th>
                        <th scope="col">BIN/SOI</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name Item</th>
                        <th scope="col">Size/Type</th>
                        <th scope="col">QTT Order</th>
                        <th scope="col">QTT Checkout</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Us Ship</th>
                        <th scope="col">Us Tax</th>
                        <th scope="col">Subtotal Collect</th>
                        <th scope="col"><strong>Paid to seller</strong></th>
                        <th scope="col"><strong>Changing Price</strong></th>
                      </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
