<div class="modal-header" style="background: #00000052;">
    <h3 style="color: #fff">Purchase Card</h3>
</div>
<div class="modal-body">
    <div *ngIf="orders" class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_content_right" style="max-width: 95%; margin: auto">
                        <div class="row">
                            <div class="col-md-12">
                                <strong>NGƯỜI MUA:</strong>
                                <span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped"
                                       style="border-radius: 2em;overflow: hidden;font-size: 10px">
                                    <thead>
                                    <tr class="bg-info" style="color: #fff">
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col" style="max-width: 40%">Info Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Quantity Purchase</th>
                                        <th scope="col">Info Payment</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let order of orders;let indOrder=index;">
                                    <tr style="background: #8fc0ff;">
                                        <td colspan="6">
                                            <H4>
                                                <b style="font-family: auto">{{indOrder+1  | serialNumer}}. </b>
                                                <i>Order: <strong>{{order.ordercode}}</strong></i>
                                                <i> - Portal: <b>{{order.portal}}</b></i>
                                                <i> - Seller: <b>{{order.seller}}</b></i>
                                                <i> - Final Total Amount: <b>{{order.total_amount}}</b></i>
                                            </H4>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" (click)="removeCart(order.order_id,order.ordercode)">Remove <i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let product of order.products;let indProd = index;">
                                        <td>&emsp; {{indProd + 1}}</td>
                                        <td>
                                            <img class="img-thumbnail" [src]="product.image" alt="" width="100px"><br>
                                        </td>
                                        <td style="max-width: 40%">
                                            <a>{{product.Name}}</a><br>
                                            <br>
                                            <span><b>Sku:</b> {{product.sku}}</span><br>
                                            <span><b>ParentSku:</b> {{product.ParentSku}}</span><br>
                                            <span><b>Seller:</b> {{order.seller_name}}</span>
                                            <span><b>Portal:</b> {{product.ItemType}}</span>
                                        </td>
                                        <td>{{product.quantity}}</td>
                                        <td>
                                            <input class="input-sm" style="width: 50%" type="number" (change)="changeAmount(product)" [(ngModel)]="product.quantityPurchase">
                                        </td>
                                        <td>
                                            <span><b>Price:</b><br> <input (change)="changeAmount(product)" class="input-sm" style="width: 50%" type="number" [(ngModel)]="product.price_purchase"></span><br>
                                            <span><b>Us ship purchase:</b><br> <input (change)="changeAmount(product)" class="input-sm" style="width: 50%" type="number" [(ngModel)]="product.us_ship_purchase"></span><br>
                                            <span><b>Us tax purchase:</b><br> <input (change)="changeAmount(product)" class="input-sm" style="width: 50%" type="number" [(ngModel)]="product.us_tax_purchase"></span><br>
                                        </td>
                                        <td>
                                            <span (click)="edit_id = product.id" id="detail-paidToseller_{{product.id}}" class="{{edit_id != product.id ? '' : 'hidden-md-up'}}" >{{ product.paidToSeller | currency : 'USD'}}</span>
                                            <input (change)="edit_id=0;" [(ngModel)]="product.paidToSeller" id="paidToSeller_{{product.id}}" type="{{edit_id == product.id ? 'number' : 'hidden'}}" style="width: 50%">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row pl-2">
                            <div class="col-md-3">
                                <strong>Total amount can use:</strong>
                            </div>
                            <div class="col-md-4">
                                <strong>{{totalAmountCanBuy | currency : 'USD'}}</strong>
                            </div>
                        </div>
                        <div class="row pl-2">
                            <div class="col-md-3">
                                <strong>Total amount use:</strong>
                            </div>
                            <div class="col-md-4">
                                <strong>{{totalPaid | currency : 'USD'}}</strong>
                            </div>
                        </div>
                        <div class="row pl-2 mt-2">
                            <div class="col-md-3">
                                <strong>Changing Price:</strong>
                            </div>
                            <div class="col-md-2">
                                <strong style="color: red">{{totalChanging | currency : 'USD'}}</strong>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox checkbox-success" style="float: left">
                                    <input id="checkSendEmailPrice" class="custom-control-input"
                                           name="checkSendEmailPrice"
                                           [(ngModel)]="data.emailPrice"
                                           type="checkbox">
                                    <label for="checkSendEmailPrice">
                                        Send email to customer for changing price
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row pl-2 mt-2">
                            <div class="col-md-3">
                                <strong>Total paid to seller:</strong>
                            </div>
                            <div class="col-md-2">
                                <strong style="color: red"></strong>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox checkbox-success" style="float: left">
                                    <input id="checkSendEmailFragile" class="custom-control-input"
                                           name="checkSendEmailFragile"
                                           [(ngModel)]="data.emailFragile"
                                           type="checkbox">
                                    <label for="checkSendEmailFragile">
                                        Send email to customer for fragile
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 pl-2">
                            <div class="col-md-2">
                                <strong>Export Warehouse</strong>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control-sm" name="warehouse" [(ngModel)]="data.warehouse"
                                >
                                    <option value="0">--- Select WareHouse ---</option>
                                    <option *ngFor="let wh of warehouse" value="{{wh.id}}">{{wh.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2 pl-2">
                            <div class="col-md-2">
                                <strong>Purchase Account</strong>
                            </div>
                            <div class="col-md-3">
                                <input list="listAccounts" type="text"
                                       [(ngModel)]="data.accountPurchase"
                                       class="form-control-sm" placeholder="Chose an account">
                                <datalist id="listAccounts" *ngIf="listAccount">
                                    <option *ngFor="let account of listAccount" value="{{account.email}}" label=" skdjskjdksj"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="row mt-2 pl-2">
                            <div class="col-md-2">
                                <strong>Card</strong>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control-sm" name="cart" [(ngModel)]="data.card_payment">
                                    <option value="">--- Select Card ---</option>
                                    <optgroup label="List card" *ngIf="listCard">
                                        <option *ngFor="let cart_payment of listCard" value="{{cart_payment.id}}">{{cart_payment.card_code}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control-sm" placeholder="Buck/Giftcard/Point" [(ngModel)]="data.buckAmount">
                            </div>
                        </div>
                        <div class="row mt-2 pl-2">
                            <div class="col-md-2">
                                <strong>Order ID</strong>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control-sm" placeholder="Type order ID" [(ngModel)]="data.orderIdPurchase">
                            </div>
                        </div>
                        <div class="row mt-2 pl-2">
                            <div class="col-md-2">
                                <strong>Paypal Transaction</strong>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control-sm"
                                       placeholder="Only ebay Oder and PP Payment" [(ngModel)]="data.PPTranId">
                            </div>
                        </div>
                        <div class="row mt-2 pl-2">
                            <div class="col-md-2">
                                <strong>Note</strong>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control-sm input-control-ws" placeholder="Note" [(ngModel)]="data.note">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"  style="text-align: center;">
    <div class="btn-group">
        <button class="btn btn-danger" (click)="closePop()">Cancel</button>
        <button class="btn btn-success" (click)="updatePurchase()">Save</button>
    </div>
</div>
