<div class="modal-header" style="background: #00000052;">
    <h3 style="color: #fff" i18n>Purchase cart</h3>
</div>
<div class="modal-body">
    <div *ngIf="orders && orders.length" class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_content_right" style="max-width: 95%; margin: auto">
                        <div class="row">
                            <div class="col-md-12">
                                <strong i18n>Purchaser:</strong>
                                <span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <H4>
                                    <b style="font-family: auto">{{1  | serialNumer}}. </b>
                                    <span i18n>Order: <strong>{{orders[0].ordercode}}</strong></span>
                                    <span i18n> - Portal: <b>{{orders[0].portal | uppercase }}</b></span>
                                    <span i18n> - Seller: <b>{{orders[0].sellerId}}</b></span>
                                    <span i18n> - Final Total Amount: <b>{{orders[0].total_amount}}</b></span>
                                </H4>
                                <table class="table table-striped"
                                       style="border: 1px solid;overflow: hidden;font-size: 12px">
                                    <thead>
                                    <tr style="color: #000">
                                        <th scope="col" style="width: 2%;border: 1px solid #3e3e3e3e;">#</th>
                                        <th scope="col" style="width: 10%;border: 1px solid #3e3e3e3e;" i18n>Image</th>
                                        <th scope="col" style="width: 25%;border: 1px solid #3e3e3e3e;" i18n>Info Product</th>
                                        <th scope="col" style="width: 10%;border: 1px solid #3e3e3e3e;" i18n>Variation</th>
<!--                                        <th scope="col" style="width: 1%;border: 1px solid #3e3e3e3e;" i18n>Customer Qty</th>-->
                                        <th scope="col" style="width: 8%;border: 1px solid #3e3e3e3e;" i18n>Quantity</th>
                                        <th scope="col" style="width: 8%;border: 1px solid #3e3e3e3e;" i18n>Price</th>
                                        <th scope="col" style="width: 8%;border: 1px solid #3e3e3e3e;" i18n>Shipping Fee</th>
                                        <th scope="col" style="width: 8%;border: 1px solid #3e3e3e3e;" i18n>Tax Fee</th>
                                        <th scope="col" style="width: 5%;border: 1px solid #3e3e3e3e;" i18n>Total Price</th>
                                        <th scope="col" style="width: 15%;border: 1px solid #3e3e3e3e;" i18n>Paid to Seller
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let order of orders;let indOrder=index;">
                                    <tr *ngFor="let product of order.products;let indProd = index;">
                                        <td>&emsp; {{indProd + 1}}</td>
                                        <td>
                                            <img class="img-thumbnail" [src]="product.image" alt="" width="50px"><br>
                                        </td>
                                        <td style="padding: 0px ">
                                            <div class="col-md-12" style="padding: 0px ">
                                                <div class="col-md-12 productName"
                                                     style="font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 250px;">
                                                    <a
                                                            href="{{product.origin_link}}">{{product.Name}}</a></div>
                                                <div class="col-md-12"><span><b i18n>SOI:</b> {{product.id}}</span>
                                                </div>
                                                <div class="col-md-12"><span><b i18n>Item Type:</b> {{product.ItemType}}</span>
                                                </div>
                                                <div class="col-md-12"><span><b i18n>Sku:</b> {{product.sku}}</span>
                                                </div>
                                                <div class="col-md-12"><span><b >ParentSku:</b> {{product.ParentSku}}</span></div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-6">
                                                    <span><b i18n>Seller:</b> {{order.sellerId}}</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <span><b i18n>Condition:</b> {{product.condition}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{product.variation}}</td>
<!--                                        <td>{{product.quantity}}</td>-->
                                        <td>
                                            <input class="form-control form-control-sm" style="width: 100%" type="number"
                                                   (change)="changeAmount(product)"
                                                   [(ngModel)]="product.quantityPurchase">
                                            <label>Qty: {{ product.quantity}}</label>
                                        </td>
                                        <td><input (change)="changeAmount(product)"
                                                   class="form-control form-control-sm"
                                                   type="number"
                                                   [(ngModel)]="product.price_purchase">
                                            <label><i class="fa fa-dollar"></i> {{ product.price | currency : 'USD' : ''}}</label>
                                        </td>
                                        <td><input
                                                (change)="changeAmount(product)"
                                                class="form-control form-control-sm" type="number"
                                                [(ngModel)]="product.us_ship_purchase">
                                        <label><i class="fa fa-dollar"></i> {{ product.us_ship | currency : 'USD' : ''}}</label>
                                        </td>
                                        <td><input
                                                (change)="changeAmount(product)"
                                                class="form-control form-control-sm"
                                                type="number"
                                                [(ngModel)]="product.us_tax_purchase">
                                        <label><i class="fa fa-dollar"></i> {{ product.us_tax | currency : 'USD' : ''}}</label>
                                        </td>
                                        <td>
                                            <div class="row col-md-12">
                                                <span id="totalPrice">{{ product.paidTotal | currency : 'USD' : '$'}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span id="Paid_To_Seller">{{ product.paidToSeller | currency : 'USD' : '$'}}</span>&nbsp;&nbsp;<a
                                                href="javascript:void (0);" #popMakeOffer="bs-popover"
                                                *ngIf="product.paidToSeller < product.paidTotal && product.price_make_offer != product.paidToSeller"
                                                [popover]="popMakeOfferTemplate" [placement]="'left'"><i style="font-size: 16px" class="fa fa-gavel"
                                                                                                 [tooltip]="'Make offer'"></i></a>
                                            <ng-template #popMakeOfferTemplate>
                                                <div class="row" style="min-width: 250px">
                                                    <div class="col-md-12">
                                                        <div>
                                                            <h5>Make Offer paid to
                                                                seller {{ product.paidToSeller | currency : 'USD' : '$'}}</h5>
                                                        </div>
                                                        <div class="form-group" style="margin-bottom: 0px;">
                                                            <label class="form-control-label">Note Make
                                                                Offer</label>
                                                            <textarea class="form-control form-control-sm"
                                                                      placeholder="Note Make Offer"
                                                                      [(ngModel)]="product.note_make_offer"></textarea>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-sm btn-info" type="button"
                                                                    (click)="product.price_make_offer = product.paidToSeller;popMakeOffer.hide()">
                                                                <i class="fa fa-check"></i></button>
                                                            <button class="btn btn-sm btn-danger" type="button"
                                                                    (click)="product.price_make_offer = 0; product.note_make_offer = '';popMakeOffer.hide()">
                                                                <i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <div style="border: 1px #dededede inset;" *ngIf="product.price_make_offer && product.price_make_offer > 0">
                                                <label><span class="text-left">Make Offer: </span><span
                                                        class="text-right"><i class="fa fa-remove"
                                                                              style="font-size: 12px;color: red; cursor: pointer;"
                                                                              (click)="product.price_make_offer = 0; product.note_make_offer = '';"
                                                                              [tooltip]="'Remove Offer'"></i></span></label>
                                                <hr style="margin: 0px">
                                                <div>
                                                    <i class="fa fa-dollar"
                                                       style="color: darkgoldenrod"
                                                    ></i>&nbsp; {{ product.price_make_offer | currency : 'USD' : '$'}}
                                                </div>
                                                <div>
                                                    <i class="fa fa-comment-dollar"
                                                       style="color: green"
                                                    ></i>&nbsp; {{ product.note_make_offer}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row pl-2 col-md-12">
                            <div class="col-md-6">
                                <div class="row pl-2">
                                    <div class="col-md-8">
                                        <strong i18n>Total amount can use:</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{totalAmountCanBuy | currency : 'USD' : '$'}}</strong>
                                    </div>
                                </div>
                                <div class="row pl-2">
                                    <div class="col-md-8">
                                        <strong i18n>Total amount use:</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{{totalPaid | currency : 'USD' : '$'}}</strong>
                                    </div>
                                </div>
                                <div class="row pl-2 ">
                                    <div class="col-md-8">
                                        <strong i18n>Changing Price:</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong style="color: red">{{totalChanging | currency : 'USD' : '$'}}</strong>
                                    </div>
                                </div>
                                <div class="row pl-2 ">
                                    <div class="col-md-8">
                                        <strong i18n>Total paid to seller:</strong>
                                    </div>
                                    <div class="col-md-4">
                                        <strong style="color: red">{{totalPaid | currency : 'USD' : '$'}}</strong>
                                    </div>
                                </div>
                                <div class="row pl-2 col-md-12" *ngIf="checkShowNotify()">
                                    <div class="checkbox checkbox-success" style="color: red">
                                        <strong for="checkSendEmailPrice" i18n>
                                            Have changing price :
                                        </strong>
                                        <input id="checkSendEmailPrice" class="custom-control-input"
                                               name="checkSendEmailPrice"
                                               [(ngModel)]="data.emailPrice"
                                               type="checkbox">
                                        <label for="checkSendEmailPrice" style="font-size: 12px" i18n>
                                            Send mail to customer |
                                        </label>
                                        <button class="btn btn-danger btn-sm btn-rounded"
                                                (click)="sendNotifyChanging()"><i class="fa fa-send"></i> Send notify
                                        </button>
                                    </div>
                                </div>
                                <div class="row pl-2 col-md-12" *ngIf="checkChangePrice()">
                                    <div class="checkbox checkbox-success" style="color: red">
                                        <button class="btn btn-info btn-sm btn-rounded"
                                                (click)="customerConfirmPrice()" i18n>
                                            <i class="fa fa-check"></i>
                                            Customer confirm changing price.
                                        </button>
                                    </div>
                                </div>
                                <div class="row pl-2 col-md-12">
                                    <div class="checkbox checkbox-success" style="color: green">
                                        <strong for="checkSendEmailFragile" i18n>
                                            If it is fragile :
                                        </strong>
                                        <input id="checkSendEmailFragile" class="custom-control-input"
                                               name="checkSendEmailFragile"
                                               [(ngModel)]="data.emailFragile"
                                               type="checkbox">
                                        <label for="checkSendEmailFragile" style="font-size: 12px" i18n>
                                            Send mail to customer |
                                        </label>
                                        <button class="btn btn-success btn-sm btn-rounded"
                                                (click)="sendNotifyFragile()"><i class="fa fa-send"></i> Send notify
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mt-2 pl-2">
                                    <div class="col-md-6">
                                        <strong i18n>Export Warehouse</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="input-sm input-full" name="warehouse"
                                                [(ngModel)]="data.warehouse"
                                        >
                                            <option value="0" i18n>--- Select WareHouse ---</option>
                                            <option *ngFor="let wh of warehouse" value="{{wh.id}}">{{wh.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-2 pl-2">
                                    <div class="col-md-6">
                                        <strong i18n>Purchase Account</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <input list="listAccounts" type="text"
                                               [(ngModel)]="data.accountPurchase"
                                               class="input-sm input-full" placeholder="Chose an account" i18n>
                                        <datalist id="listAccounts" *ngIf="listAccount">
                                            <option *ngFor="let account of listAccount" value="{{account.email}}"
                                                    label=" skdjskjdksj"></option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="row mt-2 pl-2">
                                    <div class="col-md-6">
                                        <strong i18n>Card</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="input-sm input-full" name="cart" [(ngModel)]="data.card_payment">
                                            <option value="" i18n>--- Select Card ---</option>
                                            <optgroup label="List card" *ngIf="listCard">
                                                <option *ngFor="let cart_payment of listCard"
                                                        value="{{cart_payment.id}}">{{cart_payment.card_code}}</option>
                                            </optgroup>
                                        </select>
                                        <br>
                                        <input type="text" class="input-sm input-full" placeholder="Buck/Giftcard/Point"
                                               [(ngModel)]="data.buckAmount" i18n>
                                    </div>
                                </div>
                                <div class="row mt-2 pl-2">
                                    <div class="col-md-6">
                                        <strong i18n>Order {{orders[0].portal | uppercase }}  ID</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="input-sm input-full" placeholder="Type order ID"
                                               [(ngModel)]="data.orderIdPurchase" i18n>
                                    </div>
                                </div>
                                <div class="row mt-2 pl-2">
                                    <div class="col-md-6">
                                        <strong i18n>Paypal Transaction</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="input-sm input-full"
                                               placeholder="Only ebay Oder and PP Payment" [(ngModel)]="data.PPTranId"
                                               i18n>
                                    </div>
                                </div>
                                <div class="row mt-2 pl-2">
                                    <div class="col-md-6">
                                        <strong i18n>Note</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="input-sm input-full" placeholder="Note"
                                               [(ngModel)]="data.note" i18n>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align: center;">
    <div class="btn-group">
        <button class="btn btn-danger" (click)="closePop()" i18n>Cancel</button>
        <button class="btn btn-success" *ngIf="checkShowSaveBtn()" (click)="updatePurchase()"
                i18n>Save
        </button>
    </div>
</div>
