<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>LIST ALL ITEMS OF SHIPMENTS</h3>
                </div>
                <form [formGroup]="searchForm" name="formSearch" class="row item-filter-option">
                    <div class="col-md-4 form-group m-b-10">
                        <label for="keyWordGroup" class="form-control-label">Keyword...</label>
                        <div class="row input-group input-group-sm ml-0 mr-0" id="keyWordGroup">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="keyCategory"
                                    id="keyCategory" formControlName="keyCategory">
                                <option value="ALL">ALL</option>
                            </select>
                            <input class="form-control form-control-sm" id="keyWord" formControlName="keyWord"
                                   type="text" (keyup.enter)="search()">
                        </div>
                    </div>
                    <div class="col-md-3 form-group m-b-10">
                        <label for="currentStatus" class="form-control-label">Current Status</label>
                        <select class="form-control form-control-sm" name="currentStatus" id="currentStatus"
                                formControlName="currentStatus">
                            <option value="ALL">--All Status--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-5 form-group m-b-10">
                        <label for="dateTimePicker" class="form-control-label">Time Search</label>
                        <div class="row input-group input-group-sm" id="dateTimePicker">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus"
                                    id="timeKey" formControlName="timeKey">
                                <option value="create_at">Create Time</option>
                                <option value="SELLER_SHIPPED">Seller ship Time</option>
                            </select>
                            <input #drp="bsDaterangepicker" bsDaterangepicker
                                   class="col-sm-7 form-control form-control-sm ">
                            <span class="input-group-btn">
                                <button (click)="drp.toggle()"
                                        [attr.aria-expanded]="drp.isOpen"
                                        class="btn btn-sm btn-info" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <section class="row item-operation">
                    <div class="col-md-12">
                        <div class="form-inline pull-right">
                          <span class="button-group">
                            <a class="btn btn-info btn-sm text-white">
                                <i class="fa fa-file-excel-o"></i> Export Excel
                            </a>
                          </span>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination"></div>
                        <div class="row grid">
                            <div class="col-md-12">
                                <div class="grid-view grid-view-custom">
                                    <div class="row grid-view-row-margin-rl-0 grid-view-summary m-b-10">
                                        <div class="col-md-6 grid-view-col-padding-rl-0">
                                            Showing
                                            <select class="form-control-sm select-custom"
                                                    (change)="handlePerPage($event)">
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="all">All</option>
                                            </select>
                                            of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items
                                        </div>
                                        <div class="col-md-6 grid-view-col-margin-rl-0">
                                            <pagination [boundaryLinks]="true"
                                                        [totalItems]="totalCount"
                                                        (pageChanged)="handlePagination($event)"
                                                        [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                                        [rotate]="true">
                                            </pagination>
                                        </div>
                                    </div>
                                    <ng-container [ngTemplateOutlet]="toggleShipmentTemplate"></ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<ng-template #shipmentListTemplate>
    <div class="row grid-view-row-margin-rl-0 grid-view-content">
        <div class="col-md-12 grid-view-col-padding-rl-0">
            <div class="row grid-view-row-margin-rl-0 grid-header">
                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                    <input type="checkbox" class="checkbox custom-checkbox" style="z-index: 9999">
                </div>
                <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                    <b>Shipment</b>
                </div>
                <div class="col-md-8 col-sm-12 grid-view-col-border grid-view-col-content">
                    <b>Parcel</b>
                </div>
            </div>
            <div *ngFor="let shipment of shipments" class="row grid-view-row-margin-rl-0 div-hover">
                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                    <input type="checkbox" class="checkbox custom-checkbox" style="z-index: 9999">
                </div>
                <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                    <h5 class="text-danger">{{shipment.shipment_code}}<span class="label label-danger">{{shipment.shipment_status}}</span></h5>
                    <p class="p-custom m-b-0" *ngIf="shipment.customer?.email">Customer: <strong>{{shipment.customer.email}}</strong></p>
                    <p class="p-custom m-b-0">Note: <span class="text-muted">{{shipment.note_by_customer}}</span></p>
                    <hr style="width: 75%" class="mt-2 mb-2">
                    <h6>Ship Form</h6>
                    <p class="p-custom m-b-0">Warehouse: <strong>BoxMe Ho Chi Minh</strong></p>
                    <p class="p-custom m-b-0">Location: <strong>45 Tan Son</strong></p>
                    <hr style="width: 75%" class="mt-2 mb-2">
                    <h6>Ship To <a href="javascript:void (0);" (click)="showEditAddress(shipment)" ><i class="fa fa-edit"></i></a></h6>
                    <p class="p-custom m-b-0">Name: <strong>{{shipment.receiver_name}}</strong></p>
                    <p class="p-custom m-b-0">Address: <strong>{{shipment.receiver_name}}</strong></p>
                    <p class="p-custom m-b-0">Location: <strong>{{shipment.receiver_post_code}} - {{shipment.receiver_province_name}} - {{shipment.receiver_district_name}}</strong></p>
                </div>
                <div class="col-md-8 col-sm-12 grid-view-col-border grid-view-col-content">
                    <div class="row grid-view-row-margin-rl-0 grid-content m-b-10">
                        <ng-container [ngTemplateOutlet]="toggleParcelTemplate"
                                      [ngTemplateOutletContext]="{parcel:pullParcelData(shipment)}"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #shipmentParcelListTemplate let-parcel="parcel">
    <div class="col-md-12 grid-view-col-content">
        <div class="row grid-view-row-margin-rl-0 grid-content">
            <h5 class="col-md-11 pt-1 pl-0">Total: <span class="text-danger">{{parcel.totalParcel}}</span> items - Quantity: <span class="text-danger">{{parcel.totalQuantity}}</span> - Weight: <span class="text-danger">{{parcel.totalWeight}}</span> gram</h5>
            <span class="col-md-1 button-group pr-0 pull-right">
                <button class="btn btn-sm btn-warning mr-0"><i class="fa fa-eye-slash"></i></button>
            </span>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row grid-view-row-margin-rl-0 grid-header">
                    <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                        ID
                    </div>
                    <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                        Warehouse Tag
                    </div>
                    <div class="col-md-3 col-sm-12 grid-view-col-border grid-view-col-content">
                        Quantity(*)/Weight(g)
                    </div>
                    <div class="col-md-3 col-sm-12 grid-view-col-border grid-view-col-content">
                       COD/Price (VND)
                    </div>
                    <div class="col-md-2 col-sm-12 grid-view-col-border grid-view-col-content">
                        Action
                    </div>
                </div>
                <div *ngFor="let item of parcel.parcels" class="row grid-view-row-margin-rl-0 grid-content">
                    <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                       ##{{item.id}}
                    </div>
                    <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                       {{item.box_me_warehouse_tag}}
                    </div>
                    <div class="col-md-3 col-sm-12 grid-view-col-border grid-view-col-content">
                        {{item.quantity}}/{{item.weight}}
                    </div>
                    <div class="col-md-3 col-sm-12 grid-view-col-border grid-view-col-content">
                        {{item.cod}}/{{item.price}}
                    </div>
                    <div class="col-md-2 col-sm-12 grid-view-col-border grid-view-col-content">
                            <div class="button-group">
                                <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                            </div>
                    </div>
                </div>
                <div class="row grid-view-row-margin-rl-0 m-t-10">
                    <div class="col-md-6 pull-left pl-0">
                        <div class="form-group form-inline m-b-0">
                            <label class="form-control-label">Hold:</label>
                            <div class="switch form-control-sm">
                                <label>No<input type="checkbox" checked=""><span class="lever"></span>Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right pr-0">
                        <div class="form-group form-inline m-b-0">
                            <label class="form-control-label">Bảo hiểm:</label>
                            <div class="switch form-control-sm">
                                <label>No<input type="checkbox" checked=""><span class="lever"></span>Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-2 mb-2">
                <div class="row grid-view-row-margin-rl-0">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2 p-0">
                                <img src="{{parcel.courier.logo}}" alt="" width="100%">
                            </div>
                            <div class="col-md-10 pl-2" style="padding-top: 0.4rem">
                                <p class="p-custom m-b-0">Name: <a href="javascript:void(0);" class="text-danger">Viettel Post CPN </a><a href="javascript:void(0);" title="Re pick courier" class="label label-info"><i class="fa fa-refresh"></i></a> </p>
                                <p class="p-custom m-b-0">Estimate: <span class="text-danger">{{parcel.courier.estimate.from}} hrs - {{parcel.courier.estimate.to}} days</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-style-none text-right">
                            <li>COD: <span class="text-danger">{{parcel.totalCod}} VND</span>  </li>
                            <li>Shipping Fee: <span class="text-danger">{{parcel.totalPrice}}VND </span> </li>
                            <li>Item Price: <span class="text-danger">{{parcel.totalPrice}}VND </span>  </li>
                        </ul>
                    </div>
                </div>
                <hr class="mt-2 mb-2">
                <div class="row grid-view-row-margin-rl-0">
                    <div class="col-md-12 text-right">
                            <strong>Total Price</strong> : <span class="text-danger">{{parcel.totalPrice}}VND </span>
                    </div>
                </div>
                <div class="row grid-view-row-margin-rl-0 m-t-10">
                    <div class="col-md-12 text-right">
                       <div class="button-group">
                           <button class="btn btn-sm btn-success">Create Shipment</button>
                           <button class="btn btn-sm btn-danger">Cancel Shipment</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #shipmentParcelCreateTemplate let-parcel="parcel">
    {{parcel|json}}
</ng-template>
<div class="modal fade" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="editAddress" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAddressLable">Edit Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Full Name</label>
                        <input [(ngModel)]="address.receiver_name" name="fullname" type="text" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Email</label>
                        <input [(ngModel)]="address.receiver_email" name="email" type="text" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Phone</label>
                        <input [(ngModel)]="address.receiver_name" name="phone" type="text" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Address</label>
                        <input [(ngModel)]="address.receiver_address" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Country</label>
                        <input [(ngModel)]="address.receiver_country_id" name="fullname" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Province</label>
                        <input [(ngModel)]="address.receiver_province_id" name="email" type="text" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">District</label>
                        <input [(ngModel)]="address.receiver_district_id" name="phone" type="text" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="form-control-label">Zip Code</label>
                        <input [(ngModel)]="address.receiver_post_code" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
