<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 i18n>LIST ALL ITEMS OF SHIPMENTS</h3>
                </div>
                <form [formGroup]="searchForm" name="formSearch" class="row item-filter-option">
                    <div class="col-md-4 form-group m-b-10">
                        <label for="keyWordGroup" class="form-control-label" i18n>Keyword...</label>
                        <div class="row input-group input-group-sm ml-0 mr-0" id="keyWordGroup">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="keyCategory"
                                    id="keyCategory" formControlName="keyCategory">
                                <option value="ALL" i18n>ALL</option>
                            </select>
                            <input class="form-control form-control-sm" id="keyWord" formControlName="keyWord"
                                   type="text" (keyup.enter)="search()">
                        </div>
                    </div>
                    <div class="col-md-3 form-group m-b-10">
                        <label for="currentStatus" class="form-control-label" i18n>Current Status</label>
                        <select class="form-control form-control-sm" name="currentStatus" id="currentStatus"
                                formControlName="currentStatus">
                            <option value="ALL" i18n>--All Status--</option>
                            <option value="STOCK_IN_US" i18n>STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED" i18n>SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-5 form-group m-b-10">
                        <label for="dateTimePicker" class="form-control-label" i18n>Time Search</label>
                        <div class="row input-group input-group-sm" id="dateTimePicker">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus"
                                    id="timeKey" formControlName="timeKey">
                                <option value="create_at" i18n>Create Time</option>
                                <option value="SELLER_SHIPPED" i18n>Seller ship Time</option>
                            </select>
                            <input #drp="bsDaterangepicker" bsDaterangepicker
                                   class="col-sm-7 form-control form-control-sm ">
                            <span class="input-group-btn">
                                <button (click)="drp.toggle()"
                                        [attr.aria-expanded]="drp.isOpen"
                                        class="btn btn-sm btn-info" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <section class="row item-operation">
                    <div class="col-md-12">
                        <div class="form-inline pull-right">
                          <span class="button-group">
                            <a class="btn btn-info btn-sm text-white">
                                <i class="fa fa-file-excel-o" i18n>Export Excel</i>
                            </a>
                          </span>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination"></div>
                        <div class="row grid">
                            <div class="col-md-12">
                                <div class="grid-view grid-view-custom">
                                    <div class="row grid-view-row-margin-rl-0 grid-view-summary m-b-10">
                                        <div class="col-md-6 grid-view-col-padding-rl-0">
                                            <span i18n>Showing</span>
                                            <select class="form-control-sm select-custom"
                                                    (change)="handlePerPage($event)">
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="all">All</option>
                                            </select>
                                            <span >of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items</span>
                                        </div>
                                        <div class="col-md-6 grid-view-col-margin-rl-0">
                                            <pagination [boundaryLinks]="true"
                                                        [totalItems]="totalCount"
                                                        (pageChanged)="handlePagination($event)"
                                                        [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                                        [rotate]="true">
                                            </pagination>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                              <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                              <th style="width: 8%">#</th>
                                                              <th style="width: 20%">Shipment</th>
                                                              <th>Customer & Receiver</th>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let shipment of shipments">
                                                              <tr>
                                                                  <td>
                                                                      #{{shipment.id}}
                                                                  </td>
                                                                  <td>
                                                                      <p class="mb-1">Shipment Code:{{shipment.shipment_code}}</p>
                                                                      <p class="mb-1">Shipment Status:{{shipment.shipment_status}}</p>
                                                                      <p class="mb-1">Total Parcels: <span class="text-danger">{{shipment.packageItems.length}}</span></p>
                                                                      <p class="mb-1">Total Weigh:{{shipment.total_weight}}</p>

                                                                      <div class="row mb-2">
                                                                          <div class="col-md-3">
                                                                            <img style="width: 100%" src="{{shipment.courier_logo}}" alt="">
                                                                          </div>
                                                                          <div class="col-md-9 p-l-0">
                                                                              <p class="mb-1">Courier Code:{{shipment.courier_code}} (1-2 days)</p>
                                                                              <p class="mb-1">Shipping Fee:{{shipment.courier_code}}</p>
                                                                          </div>
                                                                      </div>
                                                                      <div class="row mb-2">
                                                                          <div class="col-md-12">
                                                                              <div class="btn-group">
                                                                                  <button class="btn btn-sm btn-default"><i class="fa fa-comments mr-1"></i> Chat</button>
                                                                                  <button class="btn btn-sm btn-default"><i class="fa fa-comments mr-1"></i>Group</button>
                                                                                  <button class="btn btn-sm btn-default"><i class="fa fa-bell mr-1"></i></button>
                                                                              </div>
                                                                          </div>
                                                                      </div>

                                                                  </td>
                                                                <td>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <p class="mb-1" *ngIf="shipment.customer?.first_name">Customer:{{shipment.customer.first_name}} ({{shipment.customer.id}}) - {{shipment.customer.phone}}</p>
                                                                            <hr class="mb-1 mt-1">
                                                                            <p class="mb-1">Receiver:{{shipment.receiver_name}}</p>
                                                                            <p class="mb-1">Contact:{{shipment.receiver_phone}} - {{shipment.receiver_email}}</p>
                                                                            <p class="mb-1">Address: <strong>{{shipment.receiver_address}}</strong></p>
                                                                            <p class="mb-1">Location: <strong>{{shipment.receiver_post_code}} - {{shipment.receiver_province_name}} - {{shipment.receiver_district_name}}</strong></p>
                                                                            <hr class="mb-1 mt-1">
                                                                            <p class="mb-1">Note:{{shipment.note_by_customer}}</p>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                          <div class="table-responsive">
                                                                            <table class="table table-bordered custom-table">
                                                                              <thead>
                                                                              <th style="width: 55%">CBTAG</th>
                                                                              <th style="width: 25%">Product/Order</th>
                                                                              <th style="width: 10%">W(g)</th>
                                                                              <th style="width: 5%">Qty</th>
                                                                              <th>###</th>
                                                                              </thead>
                                                                              <tbody>
                                                                              <ng-container>
                                                                                <tr *ngFor="let packageItem of shipment.packageItems">
                                                                                  <td>
                                                                                    {{packageItem.box_me_warehouse_tag}}
                                                                                  </td>
                                                                                  <td>
                                                                                    {{packageItem.product_id}}/{{packageItem.order_id}}
                                                                                  </td>
                                                                                  <td>
                                                                                    {{packageItem.weight}}
                                                                                  </td>
                                                                                  <td>
                                                                                    {{packageItem.quantity}}
                                                                                  </td>
                                                                                  <td>
                                                                                    <div class="btn-group">
                                                                                      <button class="btn btn-sm btn-warning"><i class="fa fa-remove"></i></button>
                                                                                    </div>
                                                                                  </td>
                                                                                </tr>
                                                                              </ng-container>
                                                                              </tbody>
                                                                            </table>
                                                                          </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-2">
                                                                      <div class="col-md-12 text-right">
                                                                        <div class="button-group">
                                                                          <button class="btn btn-sm btn-warning" (click)="activeCreateShipment(shipment)">Create Shipment</button>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                </td>
                                                              </tr>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                              </div>
                                        </div>
                                    </div>
<!--                                    <ng-container [ngTemplateOutlet]="toggleShipmentTemplate"></ng-container>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #shipmentCreateModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left" i18n>Create Shipment</h4>
                <button type="button" (click)="shipmentCreateModal.hide()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body" *ngIf="shipment">
                  <div class="row" >
                      <div class="col-md-8">
                          <h6 class="box-title">1. Pickup From</h6>
                          <p class="mb-1">Warehouse:{{shipment.warehouseSend.name}}</p>
                          <p class="mb-1">Address:{{shipment.warehouseSend.address}}</p>
                          <h6 class="box-title">2. Ship To</h6>
                          <p class="mb-1">Receiver:{{shipment.receiver_name}}</p>
                          <p class="mb-1">Contact:{{shipment.receiver_phone}} - {{shipment.receiver_email}}</p>
                          <p class="mb-1">Address: <strong>{{shipment.receiver_address}}</strong></p>
                          <p class="mb-1">Location: <strong>{{shipment.receiver_post_code}} - {{shipment.receiver_province_name}} - {{shipment.receiver_district_name}}</strong></p>
                          <h6 class="box-title">3. Parcel</h6>
                           <div class="table-responsive">
                             <table class="table table-bordered custom-table">
                                  <thead>
                                      <th style="width: 25%">Image</th>
                                      <th>Information</th>
                                      <th style="width: 5%">Action</th>
                                  </thead>
                                  <tbody>
                                  <ng-container *ngFor="let packageItem of shipment.packageItems">
                                      <tr>
                                          <td>
                                              <img width="100%" src="{{packageItem.product.link_img}}" alt="">
                                          </td>
                                          <td>
                                              <p class="mb-1">Package Code:{{packageItem.package_code}}</p>
                                              <p class="mb-1">Warehouse Tag:{{packageItem.box_me_warehouse_tag}}</p>
                                              <p class="mb-1">Name:{{packageItem.product.product_name}}</p>
                                              <p class="mb-1">Quantity/Weight:{{packageItem.quantity}}/{{packageItem.quantity}}</p>
                                              <p class="mb-1">COD:{{packageItem.cod}}</p>
                                              <p class="mb-1">Price:{{packageItem.price}}</p>
                                          </td>
                                          <td>
                                            <button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                                          </td>
                                      </tr>
                                  </ng-container>

                                  </tbody>
                             </table>
                           </div>
                      </div>
                      <div class="col-md-4">
                          <h6 class="box-title">4. Courier</h6>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                            <div class="button-group">
                                  <button class="btn btn-sm btn-warning">5.Create</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
</div>
