
p {
  margin: 2px;
}

* {
  font-family: "fontawesome", Helvetica, Arial, sans-serif;
}

.custom-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.table-custom td, .table-custom th {
  padding: .25rem;
  vertical-align: middle;
  border-top: 1px solid #e9ecef;
}
.table-scrollbar {
  display: block;
}
.table-scrollbar thead, .table-scrollbar tbody  {
  display: inline-block;
}

.table-scrollbar tbody  {
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.custom-blockquote {
  border-left: 5px solid #1976d2;
  border: 1px solid rgba(120, 130, 140, 0.13);
  padding: 5px;
}

.modal-80 {
    max-width: 80%;
}
modal-75 {
  max-width: 75%;
}

.custom-select {
  padding-bottom: 1px;
  padding-top: 2px;
  height:20px;
  margin-top: -2px;
}
