<div class="modal-body ng-scope">
  <form [formGroup] = "editForm" class="form-horizontal ng-pristine ng-valid">
    <table class="table table-striped form-update-package">
      <thead>
      <tr>
        <th width="2%">#</th>
        <th  class="text-center" title="Mã kiện hàng" i18n>Tracking Code</th>
        <th  class="text-center" i18n>Quantity</th>
        <th  title="Cân nặng tạm tính" i18n>Weight (Kg)</th>
        <th title="Dài" i18n>Dimension Length(cm)</th>
        <th title="Rộng" i18n>Dimension Width(cm)</th>
        <th title="Cao" i18n>Dimension Height(cm)</th>
      </tr>
      </thead>
      <tbody>
      <tr class="ng-scope">
        <td class="ng-binding">1</td>
        <td>
          <input name="ladingId" formControlName="tracking_code"    placeholder="Tracking Code" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty" disabled="disabled">
        </td>
        <td>
          <input name="ladingId" formControlName="quantity"    placeholder="Quantity" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form">
        </td>
        <td><input name="netWeight" formControlName="weight"  placeholder="weight" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form"></td>
        <td><input name="lengthPackage" formControlName="dimension_l"  placeholder="Dimension Length" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form"></td>
        <td><input name="widthPackage" formControlName="dimension_w" placeholder="Dimension Width" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form"></td>
        <td><input name="heightPackage" formControlName="dimension_h" placeholder="Dimension Height" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form"></td>
        <!--<td><input name="weightWoodCrating" formControlName="weightWoodCrating"  placeholder="Cân nặng" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form"></td>-->
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 text-left">
      </div>
      <div class="col-md-6 text-right">
        <h5 class="padding"><span i18n>Total Weight:</span>  <strong class="text-danger ng-binding">{{ this.editForm.get('weight').value }}</strong></h5>
        <h5 class="padding"><span i18n></span>  <strong class="text-danger ng-binding">{{(this.editForm.get('quantity').value * (this.editForm.get('dimension_l').value * this.editForm.get('dimension_w').value * this.editForm.get('dimension_h').value))/5000}}kg</strong></h5>
        <!--<h5 class="padding">Cân nặng tính phí:  <strong class="text-danger ng-binding">1.5kg</strong></h5>-->
      </div>
    </div>

    <div class="alert alert-warning" role="alert">
      <p><strong i18n>Note:</strong></p>
    </div>
  </form>
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-success" (click)="updatePackage()" type="button" i18n>Update</button>
</div>
