<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3 i18n>LIST ALL ITEMS OF PACKAGES</h3>

        </div>
        <form [formGroup]="searchForm" name="formSearch" class="row item-filter-option">
          <div class="col-md-4 form-group m-b-10">
            <label for="keyWordGroup" class="form-control-label" i18n>Keyword...</label>
            <div class="row input-group input-group-sm ml-0 mr-0" id="keyWordGroup">
              <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus"
                      id="keyCategory" formControlName="keyCategory">
                <option value="ALL" i18n>ALL</option>
              </select>
              <input class="form-control form-control-sm" id="keyWord" formControlName="keyWord"
                     type="text" (keyup.enter)="search()">
            </div>
          </div>
          <div class="col-md-3 form-group m-b-10">
            <label for="currentStatus" class="form-control-label" i18n>Current Status</label>
            <select class="form-control form-control-sm" name="currentStatus" id="currentStatus"
                    formControlName="currentStatus">
              <option value="ALL" i18n>--All Status--</option>
              <option value="STOCK_IN_US" i18n>STOCK_IN_US</option>
              <option value="SELLER_SHIPPED" i18n>SELLER_SHIPPED</option>
            </select>
          </div>
          <div class="col-md-5 form-group m-b-10">
            <label for="dateTimePicker" class="form-control-label" i18n>Time Search</label>
            <div class="row input-group input-group-sm" id="dateTimePicker">
              <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus"
                      id="timeKey" formControlName="timeKey">
                <option value="create_at" i18n>Create Time</option>
                <option value="SELLER_SHIPPED" i18n>Seller ship Time</option>
              </select>
              <input #drp="bsDaterangepicker" bsDaterangepicker
                     class="col-sm-7 form-control form-control-sm ">
              <span class="input-group-btn">
                                <button (click)="drp.toggle()"
                                        [attr.aria-expanded]="drp.isOpen"
                                        class="btn btn-sm btn-info" type="button">
                                            <i class="fa fa-calendar"></i>
                                </button>
                            </span>
            </div>
          </div>
        </form>
        <section class="row item-operation">
          <div class="col-md-12">
            <div class="form-inline pull-right">
                            <span class="button-group">
                                <a class="btn btn-info btn-sm text-white" i18n>
                                    <i class="fa fa-file-excel-o"></i> Export Excel
                                </a>
                            </span>
            </div>
          </div>
        </section>
        <article class="row item-list">
          <div class="col-md-12">
            <div class="row pagination"></div>
            <div class="row grid">
              <div class="col-md-12">
                <div class="grid-view grid-view-custom">
                  <div class="row grid-view-row-margin-rl-0 grid-view-summary m-b-10">
                    <div class="col-md-6 grid-view-col-padding-rl-0">
                      <span i18n>Showing</span>
                      <select class="form-control-sm select-custom"
                              (change)="handlePerPage($event)">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="all">All</option>
                      </select>
                      <span i18n>of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items</span>
                    </div>
                    <div class="col-md-6 grid-view-col-margin-rl-0">
                      <pagination [boundaryLinks]="true"
                                  [totalItems]="totalCount"
                                  (pageChanged)="handlePagination($event)"
                                  [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                  [rotate]="true">
                      </pagination>
                    </div>
                  </div>
                  <div class="row grid-view-row-margin-rl-0 grid-view-list m-b-10">
                    <div class="col-md-12 grid-view-col-padding-rl-0">
                      <div class="row grid-view-row-margin-rl-0 grid-header">
                        <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                          <input type="checkbox" class="checkbox custom-checkbox"
                                 style="z-index: 9999">
                        </div>
                        <div class="col-md-4 col-sm-6 grid-view-col-border grid-view-col-content">
                          Package
                        </div>
                        <div class="col-md-5 col-sm-12 grid-view-col-border grid-view-col-content">
                          Order
                        </div>
                        <div class="col-md-2 col-sm-12 grid-view-col-border grid-view-col-content">
                          Action
                        </div>
                      </div>
                      <div *ngFor="let item of items"
                           class="row grid-view-row-margin-rl-0 grid-content">
                        <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                          <input type="checkbox" class="checkbox custom-checkbox"
                                 style="z-index: 9999">
                        </div>
                        <div class="col-md-4 col-sm-6 grid-view-col-border grid-view-col-content">
                          <p class="p-custom">Trạng thái kiện: <span class="label label-danger">{{item.current_status}}</span></p>
                          <p class="p-custom">Mã kiện: <span class="label label-danger">{{item.package_code}}</span></p>
                        </div>
                        <div class="col-md-5 col-sm-12 grid-view-col-border grid-view-col-content">
                          Order
                        </div>
                        <div class="col-md-2 col-sm-12 grid-view-col-border grid-view-col-content">
                          Action
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--core-->
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
