<!--<span >-->
    <!--<span class="m-r-5"><span class="text-danger">{{variant}}</span></span>-->
<!--</span>-->
<!--<a href="javascript:void(0);"><i class="fa fa-edit"></i></a>-->
<!--<div bsModal #showEditVariant="bs-modal" class="modal fade" tabindex="-1" role="dialog"-->
     <!--aria-labelledby="mySmallModalLabel" aria-hidden="false">-->
  <!--<div class="modal-dialog modal-sm">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">Update </h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<form [formGroup]="editForm">-->
              <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                  <!--<label>Variant</label>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                  <!--<input  type="text" class="form-control form-control-sm" formControlName="variant"  name="variant">-->
                <!--</div>-->
              <!--</div>-->
            <!--</form>-->
            <!--<div class="row">-->
              <!--<div class="col-md-12">-->
                <!--<hr>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-md-12 text-right">-->
                <!--<div class="button-group text-right">-->
                  <!--<button class="btn btn-sm btn-success pull-right">Update</button>-->
                  <!--<button class="btn btn-sm btn-secondary pull-right" aria-label="Close">Cancel</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
