<div class="content-block">
    <div class="header-content">
        <h3>Management Warehouse</h3>
    </div>
    <div class="body-content bg-white" id="search-block">
        <div class="row col-md-12" id="input-search">
            <div class="col-md-3 form-group">
                <input class="form-control form-control-sm" placeholder="Tracking code" [(ngModel)]="searchInput.trackingCode">
            </div>
            <div class="col-md-3 form-group">
                <input class="form-control form-control-sm" placeholder="Manifest code" [(ngModel)]="searchInput.manifestCode">
            </div>
            <div class="col-md-3 form-group">
                <input class="form-control form-control-sm" placeholder="Shipment Code (BM Code)" [(ngModel)]="searchInput.shipmentCode">
            </div>
            <div class="col-md-3 form-group">
                <input class="form-control form-control-sm" placeholder="Package Code" [(ngModel)]="searchInput.packageCode">
            </div>
            <div class="col-md-3 form-group">
                <input class="form-control form-control-sm" placeholder="WS Tracking Code" [(ngModel)]="searchInput.WsTrackingCode">
            </div>
        </div>
        <div class="col-md-12 btn-group btn-group-sm" id="btn-search">
            <button class="btn btn-sm btn-outline-inverse" (click)="search()"><i class="fa fa-search"></i> Search</button>
            <button class="btn btn-sm btn-outline-inverse" (click)="clearSearch()"><i class="fa fa-refresh"></i> Refresh</button>
            <button class="btn btn-sm btn-outline-inverse" (click)="createNew()"><i class="fa fa-plus"></i> Create New Tracking</button>
            <button class="btn btn-sm btn-outline-inverse" (click)="exportReport()"><i class="fa fa-download"></i> Export</button>
        </div>
        <div class="col-md-12" id="filter-search" style="padding-top: 5px;">
            <ul class="list-inline">
                <li>
                    <b>Filter ({{totalCount}}):</b>
                </li>
                <li>
                <span class="pointer badge {{searchInput.tabFilter == 'all' || searchInput.tabFilter == '' ? 'badge-info' : 'badge-not-info' }}"
                      (click)="getFilterTab('all')">All</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'us_received'? 'badge-danger' : 'badge-not-danger' }}"
                      (click)="getFilterTab('us_received')">Us Received</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'us_sending'? 'badge-warning' : 'badge-not-warning' }}"
                      (click)="getFilterTab('us_sending')">Us Sending</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'local_received'? 'badge-red' : 'badge-not-red' }}"
                      (click)="getFilterTab('local_received')">Local Received</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'local_inspected'? 'badge-red' : 'badge-not-red' }}"
                      (click)="getFilterTab('local_inspected')">Local Inspected</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'created_shipment'? 'badge-purple' : 'badge-not-purple' }}"
                      (click)="getFilterTab('created_shipment')">Created Shipment</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'delivering'? 'badge-info' : 'badge-not-info' }}"
                      (click)="getFilterTab('delivering')">Delivering</span>
                </li>
                <li>
                <span class="pointer badge {{ searchInput.tabFilter == 'at_customer'? 'badge-success' : 'badge-not-success' }}"
                      (click)="getFilterTab('at_customer')">At Customer</span>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="row list-summary">
                <div class="col-md-6">
                    <span i18n>Showing</span>
                    <select class="form-control-sm select-custom"
                            [(ngModel)]="perPage" (change)="search()">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="all">All</option>
                    </select>
                    <span>of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items</span>
                </div>
                <div class="col-md-6">
                    <pagination [boundaryLinks]="true"
                                [totalItems]="totalCount"
                                (pageChanged)="handlePagination($event)"
                                [maxSize]="10"
                                [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                [rotate]="true">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content" id="result-block">
        <div></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="35%">Tracking Code</th>
                <th width="35%">Detail</th>
                <th width="15%">Status</th>
                <th width="15%">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let tracking of data">
                <tr>
                    <td>
                        <div class="row col-md-12">
                            <div class="col-md-12">
                                Tracking Code (Us): <b>{{tracking.tracking_code}}</b><br>
                                Manifest Code: <b>{{tracking.manifest_code}}</b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <ng-container *ngFor="let draftDataTracking of tracking.draftDataTrackings">
                                <div>
                                    Tracking Code (WS): <b>{{draftDataTracking.ws_tracking_code}}</b> - <b>{{draftDataTracking.type_tracking}}</b><br>
                                    Order : <b>{{draftDataTracking.order_id}}</b><br>
                                    Product : <b>{{draftDataTracking.product_id}}</b><br>
                                    Status : <b>{{draftDataTracking.status}}</b><br>
                                </div>
                                <hr>
                            </ng-container>
                        </div>
                    </td>
                    <td><span class="badge {{tracking.status | statusTracking}}">{{tracking.status}}</span></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-outline-inverse">Local Received</button>
                            <button class="btn btn-sm btn-outline-inverse">Option <i class="fa fa-caret-down"></i></button>
                        </div>
                    </td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>
<div bsModal #createNewTracking="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card m-b-0">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 i18n>Add tracking Us Received</h3>
                                </div>
                                <div class="col-md-12 form-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group m-b-10">
                                            <label for="tracking_code" class="form-control-label">Tracking code <i class="fa fa-question-circle" tooltip="You can enter multiple tracking separated by commas"></i></label>
                                            <textarea id="tracking_code" [(ngModel)]="createForm.tracking_codes" class="form-control form-control-sm" placeholder="Tracking code ..." style="width: 100%" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group m-b-10">
                                            <label for="time_received" class="form-control-label">Time Received</label>
                                            <input type="datetime-local" [(ngModel)]="createForm.time_received" class="form-control form-control-sm" id="time_received" placeholder="Time Received">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group m-b-10">
                                            <label for="warehouse_received" class="form-control-label">Warehouse received</label>
                                            <select id="warehouse_received"  [(ngModel)]="createForm.warehouse_received" class="form-control form-control-sm">
                                                <option value="">-- Select Warehouse --</option>
                                                <option *ngFor="let wh of warehouses" value="{{wh.id}}">{{wh.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="button-group">
                                                <button class="btn btn-sm btn-success" i18n (click)="MarkUsReceived()">Insert Tracking</button>
                                                <button class="btn btn-sm btn-warning" (click)="createNewTracking.hide()" i18n>Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>