table p{
	margin-bottom: 3px;
}
.modal-header {
    padding: 10px 10px 10px 15px;
    line-height: 30px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #F5F5F5;
    border-color: #d5d5d5;
}
.modal-header .close {
    margin-top: 5px;
    margin-right: 5px;
}
.modal-title {
    line-height: 30px;
}
.modal-body {
    padding: 15px;
}
.form-control {
    height: 32px;
    font-size: 12px;
    line-height: 18px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* -webkit-appearance: none; */
    border: 1px solid #D5D5D5;
    background: #F9F9F9;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
}
textarea{
    height: 100px !important;
}
.form-group {
    margin-bottom: 10px;
}
.modal-content{
border: none;
    border-radius: 0px;
}
.modal-footer {
    background: #F5F5F5;
    border-color: #D5D5D5;
    padding: 10px 15px;}
@media (min-width: 576px)
{
	.modal-dialog {
    max-width: 900px;
}
}
