<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>LIST ALL ITEMS OF PACKAGES</h3>

                </div>
                <form action="" class="row item-filter-option">
                    <div class="col-md-2 form-group m-b-10">
                        <label class="form-control-label">Code BM,CB,TK,SOI,SDT...</label>
                        <input class="form-control form-control-sm" type="text" name="keyWord">
                    </div>
                </form>
                <section class="row item-operation">
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="btn-group" dropdown>
                                <button dropdownToggle id="addFilterButton"
                                        class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                        aria-controls="addFilterMenu">
                                    <i class="icon-equalizer"></i> Add Filter
                                </button>
                                <ul id="addFilterMenu" *dropdownMenu class="dropdown-menu"
                                    aria-labelledby="addFilterButton">
                                    <li role="menuitem">
                                        <a class="dropdown-item" href="javascript:void(0)">
                                            <i class="fa fa-check ng-star-inserted"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!--<span class="text-danger" style="margin-left: 15px;padding-top: 7px;">123</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-inline pull-right">
                          <span class="button-group">
                            <a class="btn btn-info btn-sm text-white">
                                <i class="fa fa-file-excel-o"></i> Export Excel
                            </a>
                          </span>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination"></div>
                        <div class="row grid">
                            <div class="col-md-12">
                                <div class="grid-view grid-view-custom">
                                    <div class="row grid-view-row-margin-rl-0 grid-view-summary m-b-10">
                                        <div class="col-md-6 grid-view-col-padding-rl-0">
                                            Showing
                                            <select class="form-control-sm select-custom">
                                                <option value="20">20</option>
                                                <option value="20">50</option>
                                                <option value="20">100</option>
                                                <option value="20">200</option>
                                            </select>
                                            of page 1 in 8 page in total 2354 items
                                        </div>
                                    </div>
                                    <ng-container [ngTemplateOutlet]="togglePackageTemplate"></ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>


<ng-template #packageListTemplate>
    <div class="row grid-view-row-margin-rl-0 grid-view-content">
        <div class="col-md-12 grid-view-col-padding-rl-0">
            <div class="row grid-view-row-margin-rl-0 grid-header">
                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                    <input type="checkbox" class="checkbox custom-checkbox" style="z-index: 9999">
                </div>
                <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                    Tracking
                </div>
                <div class="col-md-8 col-sm-12 grid-view-col-border grid-view-col-content">
                    Detail
                </div>
            </div>
            <div *ngFor="let package of packages" class="row grid-view-row-margin-rl-0 grid-content">
                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                    <input type="checkbox" class="checkbox custom-checkbox" style="z-index: 9999">
                </div>
                <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                    <h5 class="text-danger">TB000009987</h5>
                    <p class="p-custom m-b-0">Current Status: <span class="label label-danger">Kho US</span></p>
                    <p class="p-custom m-b-0">Manifest Weight: <strong>1000 gram</strong></p>
                    <p class="p-custom m-b-0">Manifest Weight: <strong>1000 gram</strong></p>
                    <p class="p-custom m-b-0">Volume: <span class="text-danger">20x12x30</span><strong>(cm)</strong></p>
                    <p class="p-custom m-b-0">Receiver Warehouse: <strong>Boxme HCM (45 Tan son)</strong></p>
                </div>
                <div class="col-md-8 col-sm-12 grid-view-col-border grid-view-col-content">
                    <div *ngFor="let order of package.orders"
                         class="row grid-view-row-margin-rl-0 grid-content m-b-10 m-t-10">
                        <div class="col-md-12 col-sm-12 grid-view-col-border grid-view-col-content">
                            <h5 class="text-danger m-b-0">{{order.id}}</h5>
                        </div>
                        <div class="col-md-12 grid-view-col-padding-rl-0">
                            <div class="row grid-view-row-margin-rl-0 grid-header">
                                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                                    #ID
                                </div>
                                <div class="col-md-5 col-sm-6 grid-view-col-border grid-view-col-content">
                                    Name
                                </div>
                                <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                    Quantity
                                </div>
                                <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                    Weight
                                </div>
                                <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                    Warehouse Tag
                                </div>
                            </div>
                            <div *ngFor="let product of order.products;let i=index"
                                 class="row grid-view-row-margin-rl-0 grid-content">
                                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                                    #{{i}}
                                </div>
                                <div class="col-md-5 col-sm-6 grid-view-col-border grid-view-col-content">
                                    {{product.name}}
                                </div>
                                <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                    {{product.quantity}}
                                </div>
                                <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                    {{product.weight}} (gram)
                                </div>
                                <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                    {{product.warehouse_tag}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #orderListTemplate>

</ng-template>

<ng-template #productListTemplate>

</ng-template>

<!--<ng-container [ngTemplateOutlet]="testTemplate" [ngTemplateOutletContext]="{clue:'IamTester'}"></ng-container>-->
<!--<ng-template #testTemplate let-clue='clue'> -->
<!--<h3>{{clue}}</h3>-->
<!--</ng-template>-->