<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>LIST ALL ITEMS OF PACKAGES</h3>
                    <small>Showing <span class="text-danger">100</span> of <span class="text-danger">6868</span> Items
                    </small>
                </div>
                <form action="" class="row item-filter-option">
                    <div class="col-md-2 form-group m-b-10">
                        <label class="form-control-label">Code BM,CB,TK,SOI,SDT...</label>
                        <input class="form-control form-control-sm" type="text" name="keyWord">
                    </div>
                </form>
                <section class="row item-operation">
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="btn-group" dropdown>
                                <button dropdownToggle id="addFilterButton"
                                        class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                        aria-controls="addFilterMenu">
                                    <i class="icon-equalizer"></i> Add Filter
                                </button>
                                <ul id="addFilterMenu" *dropdownMenu class="dropdown-menu"
                                    aria-labelledby="addFilterButton">
                                    <li role="menuitem">
                                        <a class="dropdown-item" href="javascript:void(0)">
                                            <i class="fa fa-check ng-star-inserted"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!--<span class="text-danger" style="margin-left: 15px;padding-top: 7px;">123</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-inline pull-right">
                          <span class="button-group">
                            <a class="btn btn-info btn-sm text-white">
                                <i class="fa fa-file-excel-o"></i> Export Excel
                            </a>
                          </span>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination"></div>
                        <div class="row grid">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-custom">
                                        <thead>
                                        <tr>
                                            <th width="5%" class="text-center">
                                                <input type="checkbox" name="checkAllPackage">
                                            </th>
                                            <th width="25%" class="text-left"><i class="fa fa-cube"></i> Package</th>
                                            <th width="45%"><i class="fa fa-info-circle"></i> Detail</th>
                                            <th width="25%" class="text-left"><i class="fa fa-bars"></i> Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="checkPackage1"></td>
                                                <td>
                                                    <p class="p-custom m-b-0">Current Status: <span class="label label-danger">Kho US</span></p>
                                                    <p class="p-custom m-b-0">Seller Tracking: <strong>TB000009987</strong></p>
                                                    <p class="p-custom m-b-0">Manifest Weight: <strong>1000 gram</strong></p>
                                                    <p class="p-custom m-b-0">Manifest Weight: <strong>1000 gram</strong></p>
                                                    <p class="p-custom m-b-0">Volume: <span class="text-danger">20x12x30</span><strong>(cm)</strong></p>
                                                    <p class="p-custom m-b-0">Receiver Warehouse: <strong>Boxme HCM (45 Tan son)</strong></p>
                                                </td>
                                                <td>

                                                </td>
                                                <td></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>


<ng-template #packageItemTemplate>
    <h3>Test Tes</h3>
</ng-template>

