<div class="row page-titles">
  <div class="col-md-12 align-self-center">
    <h3 class="text-themecolor">Inventory</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row row-search">
          <div class="col-md-12">
            <form action="" class="row search-form">
              <div class="col-md-12">
                <h3 class="card-title">Search</h3>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label">Tracking code</label>
                      <input type="text" id="trackingCode" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label">Shipment</label>
                      <input type="text" id="Shipment" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="control-label">Date from -to</label>
                      <input type="text" id="firstName" class="form-control">
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="row row-list">
          <div class="col-md-12">
              <div class="table-responsive">
                  <table ca>

                  </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
