<div class="page-wrapper chiller-theme {{statusSidebar == 'hide' ? '' : 'toggled'}} ml-0" style="width: 100%">
    <a id="show-sidebar" (click)="showSidebar()" class="btn btn-sm btn-dark" href="javascript:void(0)" style="position: fixed; z-index: 99">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper" style="background-color: #2E9AB8">
        <div class="sidebar-content">
            <div class="sidebar-brand" style="background-color: #DDDDDD">
                <a href="javascript:void(0)">
                    <img src="https://weshop.com.vn/images/logo/weshop/weshop-logo-vn.png" alt="">
                </a>
                <div id="close-sidebar" (click)="closeSidebar()">
                    <a href="javascript:void(0)"><i class="fas fa-times text-blue"></i></a>
                </div>
            </div>
            <div class="sidebar-header" style="background-color: #1D8EAE; border: none">
                <div class="user-pic" style="height: 4.2em">
                  <img class="shopee-avatar__img" src="../../assets/images/users/2.jpg"></div>
                <div class="user-info">
                    <span class="user-name text-white" >
                        <strong>{{user}}</strong>
                    </span>
                    <span class="user-role text-white" i18n>{{role}}</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span class="text-white">Online</span>
                    </span>
                </div>
            </div>
            <div class="sidebar-menu sty-color" style="border: none">
                <ul>
                    <li class="{{checkActiveTab('',null) ? 'active' : ''}}">
                        <a [routerLink]="['order']">
                            <i class="fa fa-home"></i>
                            <span i18n  data-toggle="tooltip" data-placement="top" title="Thống kê chung" >Statistics all </span>
                        </a>
                    </li>

                    <li class="{{checkActiveTab('order',null) ? 'active' : ''}}">
                        <a [routerLink]="['order']">
                            <i class="fa fa-shopping-cart"></i>
                            <span i18n>Order</span>
                        </a>
                    </li>
                  <li>
                    <a [routerLink]="['potential']">
                      <i class="fa fa-shopping-cart"></i>
                      <span i18n>Potential</span>
                    </a>
                  </li>
<!--                    <li class="{{pathName == '/operation/warehouse' ? 'active' : ''}}">-->
<!--                        <a [routerLink]="['warehouse']">-->
<!--                            <i class="fa fa-warehouse"></i>-->
<!--                            <span i18n>Warehouse Management</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--&lt;!&ndash;                    <li *ngIf="checkOperatione()">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a [routerLink]="['tracking']">&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="fa fa-search-location"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            <span i18n>Tracking Code</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li>-->
<!--                        <a [routerLink]="['package/manifest']">-->
<!--                            <i class="fa fa-box-open"></i>-->
<!--                            <span i18n>Manifest</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a [routerLink]="['package']">-->
<!--                            <i class="fa fa-box"></i>-->
<!--                            <span i18n>Package</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a [routerLink]="['delivery-note']">-->
<!--                            <i class="fa fa-calendar-check-o"></i>-->
<!--                            <span i18n>Delivery Note</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a [routerLink]="['shipment']">-->
<!--                            <i class="fa fa-truck"></i>-->
<!--                            <span i18n>Shipment</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="sidebar-dropdown {{opentSubmenu == 'i18n' || checkActiveTab('i18n',null) ? 'active' : ''}}">-->
<!--                        <a href="javascript:void(0)" (click)="SubMenuClick('i18n')">-->
<!--                            <i class="fa fa-bell"></i>-->
<!--                            <span i18n>Language</span>-->
<!--                        </a>-->
<!--                        <div class="sidebar-submenu {{opentSubmenu == 'i18n' || checkActiveTab('i18n',null) ? 'active' : ''}}">-->
<!--                            <ul>-->
<!--                                <li class="{{checkActiveTab('i18n','language-frontend') ? 'active' : ''}}">-->
<!--                                    <a class="{{checkActiveTab('i18n','language-frontend') ? 'text-success' : 'text-white'}}" [routerLink]="['i18n/language-frontend']" i18n>Frontend</a>-->
<!--                                </li>-->
<!--                                <li class="{{checkActiveTab('i18n','language-backend') ? 'active' : ''}}">-->
<!--                                    <a class="{{checkActiveTab('i18n','language-backend') ? 'text-success' : 'text-white'}}" href="javascript:void(0)" i18n>Backend</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
                    <li *ngIf="checkSuperAdmin()" class="sidebar-dropdown {{opentSubmenu == 'system' || checkActiveTab('system',null) ? 'active' : ''}}">
                        <a href="javascript:void(0)" (click)="SubMenuClick('system')">
                            <i class="fa fa-bell"></i>
                            <span i18n>System</span>
                        </a>
                        <div class="sidebar-submenu {{opentSubmenu == 'system' || checkActiveTab('system',null) ? 'active' : ''}}">
                            <ul>
                                <li class="{{checkActiveTab('i18n','language-frontend') ? 'active' : ''}}">
                                    <a [routerLink]="['i18n/language-frontend']">
                                        <i class="fa fa-language"></i>
                                        <span i18n>Language Source</span>
                                    </a>
                                </li>
                                <li class="{{checkActiveTab('i18n','language-frontend') ? 'active' : ''}}">
                                    <a [routerLink]="['user']">
                                        <i class="fa fa-language"></i>
                                        <span i18n>User | Customer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-globe"></i>
                            <span i18n>Voucher</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-dot-circle-o"></i>
                            <span i18n>Weshop coin</span>
                        </a>
                    </li>
                  <li>
                    <a [routerLink]="['more-log']">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      <span i18n>More Log</span>
                    </a>
                  </li>
                    <li class="sidebar-dropdown {{opentSubmenu == 'notify' || checkActiveTab('notify',null) ? 'active' : ''}}">
                        <a href="javascript:void(0)" (click)="SubMenuClick('notify')">
                            <i class="fa fa-bell"></i>
                            <span i18n>Notification</span>
                        </a>
                        <div class="sidebar-submenu {{opentSubmenu == 'notify' || checkActiveTab('notify',null) ? 'active' : ''}}">
                            <ul>
                                <li>
                                    <a class="text-white" href="javascript:void(0)" i18n>Update orders</a>
                                </li>
                                <li>
                                    <a class="text-white" href="javascript:void(0)" i18n>Promotion</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li *ngIf="checkLogin()">
                        <a [routerLink]="['login']">
                            <i class="fa fa-user"></i>
                            <span i18n>Login</span>
                        </a>
                    </li>
                    <li *ngIf="checkLogout()">
                        <a [routerLink]="['logout']">
                            <i class="fa fa-arrow-circle-left"></i>
                            <span i18n>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
    <main class="page-content pt-0" style="background-color: #EEF5F9;">
        <div class="row m-0 p-0">
            <div class="col-md-12 pl-1 pr-1">
                <div class="row">
                    <div class="col-md-12 pl-1 pr-1">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
