<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>LIST ALL ITEMS OF ORDER - RAW</h3>
                </div>
                <form [formGroup]="searchForm" class="row search-form">
                    <div class="col-md-2 col-sm-12  form-group m-b-10">
                        <label for="store" class="form-control-label">Store</label>
                        <select class="form-control form-control-sm" name="store" id="store"
                                formControlName="store">
                            <option [value]="allKey">--All Store--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group m-b-10">
                        <label for="keyWordGroup" class="form-control-label">Keyword...</label>
                        <div class="row input-group input-group-sm ml-0 mr-0" id="keyWordGroup">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="keyCategory"
                                    id="keyCategory" formControlName="keyCategory">
                                <option value="ALL">ALL</option>
                            </select>
                            <input class="form-control form-control-sm" id="keyWord" formControlName="keyWord"
                                   type="text" (keyup.enter)="search()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group m-b-10">
                        <label for="dateTimePicker" class="form-control-label">Time Search</label>
                        <div class="row input-group input-group-sm ml-0 mr-0" id="dateTimePicker">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus" id="timeKey" formControlName="timeKey">
                                <option value="create_at">Create Time</option>
                                <option value="SELLER_SHIPPED">Seller ship Time</option>
                            </select>
                            <input #drp="bsDaterangepicker" bsDaterangepicker class="col-sm-7 form-control form-control-sm ">
                            <span class="input-group-btn">
                                        <button (click)="drp.toggle()"
                                                [attr.aria-expanded]="drp.isOpen"
                                                class="btn btn-sm btn-info" type="button"><i
                                                class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 form-group m-b-10">
                        <label for="paymentStatus" class="form-control-label">Payment Status</label>
                        <select class="form-control form-control-sm" name="store" id="paymentStatus"
                                formControlName="paymentStatus">
                            <option [value]="allKey">--All Status--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 form-group m-b-10">
                        <label for="type" class="form-control-label">Order Type</label>
                        <select class="form-control form-control-sm" name="type" id="type" formControlName="type">
                            <option [value]="allKey">--All Type--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 form-group m-b-10">
                        <label for="portal" class="form-control-label">Product Type</label>
                        <select class="form-control form-control-sm" name="store" id="portal" formControlName="portal">
                            <option [value]="allKey">--All Type--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 form-group m-b-10">
                        <label for="portal" class="form-control-label">Product Type</label>
                        <select class="form-control form-control-sm" name="status" id="status" formControlName="status">
                            <option [value]="allKey">--All Atatus--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 form-group m-b-10">
                        <label for="portal" class="form-control-label">Location</label>
                        <select class="form-control form-control-sm" name="status" id="location" formControlName="location">
                            <option [value]="allKey">--All Location--</option>
                            <option value="STOCK_IN_US">STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
                        </select>
                    </div>
                </form>
                <section class="row item-operation">
                    <div class="col-md-12">
                        <div class="form-inline pull-right">
                            <span class="button-group">
                                <a class="btn btn-info btn-sm text-white"><i class="fa fa-file-excel-o"></i> Export Excel</a>
                            </span>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination"></div>
                        <div class="row grid">
                            <div class="col-md-12">
                                <div class="grid-view grid-view-custom">
                                    <div class="row grid-view-row-margin-rl-0 grid-view-summary m-b-10">
                                        <div class="col-md-6 grid-view-col-padding-rl-0">
                                            Showing
                                            <select class="form-control-sm select-custom"
                                                    (change)="handlePerPage($event)">
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="all">All</option>
                                            </select>
                                            of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items
                                        </div>
                                        <div class="col-md-6 grid-view-col-margin-rl-0">
                                            <pagination [boundaryLinks]="true"
                                                        [totalItems]="totalCount"
                                                        (pageChanged)="handlePagination($event)"
                                                        [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                                        [rotate]="true">
                                            </pagination>
                                        </div>
                                    </div>
                                    <div class="row grid-view-row-margin-rl-0 grid-view-content">
                                        <div class="col-md-12 grid-view-col-padding-rl-0">
                                            <div class="row grid-view-row-margin-rl-0 grid-header">
                                                <div class="col-md-3 col-sm-6 grid-view-col-border grid-view-col-content">
                                                    Order
                                                </div>
                                                <div class="col-md-8 col-sm-12 grid-view-col-border grid-view-col-content">
                                                    Action
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>