<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>LIST ALL ITEMS OF ORDER - RAW</h3>
        </div>
        <form [formGroup]="searchForm" class="row search-form">
          <div class="col-md-2 col-sm-12  form-group m-b-10">
            <label for="store" class="form-control-label">Store</label>
            <select class="form-control form-control-sm" name="store" id="store"
                    formControlName="store">
              <option [value]="allKey">All Weshop</option>
              <option [value]="1">Weshop VN</option>
              <option [value]="7">Weshop ID</option>
              <option [value]="6">Weshop MY</option>
              <option [value]="9">Weshop PH</option>
              <option [value]="10">Weshop TH</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-12 form-group m-b-10">
            <label for="keyWordGroup" class="form-control-label">Keyword...</label>
            <div class="row input-group input-group-sm ml-0 mr-0" id="keyWordGroup">
              <select class="col-sm-5 form-control form-control-sm input-group-addon" name="searchKeyword"
                      id="searchKeyword" formControlName="searchKeyword">
                <option value="ALL">ALL Keyword</option>
                <option *ngFor="let item of searchKeys" [value]="item.key">{{item.name}}</option>
              </select>
              <input class="form-control form-control-sm" id="keyWord" formControlName="keyWord"
                     type="text" (keyup.enter)="listOrders()">
            </div>
          </div>
          <div class="col-md-4 col-sm-12 form-group m-b-10">
            <label for="dateTimePicker" class="form-control-label">Time Search</label>
            <div class="row input-group input-group-sm ml-0 mr-0" id="dateTimePicker">
              <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus" id="timeKey"
                      formControlName="timeKey">
                <option [value]="allKey">Time Key</option>
                <option value="{{time.key}}" *ngFor="let time of timeKeys">{{time.name}}</option>
              </select>
              <input #drp="bsDaterangepicker"
                     bsDaterangepicker
                     [maxDate]="maxDateTime"
                     [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
                     (bsValueChange)="bsRangeValue"
                     formControlName="bsRangeValue"
                     class="col-sm-7 form-control form-control-sm ">
              <span class="input-group-btn">
                                        <button (click)="drp.toggle()"
                                                [attr.aria-expanded]="drp.isOpen"
                                                class="btn btn-sm btn-info" type="button"><i
                                          class="fa fa-calendar"></i>
                                        </button>
                                    </span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label for="type" class="form-control-label">Order Type</label>
            <select class="form-control form-control-sm" name="type" id="type" formControlName="type">
              <option [value]="allKey">--All Type--</option>
              <option value="SHOP">Shop</option>
              <option value="REQUEST">Request</option>
              <option value="POS">Pos</option>
              <option value="SHIP">Ship</option>
              <option value="NEXTTECH">Nexttech</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label class="form-control-label">Order Status</label>
            <select class="form-control form-control-sm" name="orderStatus" id="orderStatus"
                    formControlName="orderStatus">
              <option [value]="allKey">--All Type--</option>
              <option [value]="status.key" *ngFor="let status of orderStatus">{{status.name}}</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label class="form-control-label">Product Type</label>
            <select class="form-control form-control-sm" name="portal" id="portal" formControlName="portal">
              <option [value]="allKey">--All Atatus--</option>
              <option value="AMAZON_US">AMAZON US</option>
              <option value="AMAZON_JAPAN">AMAZON JAPAN</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label for="paymentStatus" class="form-control-label">Payment Status</label>
            <select class="form-control form-control-sm" name="store" id="paymentStatus"
                    formControlName="paymentStatus">
              <option [value]="allKey">--All Status--</option>
              <option value="STOCK_IN_US">STOCK_IN_US</option>
              <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label class="form-control-label">Location</label>
            <select class="form-control form-control-sm" name="status" id="location" formControlName="location">
              <option [value]="allKey">--All Location--</option>
              <option value="STOCK_IN_US">STOCK_IN_US</option>
              <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label class="form-control-label">Sale</label>
            <select class="form-control form-control-sm" name="sale" id="sale" formControlName="sale">
              <option [value]="allKey">--All Location--</option>
              <option value="STOCK_IN_US">STOCK_IN_US</option>
              <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 form-group m-b-10">
            <label class="form-control-label">Seller</label>
            <select class="form-control form-control-sm" name="seller" id="seller" formControlName="seller">
              <option [value]="allKey">--All Location--</option>
              <option value="STOCK_IN_US">STOCK_IN_US</option>
              <option value="SELLER_SHIPPED">SELLER_SHIPPED</option>
            </select>
          </div>
          <div class="col-md-12 mt-1">
            <div class="button-group">
                <button class="btn btn-sm btn-success" (click)="listOrders()"><i class="fa fa-search"> Search</i></button>
                <button class="btn btn-sm btn-danger ml-2" (click)="buildSearchForm()"><i class="fa fa-refresh" aria-hidden="true"> Refresh</i></button>
                <button class="btn btn-info btn-sm text-white"><i class="fa fa-file-excel-o"></i> Export Excel</button>
              <!--<button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--<i class="fa fa-plus mr-1"></i>Add Filter-->
              <!--</button>-->
              <!--<div class="dropdown-menu p-0" style="font-size: 11px">-->
                <!--<a class="dropdown-item p-1" href="javascript:void(0);">Đã thanh toán</a>-->
              <!--</div>-->
            </div>
          </div>
          <div class="col-md-6 pt-3">
            Showing
            <select class="form-control-sm select-custom"
                    (change)="handlePerPage($event)">
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="all">All</option>
            </select>
            of page {{perPage}} in {{pageCount}} page in total {{totalCount}} items
          </div>
          <div class="col-md-6">
            <pagination [boundaryLinks]="true"
                        [totalItems]="totalCount"
                        (pageChanged)="handlePagination($event)"
                        [itemsPerPage]="perPage" class="pagination-sm pull-right"
                        [rotate]="true">
            </pagination>
          </div>
        </form>

        <section class="row item-operation mb-3">
          <div class="col-md-12">
          </div>
        </section>

        <article class="row item-list">
          <div class="col-md-12">
            <div class="row pagination"></div>
            <div class="row grid">
              <div class="col-md-12 pl-0 pr-0">
                <div class="grid-view grid-view-custom">
                  <div class="row" style="font-size: 0.7em">
                    <div class="col-md-12">
                      <div class="card-body" style="padding-left: 0; padding-right: 0;font-size: 11px; color: black">
                        <div class="card style-card" *ngFor="let order of orders">
                          <div class="row margin-row or-id-{{order.id}} order-code-{{order.Ordercode}}">

                            <div class="col-md-2 border-col">
                              <div class="card-title">
                                <h5>
                                  <strong class="text-uppercase">
                                    <a target="_blank"
                                       href="http://weshop.com.vn/order-BIN-{{order.ordercode}}/bill.html">
                                      <span class="text-danger">{{order.ordercode}}</span>
                                    </a>
                                  </strong>/
                                  <span
                                    class="badge badge-{{order.current_status | currentStatus}} m-l-5 p-2 font-style">
                                    {{order.current_status}}
                                  </span>
                                </h5>
                              </div>
                              <div class="clearfix"></div>
                              <div class="mt-1">
                                <span><i [class]="order.store_id | iconFlag"></i> </span>
                                <span class="m-l-5 mt-1">{{order.store_id | store}}</span>
                                <span
                                  class="badge badge-{{order.type_order | orderTypeClass}} m-l-5 mt-1 p-2 font-style">{{order.type_order}}</span>
                              </div>
                              <div class="mt-1 portal">
                                <span class="sty-font purchase_order_id"> Portal: </span>
                                {{order.portal}}
                              </div>
                              <div class="mt-1 seller_store">
                                <span class="sty-font"><i class="fa fa-link mr-1"></i> Website:</span>
                                <span class="ml-2">{{order.seller_store}}</span>
                              </div>
                              <div class="mt-1 seller_name">
                                <span class="sty-font"><i class="fa fa-user mr-1"></i> Seller:</span>
                                <span class="ml-2">{{order.seller_name}}</span>
                              </div>
                              <div class="mt-1 purchase_order_id">
                                <span class="sty-font purchase_order_id"> Purchase Order: </span>
                                {{order.purchase_order_id}}
                              </div>
                              <div class="mt-1 purchase_order_id">
                                <span class="sty-font purchase_transaction_id">Purchase Transaction: </span>
                                {{order.purchase_transaction_id}}
                              </div>
                              <div class="mt-1">
                                <span class="sty-font"><i class="fa fa-user mr-1 support_email"></i> Sale:</span>
                                <app-assign-sale [saleEmail]="order.support_email" [saleId]="order.sale_support_id"
                                                 [orderId]="order.id">  </app-assign-sale>
                                <i class="fa fa-filter"> </i>

                              </div>
                              <div class="mt-1 support_email">
                                <span class="sty-font"><i class="fa fa-envelope mr-1"></i> Email Sale:</span>
                                <span class="ml-2">{{order.support_email}}</span>
                              </div>
                              <div class="mt-1 revenue_xu">
                                <span class="sty-font purchase_transaction_id"><i class="fa fa-dot-circle-o"></i> Xu revenue: </span>
                                {{order.revenue_xu}}
                              </div>
                              <div class="mt-1 xu_amount">
                                <span class="sty-font purchase_transaction_id"><i class="fa fa-dot-circle-o"></i> Xu Amount: </span>
                                {{order.xu_amount}}
                              </div>
                              <div class="mt-1 xu_count">
                                <span class="sty-font purchase_transaction_id"><i class="fa fa-dot-circle-o"></i> Xu Count: </span>
                                {{order.xu_count}}
                              </div>
                              <div class="mt-1 xu_log">
                                <span class="sty-font purchase_transaction_id"><i class="fa fa-dot-circle-o"></i> Xu Log: </span>
                                {{order.xu_log}}
                              </div>
                              <div class="mt-1 xu_time">
                                <span class="sty-font purchase_transaction_id"><i class="fa fa-clock-o"></i> Xu Time: </span>
                                {{order.xu_time}}
                              </div>
                              <div class="mt-1 created_at">
                                <span><i class="fa fa-clock-o"></i></span> {{order.created_at | date: 'dd/MM/yyyy'}}
                              </div>
                              <div class="mt-1 created_at_timeAgo">
                                <span style="color: #C1C1C1"><i class="fa fa-clock-o"></i> {{order.created_at | date | timeAgo}}</span>
                              </div>
                              <div class="portal OrderType">
                                <div class="btn btn-sm btn-warning mr-2 mr_list OrderType"><span class="badge badge-info">{{order.portal}}</span></div>
                              </div>
                              <button class="btn btn-sm btn-info version_ws_prod mt-2"> Version : {{order.version}}</button>
                              <br>
                            </div>

                            <div class="col-md-3 border-col CUSTOMER_INFO">
                              <h5>CUSTOMER INFO</h5>
                              <div class="row">
                                <div class="col-md-12">
                                  <h5 class="text-bold mb-0">{{order.customer_type}}</h5>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <h5 class="text-bold mb-0">BUYER</h5>
                                  <span>{{order.customer?.first_name}} - {{order.customer?.phone}} - {{order.customer?.email}} <i class="fa fa-filter"> </i></span><br>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-12">
                                  <h5 class="text-bold mb-0">RECEIVER</h5>
                                  <span>{{order.receiver_name}} - {{order.receiver_phone}} - {{order.receiver_email}}</span><br>
                                  <span>{{order.receiver_address}} - {{order.receiver_post_code}}  <i class="fa fa-filter"> </i></span>  <br>
                                  <span>{{order.receiver_district_name}} - {{order.receiver_province_name}} - {{order.receiver_country_name}}</span>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-12">
                                  Customer note :<strong class="text-danger">{{order.note_by_customer}}</strong>
                                </div>
                              </div>
                              <div class="row mt-2">
                                <div role="group" style="margin: auto" aria-label="Basic example">
                                  <button type="button" (click)="chat(order.id, order.ordercode); showChat.show()"
                                          class="btn btn-secondary btn-sm">
                                    <i class="fa fa-comments mr-1" aria-hidden="true"></i>
                                    Trao đổi với khách
                                  </button><br>
                                  <button (click)="followOrder()" *ngIf="!checkF" type="button" class="btn btn-secondary mt-2 btn-sm">
                                    <i class="fa fa-bell mr-1"></i>Notification
                                  </button>
                                  <button (click)="followOrder()" *ngIf="checkF" type="button"
                                          class="btn mt-2 btn-secondary btn-sm">
                                    <i class="fa fa-bell-slash mr-1" aria-hidden="true"></i>Bỏ theo dõi đơn hàng
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 hover-row style-col border-col">
                              <div class="row">
                                <div class="col-md-12">
                                  <h5>FINANCE</h5>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4"><strong>Quantity:</strong></div>
                                <div class="col-md-3 text-right style-padding-left" *ngIf="order.products">
                                  <span>{{quantityOrder(order.products ,order.products['length'])}}</span>
                                </div>
                                <div class="col-md-5 style-padding-left"> (Exchage rate free:
                                  {{order.exchange_rate_fee}})
                                </div>
                              </div>
                              <div class="row total_fee_amount_local">
                                <div class="col-md-4 style-padding-right  dong">
                                  <span>Total origin tax fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left total_fee_amount_local dong">
                                  <span>
                                    {{order.total_fee_amount_local ? order.total_fee_amount_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>

                              <div class="row total_origin_tax_fee_local">
                                <div class="col-md-4 style-padding-right total_fee_amount_local dong">
                                  <span>Total origin tax fee local </span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left total_origin_tax_fee_local dong">
                                  <span>
                                    {{order.total_origin_tax_fee_local ? order.total_origin_tax_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>

                              <div class="row exchange_rate_purchase">
                                <div class="col-md-4 style-padding-right  dong">
                                  <span>(Exchage rate Purchase:  </span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left Exchage_local">
                                    {{order.exchange_rate_purchase}})
                                </div>
                              </div>

                              <div class="row Total_origin_shiping_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total origin shiping fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_origin_shipping_fee_local ? order.total_origin_shipping_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                                <div class="col-md-5 style-padding-left">Coupon: {{order.coupon?.code}} -
                                  {{order.total_counpon_amount_local}}
                                </div>
                              </div>
                              <div class="row Total_weshop_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total weshop fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_weshop_fee_local ? order.total_weshop_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_shiping_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total shiping fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_intl_shipping_fee_local ? order.total_intl_shipping_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_custom_fee_amount">
                                <div class="col-md-5 style-padding-right dong">
                                  <span>Total custom fee amount</span>
                                </div>
                                <div class="col-md-2 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_custom_fee_amount_local ? order.total_custom_fee_amount_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_delivery_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total delivery fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_delivery_fee_local ? order.total_delivery_fee_local : 0.00  | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_packing_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total packing fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_packing_fee_local ? order.total_packing_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_insection_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total insection fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_inspection_fee_local ? order.total_inspection_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_insurance_fee">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total insurance fee</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_insurance_fee_local ? order.total_insurance_fee_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Total_VAT_amount">
                                <div class="col-md-4 style-padding-right dong">
                                  <span>Total VAT amount</span>
                                </div>
                                <div class="col-md-3 text-right style-padding-left dong">
                                  <span>
                                    {{order.total_vat_amount_local ? order.total_vat_amount_local : 0.00 | currency: 'VND'}}
                                  </span>
                                </div>
                              </div>
                              <div class="row Paid">
                                <div class="col-md-4 text-danger">Paid</div>
                                <div class="col-md-3 text-right text-danger">
                                  {{order.total_paid_amount_local ? order.total_paid_amount_local : 0.00 | currency:
                                  'VND'}}
                                </div>
                              </div>
                              <div class="row Collect">
                                <div class="col-md-4 text-info">Collect</div>
                                <div class="col-md-3 text-right text-info style-padding-left">
                                  1234
                                </div>
                              </div>
                              <div class="row Refund">
                                <div class="col-md-4">Refund</div>
                                <div class="col-md-3 text-right style-padding-left">
                                  {{order.total_refund_amount_local | currency: 'VND'}}
                                </div>
                              </div>
                              <div>
                                <div class="col-md-12 pl-0 mt-2 pb-2">
                                  <button type="button" (click)="chatG(order.id, order.ordercode);showChatGroup.show()"
                                          class="btn btn-secondary btn-sm">
                                    <i class="fa fa-comments mr-1" aria-hidden="true"></i>
                                    Trao đổi nội bộ
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2 border-col">
                              <div class="row STATUS">
                                <div class="col-md-12">
                                  <h5>STATUS</h5>
                                </div>
                              </div>
                              <div class="hover-row">
                                <div class="row">
                                  <div class="col-md-5 pr-0">New:</div>
                                  <div class="col-md-7 text-right">{{order.new | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 pr-0">Purchased:</div>
                                  <div class="col-md-6 text-right">{{order.purchased | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 pr-0">Seller shipped:</div>
                                  <div class="col-md-6 text-right">{{order.seller_shipped | date:'dd/MM/yyyy HH:mm'}}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 pr-0">Stock in US:</div>
                                  <div class="col-md-6 text-right">{{order.stockin_us | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 pr-0">Stock out US:</div>
                                  <div class="col-md-6 text-right">{{order.stockout_us | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5  pr-0">Stock in local:</div>
                                  <div class="col-md-7 text-right">{{order.stockin_local | date:'dd/MM/yyyy HH:mm'}}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5  pr-0">Stock out local:</div>
                                  <div class="col-md-7 text-right">{{ order.stockout_local| date:'dd/MM/yyyy HH:mm'}}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5  pr-0">At customer:</div>
                                  <div class="col-md-7 text-right">{{ order.at_customer | date:'dd/MM/yyyy HH:mm'}}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5  pr-0">Returned:</div>
                                  <div class="col-md-7 text-right">{{ order.returned | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6  pr-0">Cancelled:</div>
                                  <div class="col-md-6 text-right">{{order.cancelled | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5  pr-0">Lost:</div>
                                  <div class="col-md-7 text-right">{{order.lost | date:'dd/MM/yyyy HH:mm'}}</div>
                                </div>
                              </div>
                              <div class="row m-t-10">
                                <div class="col-md-12 text-center">
                                  <div class="btn-group">
                                    <button class="btn btn-sm btn-danger">
                                      <i class="fa fa-trash" aria-hidden="true"> Cancel</i>
                                    </button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         Option
                                      </button>
                                      <div class="dropdown-menu p-0" style="font-size: 11px">
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Cập nhập khuyến
                                          mại</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Điều chỉnh tiền
                                          đặt cọc</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Trả lại tiền do
                                          Khiếu Nại</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Shop TQ
                                          Refund</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Đánh dấu đơn
                                          chờ Refund</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Đánh dấu khách
                                          tự mặc cả</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Shop phát thêm
                                          kiện</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Đánh dấu khách
                                          tự mặc cả</a>
                                        <a class="dropdown-item p-1 sty-drop" href="javascript:void(0);">Đánh dấu chờ
                                          phản hồi</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row pb-1 pt-1">
                            <div class="col-md-12">
                              <button class="btn btn-sm bg-white mr-2 style-but"  (click)="order.id = !order.id">Product</button>
                              <button class="btn btn-sm bg-white mr-2 style-but" (click)="order.ordercode = !order.ordercode">Package</button>
                              <button class="btn btn-sm bg-white mr-2 style-but">Purchase infor</button>
                              <button class="btn btn-sm bg-white mr-2 style-but">Deliver Info</button>
                              <button class="btn btn-sm bg-white mr-2 style-but">Giao dịch</button>
                            </div>
                          </div>
                          <app-order-detail *ngIf="!order.id" [products]="order.products"></app-order-detail>
                          <app-package-item *ngIf="!order.ordercode" [packages]="order.packageItems"></app-package-item>
                        </div>
                      </div>
                      <!--<div class="card-body" style="padding-left: 0; padding-right: 0">-->
                      <!--<h4 class="text-danger">Not Found</h4>-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>


<div bsModal #showChat="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" style="background-color: #f5f5f5">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12 p-0">
          <div class="card m-b-0">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 p-0">
                  <div class="modal-body p-0">
                    <div class="ng-star-inserted" *ngIf="checkLoad">
                      <app-chat [id]="orderIdChat" [code]="code"></app-chat>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button class="btn btn-danger btn-sm" (click)="clickOff();showChat.hide() ">Hủy Bỏ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #showChatGroup="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" style="background-color: #f5f5f5">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12 p-0">
          <div class="card m-b-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 p-0">
                  <app-chat-group [id]="orderIdChat" [code]="code" *ngIf="checkLoadG"></app-chat-group>
                </div>
                <div class="col-md-12 text-right">
                  <button class="btn btn-danger btn-sm" (click)="clickOffG(); showChatGroup.hide()">Hủy Bỏ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
