<div class="row" style="font-family: sans-serif" >
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Process Send Shipment</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <button *ngIf="getProcessing == false" class="btn btn-small" (click)="getProcess(true)">Show Process Send Shipment</button>
          <button *ngIf="getProcessing == true" class="btn btn-small" (click)="cancelProcess()">Hidden Process Send Shipment</button>
        </div>
        <div class="form-group">
          <table class="table">
            <thead>
            <tr>
              <th width="10%">Create By</th>
              <th width="10%">Manifest Code</th>
              <th width="60%">Process</th>
              <th width="10%">Status</th>
              <th width="10%">Create Time</th>
              <th width="10%">Provider</th>
            </tr>
            </thead>
            <!--<tr *ngFor="let process of dataProcess">-->
              <!--<td>{{process.create_by}}</td>-->
              <!--<td>{{process.manifest}}</td>-->
              <!--<td>-->
                <!--{{((process.total - process.process)/process.total * 100)}}%-->
                <!--<div class="progress">-->
                  <!--<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" [style.width]="((process.total - process.process)/process.total * 100) + '%'">-->
                    <!--<b>{{(process.total - process.process)}}/{{(process.total)}}</b>-->
                  <!--</div>-->
                <!--</div>-->
              <!--<td><span class="label" ngClass="{{process.status == 'new' ? 'label-info' : (process.status == 'processing' ? 'label-warning' : 'label-success')}}" >{{process.status}}</span></td>-->
              <!--<td>{{process.create_time}}</td>-->
              <!--<td>{{process.provider}}</td>-->
            <!--</tr>-->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Filter Manifest</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Shipment Manifest Code</label>
                  <input class="form-control" name="manifestCode" [(ngModel)]="filter.manifestCode" (keyup.enter)="getList()">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tracking Code</label>
                  <input class="form-control" name="trackingCode" [(ngModel)]="filter.trackingCode" (keyup.enter)="getList()">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Select store</label>
                  <app-store [store]="filter.store" [cssClass]="'form-control'" (storeSelect)="filter.store=$event;getList()"></app-store>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Search <!--div style="size: 10px;color: red">(SOI, BMxxxx , CBxxxx , bin, email, phone )</div--></label>
                  <div class="input-group">
                    <input class="form-control" name="search_keyword" [(ngModel)]="filter.keyword" (keyup.enter)="getList()"
                           placeholder="SOI, BMxxxx , CBxxxx , bin, email, phone ">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Status</label>
                  <select name="status" class="form-control" (change)="getList()">
                    <option value="">All</option>
                    <option value="NEW">New</option>
                    <option value="SHIPMENT_CREATED">Shipment Created</option>
                    <option value="MANIFEST_SENT">Manifest sent</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group m-t-30">
                  <button class="btn btn-default btn-block">Clear Filter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-outline-primary">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Export Shipment</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Shipment Code</label>
          <input class="form-control" placeholder="CB-xx-yyy-zzzzzzz" name="shipmentCode" [(ngModel)]="shipment">
        </div>
        <div class="form-group m-t-30">
          <label>Export Shipment</label>
          <button class="btn btn-success btn-block">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group form-inline form-material m-b-0">
              <label>Item per page </label>
              <select name="limit" (change)="getList()" [(ngModel)]="limit"
                      class="form-control form-control-sm">
                <option>20</option>
                <option>50</option>
                <option>100</option>
              </select>
              <label>Total search result: {{total}}</label>
            </div>
          </div>
          <div class="col-md-9">
            <pagination [boundaryLinks]="true" [totalItems]="total" [(ngModel)]="current_page"
                        (pageChanged)="getList($event.page)" [itemsPerPage]="limit"
                        [maxSize]="10" class="pagination-sm pull-right m-t-10"
                        [rotate]="true"></pagination>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group custom-list">
              <li class="list-group-item custom-list-item"
                  [class]="(item?.id==activeManifest?.id)?'list-group-item  custom-list-item active':'list-group-item custom-list-item'">
                <h4 style="color: black"><strong>RVS045</strong></h4>
                <small>Package: <strong> RVS045-1184</strong></small><br>
                <small>Created At: <strong>2019-03-04 11:24:57</strong></small>
                <ul class="list-style-none">
                  <li><span>Total Items: 204</span></li>
                  <li><span>Have BM Code: 148</span></li>
                  <li><span>Not Have BM Code: 56</span></li>
                </ul>
                <hr style="margin: 2px">
                <ul class="list-style-none">
                  <li  style="font-size: 12px; font-weight: 700;font-style: italic">
                    <span style="margin-right: 5px">
                      At Customer : 57
                    </span>
                  </li>
                </ul>
                <hr style="margin: 2px">
                <p class="m-b-5"><span>Store: Viet Nam </span></p>
                <p class="m-b-5"><span>In stock: Boxme HCM Viet Nam </span></p>
                <hr style="margin: 2px">
                <span class="m-t-5 m-b-5 text-center">
                    <div class="btn-group">
                      <button
                        (click)="activeItem=item;updateShipment.show()"
                        class="btn btn-sm btn-success"
                        data-toggle="tooltip" title="Update Shipment">
                        <i class="fa fa-pencil"></i>
                      </button>
                       <button
                               [class]="'btn btn-sm btn-warning'"
                               data-toggle="tooltip" title="Delete Shipment">
                        <i class="fa fa-send-o"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-danger"
                        data-toggle="tooltip" title="Update Shipment">
                        <i class="fa fa-trash"></i>
                      </button>
                      <button
                        class=" btn btn-sm btn-secondary">
                       NEW
                      </button>

                    </div>
                 </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-12 col-xlg-12 col-md-12" style="font-size: smaller">
                <app-shipment-item></app-shipment-item>
              </div>
            </div>
            <!--<div *ngIf="checkS == true" class="row">-->
              <!--<h5 style="color: red">Not Found</h5>-->
            <!--</div>-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

