.custom-list {
  flex-direction: row;
  overflow-x: scroll;
  min-height: 250px;
}
.custom-list-item {
  min-width: 250px;
  margin-right: 5px;
  margin-bottom: 2px;
}
.card-outline-primary, .card-outline-info {
  border: none;
}
