<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title m-b-0" i18n>Tracking Code</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="searchForm" name="formSearch" class="row item-filter-option">
                            <div class="col-md-4 form-group m-b-10">
                                <label for="q" class="form-control-label" i18n>Keyword...</label>
                                <input class="form-control form-control-sm" id="q" formControlName="q"
                                       type="text" (keyup.enter)="search()">
                            </div>
                            <div class="col-md-4 form-group m-b-10">
                                <div class="button-group" style="margin-top: 1.7rem;">
                                    <button class="btn btn-sm btn-success" (click)="search()" i18n>Search</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="mt-2 mb-2">
                            </div>
                        </div>
                        <div class="row mb-2 toolbar">
                            <div class="col-md-12">
                                <div class="button-group">
                                    <button class="btn btn-sm btn-success" (click)="openUsSendingModal()" i18n>Us Sending</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content-block">
                                    <div class="header-content">
                                        <h4>List Manifest</h4>
                                    </div>
                                    <div class="body-content">
                                        <ul class="list-group custom-list">
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                            <li class="list-group-item custom-list-item">
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                                ABC <br>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content-block">
                                    <div class="header-content">
                                        <h4>Tracking Info</h4>
                                    </div>
                                    <div class="body-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #usSendingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card m-b-0">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 i18n>Create Manifest From List Warehouse Us Send List Tracking</h3>
                                </div>
                                <form [formGroup]="usSendingForm" name="form" class="row form-upload">
                                    <div class="col-md-12 form-body">
                                        <div class="row">
                                            <div class="col-md-6 form-group m-b-10">
                                                <label for="store" class="form-control-label" >Store</label>
                                                <select class="form-control form-control-sm" name="store" id="store"
                                                        formControlName="store">
                                                    <option value="" i18n>--Select Store--</option>
                                                    <option value="vn">Việt nam</option>
                                                    <option value="id">Indonesia</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group m-b-10">
                                                <label for="store" class="form-control-label" i18n> Pickup Warehouse</label>
                                                <select class="form-control form-control-sm" name="warehouse" id="warehouse"
                                                        formControlName="warehouse">
                                                    <option *ngFor="let wh of warehouses" [value]="wh.key">{{wh.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group m-b-10">
                                                <label for="manifest" class="form-control-label" i18n> Name Manifest</label>
                                                <input type="text" class="form-control form-control-sm" id="manifest" name="manifest"
                                                       formControlName="manifest">
                                            </div>
                                            <div class="col-md-6 form-group m-b-10">
                                                <label for="store" class="form-control-label" i18n>Upload</label>
                                                <span i18n>(Download File excel ,Example : 18042019-LOWS-VN-HN003)</span>
                                                <input type="file" id="file" formControlName="file" class="form-control form-control-sm" (change)="handleFileChange($event)">
                                            </div>
                                        </div>
                                      <div class="row">
                                        <div class="col-md-6 form-group m-b-10">
                                          <label for="manifest" class="form-control-label" i18n>SetUp Time In Us WareHosue</label>
                                          <input type="text" class="form-control" i18n-placeholder="Datepicker" placeholder="Datepicker" bsDatepicker formControlName="date" />
                                        </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="button-group">
                                                    <button class="btn btn-sm btn-success" (click)="create()" i18n>Create</button>
                                                    <button class="btn btn-sm btn-success" i18n>Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
