.content-block{
    margin: 0px;
}
.custom-list{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    min-height: 250px;
}
.custom-list-item{
    min-width: 250px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.custom-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    background-color: #2e5cde;
}

.custom-list::-webkit-scrollbar
{
    /* display: none; */
    height: 5px;
    width: 10px;
    background-color: #F5F5F5;
}

.custom-list::-webkit-scrollbar-thumb
{
    background-color: #f7f7f773;
    border-radius: 5px;
    height: 10px;
}
.active{
    margin-bottom: 0px;
    border-bottom: none;
    background: #2e5cde;
}
.active:hover{
    background: #2e5cde !important;
}
#content-tracking-info li{
    padding: 5px;
    margin-bottom: 5px;
}
#content-tracking-info td{
    padding: 5px;
}