<table class="table" style="max-width: 100%">
  <thead>
    <tr >
      <th class="text-bold" i18n>Transaction code</th>
      <th class="text-bold" i18n>Transaction amount local</th>
      <th class="text-bold" i18n>Transaction type</th>
      <th class="text-bold" i18n>Status</th>
      <th class="text-bold" i18n>Description</th>
      <th class="text-bold" i18n>Note</th>
      <th class="text-bold" i18n>Create</th>
      <th class="text-bold" i18n>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let walletTransaction of walletTransactions">
      <td>{{walletTransaction.transaction_code}}</td>
      <td>{{walletTransaction.transaction_amount_local}}</td>
      <td>{{walletTransaction.transaction_type}}</td>
      <td>{{walletTransaction.transaction_status}}</td>
      <td>{{walletTransaction.transaction_description}}</td>
      <td>{{walletTransaction.note}}</td>
      <td>{{walletTransaction.created_at}}</td>
      <td>{{walletTransaction.updated_at}}</td>
    </tr>
  </tbody>
</table>
