<table class="table" style="max-width: 100%">
  <thead>
    <tr >
      <th class="text-bold" i18n>Transaction code</th>
      <th class="text-bold" i18n>Transaction amount local</th>
      <th class="text-bold" i18n>Transaction type</th>
      <th class="text-bold" i18n>Status</th>
      <th class="text-bold" i18n>Description</th>
      <th class="text-bold" i18n>Note</th>
      <th class="text-bold" i18n>Create</th>
      <th class="text-bold" i18n>Update</th>
      <th class="text-bold" i18n>
        <button class="btn btn-sm btn-default" (click)="addTransaction()">Add Transaction</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let walletTransaction of walletTransactions">
      <td [innerHTML]="walletTransaction.transaction_code"></td>
      <td [innerHTML]="walletTransaction.transaction_amount_local"></td>
      <td [innerHTML]="walletTransaction.transaction_type"></td>
      <td [innerHTML]="walletTransaction.transaction_status"></td>
      <td [innerHTML]="walletTransaction.transaction_description"></td>
      <td [innerHTML]="walletTransaction.note"></td>
      <td [innerHTML]="walletTransaction.created_at"></td>
      <td [innerHTML]="walletTransaction.updated_at"></td>
    </tr>
  </tbody>
</table>
