.loading_new {
    position: fixed;
    width: 10%;
    height: 10px;
    z-index: 9999;
    display: block;
    background: #3c556d;
    bottom: 0;
    left: 0;
    opacity: .7;
}
.loading-inner-new {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    margin-left: -32px;
}
.loading-inner-new img {
    width: 64px;
    height: 64px;
}