<!--<app-loading [loading]="loading"></app-loading>-->
<div class="page-wrapper chiller-theme toggled ml-0">
  <a id="show-sidebar" (click)="showSidebar()" class="btn btn-sm btn-dark" href="javascript:void(0)" style="position: fixed; z-index: 99">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" style="background-color: #2E9AB8">
    <div class="sidebar-content">
      <div class="sidebar-brand" style="background-color: #DDDDDD">
        <a href="javascript:void(0)">
          <img src="https://weshop.com.vn/images/logo/weshop/weshop-logo-vn.png" alt="">
        </a>
        <div id="close-sidebar" (click)="closeSidebar()">
          <a href="javascript:void(0)"><i class="fas fa-times text-blue"></i></a>
        </div>
      </div>
      <div class="sidebar-header" style="background-color: #1D8EAE; border: none">
        <div class="user-pic" style="height: 4.2em">
          <img class="shopee-avatar__img" src="https://cf.shopee.vn/file/8271c20ad3a209a70c81bc3aadd90692_tn" style="border-radius: 50%">
        </div>
        <div class="user-info">
                    <span class="user-name text-white" >Jhon
                        <strong>Smith</strong>
                    </span>
          <span class="user-role text-white">Administrator</span>
          <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span class="text-white">Online</span>
                    </span>
        </div>
      </div>
      <div class="sidebar-menu sty-color" style="border: none">
        <style>
          .sty-color ul li a span {
            color: white;
          }
          .sty-color ul li a i {
            color: white;
          }
        </style>
        <ul>
          <li class="active">
            <a [routerLink]="['order']">
              <i class="fa fa-home"></i>
              <span>Thống kê chung</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['shipment']">
              <i class="fa fa-truck"></i>
              <span>Shipment</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['package']">
              <i class="fa fa-truck"></i>
              <span>Package</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['order']">
              <i class="fa fa-shopping-cart"></i>
              <span>Order</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="javascript:void(0)">
              <i class="fa fa-bell"></i>
              <span>Thông Báo</span>
            </a>
            <div class="sidebar-submenu bg-info">
              <ul>
                <li>
                  <a class="text-white" href="javascript:void(0)">Cập nhập đơn hàng</a>
                </li>
                <li>
                  <a class="text-white" href="javascript:void(0)">Khuyến mại</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-globe"></i>
              <span>Vi voucher</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-dot-circle-o"></i>
              <span>Weshop xu</span>
            </a>
          </li>
          <li >
            <a [routerLink]="['login']">
              <i class="fa fa-user"></i>
              <span>Login</span>
            </a>
          </li>
          <li >
            <a href="javascript:void(0)">
              <i class="fa fa-arrow-circle-left"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
  <main style="background-color: #EEF5F9;">
    <router-outlet></router-outlet>
    <!--<div class="row m-0 p-0 bg-white">-->
      <!--<div class="col-md-12 pl-0">-->
        <!--<div class="row m-0 pt-2 pb-2" style="border-bottom: 0.8em solid #EEF5F9">-->
          <!--<div class="col-md-5 align-self-center">-->
            <!--<h2 class="text-themecolor"> Order Manager</h2>-->
          <!--</div>-->
          <!--<div class="col-md-7 align-self-center text-right">-->
            <!--<ul class="bg-white text-right float-right" style="height: 100%">-->
              <!--<li class="breadcrumb-item">-->
                <!--<a href="javascript:void(0)">Home</a>-->
              <!--</li>&lt;!&ndash;&ndash;&gt;-->
              <!--<li class="breadcrumb-item active">-->
                <!--<a href="#/order">Order</a>-->
              <!--</li>-->
              <!--<li class="breadcrumb-item active">-->
                <!--<a href="#/order">Order Manager</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<router-outlet></router-outlet>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </main>
</div>
