<div class="modal-body ng-scope">
  <p class="ng-binding">
    <strong>NGƯỜI MUA</strong> <a href="javascript:void(0)" title="Sao chép mã đơn và Email Khách"><i class="fa fa-clipboard"></i></a>

  </p>
  <form class="form-horizontal confirmPubrchased ng-dirty ng-valid ng-valid-parse">
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="2%">#</th>
        <th width="7%" class="text-center">Ảnh</th>
        <th width="20%">Tên</th>
        <th width="20%">Thuộc tính</th>
        <th width="10%">Khách đặt</th>
        <th width="10%">Nh.Viên Đặt</th>
        <th width="10%">Giá</th>
      </tr>
      </thead>
      <tbody>
      <tr class="ng-scope" *ngFor="let product of orderUpdatePurchase?.products;let i = index">
        <td class="ng-binding">{{i+1}}</td>
        <td>
          <img [src]="product.link_img" width="50" height="50"></td>
        <td class="ng-binding">
          <a href="{{product.product_link}}" target="_blank" class="ng-binding">{{product.product_name}}</a>
          <div class="text-warning note-item-customer ng-binding ng-scope" >
            <i class="fa fa-comment-o"></i>
          </div>
        </td>
        <td>
          <input name="" placeholder="Thuộc tính" type="text" [value]="product.variations" class="form-control  ng-pristine ng-untouched ng-valid ng-not-empty">
        </td>
        <td class="text-center ng-binding" style="line-height: 27px;">{{product.quantity_customer}}</td>
        <td>
          <input name="" placeholder="SL" min="0" [value]="product.quantity_purchase" type="text"  class="form-control ng-touched ng-dirty ng-not-empty ng-valid ng-valid-parse">
        </td>
        <td style="line-height: 27px;" class="text-warning">
          <span class="ng-binding ng-scope">
            {{product.total_price_amount_local}}
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <p><i class="fa fa-comment-o"></i> Khách ghi chú: <strong class="text-danger ng-binding">{{orderUpdatePurchase.note_by_customer}}</strong></p>
    <p class="text-warning">
            <span class="sendMessageToCustomer">Nếu có thay đổi về giá cần Khách Hàng xác nhận:;
                <label style="cursor: pointer" class="text-danger">
                  <input name="freeShip" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty"> Gửi thêm Email</label>
                <button type="button" class="btn btn-danger btn-sm btn-rounded ml-2">
                  <i class="fa fa-paper-plane"></i> Gửi tới khách
                </button>
            </span>
      <button type="button" class="btn btn-success btn-sm btn-rounded btnConfirmChangePrice hidden ml-2">
        <i class="fa fa-check"></i> Khách đồng ý thay đổi giá
      </button>
    </p>
    <div class="row mt-3">
      <div class="col-md-4 text-bold text-left">
        Tài khoản đặt mua:
      </div>
      <div class="col-md-4">
        <select name="receiverCityId" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
          <option value=""> -- LỰA CHỌN TÀI KHOẢN --</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 text-bold text-left">
        Danh mục sản phẩm:
      </div>
      <div class="col-md-4">
        <select name="receiverCityId"  class="form-control list-group ng-pristine ng-untouched ng-valid ng-empty" data-live-search="true">
          <option value=""> -- Chọn danh mục sản phẩm --</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 text-bold text-left">Tổng tiền hàng:</div>
      <div class="col-md-4">
        <input type="text"  placeholder="Nhập số tiền sẽ thanh toán" tabindex="4" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 text-bold text-left">
        Danh mục hàng dễ vỡ:
      </div>
      <div class="col-md-4">
        <label style="cursor: pointer" title="Chào quý khách">
          <input name="fragileMessage" type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty"> Gửi thông báo tới khách
        </label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <h5 class="padding">Tổng tiền hàng; Phí VC nội địa TQ thu KH:</h5>
        <h5 class="padding">Tổng tiền sẽ thanh toán với Alipay:</h5>
        <h5 class="padding">Tổng tiền hàng VNĐ:  <strong class="text-danger font-size20 ng-binding">7.948.160đ</strong></h5>
      </div>
    </div>
    <div class="alert alert-warning" role="alert">
      <p><strong>Lưu ý: Hãy chọn gửi thông báo tới khách cho đơn nào có sản phẩm thuộc mục hàng dễ vỡ</strong></p>
    </div>
    <h4>
      <a href="javascript:void(0)" (click)="loadHistory()"><i class="fa fa-history mr-2"></i> </a>
      Lịch sử những đơn mua gần đây <strong class="ng-binding">0</strong>]
      <a href="javascript:void(0)" *ngIf="!checkS" (click)="historyPurchaseProduct = !historyPurchaseProduct; clickCheckShow()" class="ml-2"><i class="fa fa-eye"></i> Xem</a>
      <a href="javascript:void(0)" *ngIf="checkS" (click)="historyPurchaseProduct = !historyPurchaseProduct; clickCheckShow()" class="ng-hide ml-2"><i class="fa fa-eye-slash "></i> Ẩn</a>
    </h4>
    <table class="table table-striped ng-hide" ng-show="order_history_view">
      <thead>
      <tr>
        <th width="2%">STT</th>
        <th width="10%">Mã đơn</th>
        <th width="20%">Email Khách</th>
        <th width="20%">TK đặt mua</th>
        <th width="20%">Thời gian tạo</th>
        <th width="10%">Trạng thái</th>
        <th width="13%" class="text-center">Đã mặc cả</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="historyPurchaseProduct" ng-show="history_dataCount <= 0" class="">
        <td colspan="7" class="text-center text-danger">
          <i class="fa fa-sad"></i> Không tìm thấy đơn hàng nào mua gần đây
        </td>
      </tr>
      </tbody>
    </table>
  </form>

</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-success" type="button">Xác nhận đã mua hàng</button>
  <button class="btn btn-warning" type="button">Đóng</button>
</div>
