<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 i18n>LIST ALL ITEMS OF PACKAGES</h3>
                </div>
                <form [formGroup]="searchForm" name="formSearch" class="row item-filter-option">
                    <div class="col-md-4 form-group m-b-10">
                        <label for="keyWordGroup" class="form-control-label" i18n>Keyword...</label>
                        <div class="row input-group input-group-sm ml-0 mr-0" id="keyWordGroup">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus" id="keyCategory" formControlName="keyCategory">
                                <option value="ALL" i18n>ALL</option>
                            </select>
                            <input class="form-control form-control-sm" id="keyWord" formControlName="keyWord" type="text" (keyup.enter)="search()">
                        </div>
                    </div>
                    <div class="col-md-3 form-group m-b-10">
                        <label for="currentStatus" class="form-control-label" i18n>Current Status</label>
                        <select class="form-control form-control-sm" name="currentStatus" id="currentStatus" formControlName="currentStatus">
                            <option value="ALL" i18n>--All Status--</option>
                            <option value="STOCK_IN_US" i18n>STOCK_IN_US</option>
                            <option value="SELLER_SHIPPED" i18n>SELLER_SHIPPED</option>
                        </select>
                    </div>
                    <div class="col-md-5 form-group m-b-10">
                        <label for="dateTimePicker" class="form-control-label" i18n>Time Search</label>
                        <div class="row input-group input-group-sm" id="dateTimePicker">
                            <select class="col-sm-5 form-control form-control-sm input-group-addon" name="currentStatus" id="timeKey" formControlName="timeKey">
                                <option value="create_at" i18n>Create Time</option>
                                <option value="SELLER_SHIPPED">Seller ship Time</option>
                            </select>
                            <input #drp="bsDaterangepicker" bsDaterangepicker class="col-sm-7 form-control form-control-sm ">
                            <span class="input-group-btn">
                                <button (click)="drp.toggle()"
                                        [attr.aria-expanded]="drp.isOpen"
                                        class="btn btn-sm btn-info" type="button"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <section class="row item-operation">
                    <div class="col-md-12">
                        <div class="form-inline pull-right">
                          <span class="button-group">
                            <a class="btn btn-info btn-sm text-white" i18n>
                                <i class="fa fa-file-excel-o"></i> Export Excel
                            </a>
                          </span>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination"></div>
                        <div class="row grid">
                            <div class="col-md-12">
                                <div class="grid-view grid-view-custom">
                                    <div class="row grid-view-row-margin-rl-0 grid-view-summary m-b-10">
                                        <div class="col-md-6 grid-view-col-padding-rl-0">
                                            <span i18n>Showing</span>
                                            <select class="form-control-sm select-custom" (change)="handlePerPage($event)">
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="all" i18n>All</option>
                                            </select>
                                            <span i18n>of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items</span>
                                        </div>
                                        <div class="col-md-6 grid-view-col-margin-rl-0">
                                            <pagination [boundaryLinks]="true"
                                                        [totalItems]="totalCount"
                                                        (pageChanged)="handlePagination($event)"
                                                        [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                                        [rotate]="true">
                                            </pagination>
                                        </div>
                                    </div>
                                    <ng-container [ngTemplateOutlet]="togglePackageTemplate"></ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>


<ng-template #packageListTemplate>
    <div class="row grid-view-row-margin-rl-0 grid-view-content">
        <div class="col-md-12 grid-view-col-padding-rl-0">
            <div class="row grid-view-row-margin-rl-0 grid-header">
                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                    <input type="checkbox" class="checkbox custom-checkbox" style="z-index: 9999">
                </div>
                <div class="col-md-4 col-sm-6 grid-view-col-border grid-view-col-content" i18n>
                    Tracking
                </div>
                <div class="col-md-7 col-sm-12 grid-view-col-border grid-view-col-content" i18n>
                    Detail
                </div>
            </div>
            <div *ngFor="let package of packages" class="row grid-view-row-margin-rl-0 grid-content">
                <div class="col-md-1 col-sm-6 grid-view-col-border grid-view-col-content">
                    <input type="checkbox" class="checkbox custom-checkbox" style="z-index: 9999">
                </div>
                <div class="col-md-4 col-sm-6 grid-view-col-border grid-view-col-content">
                    <h5 class="text-danger">{{package.package_code}}</h5>
                    <p class="p-custom m-b-0">Current Status: <span class="label label-danger">{{package.current_status}}</span></p>
                    <p class="p-custom m-b-0">Seller Tracking: <strong>{{package.tracking_seller}}</strong></p>
                    <p class="p-custom m-b-0">Reference 1: <strong>{{package.tracking_reference_1}}</strong></p>
                    <p class="p-custom m-b-0">Reference 2: <strong>{{package.tracking_reference_2}}</strong></p>
                    <p class="p-custom m-b-0">Manifest Code: <a href="#">{{package.manifest_code}}</a></p>
                    <p class="p-custom m-b-0">Package Weight: <strong>{{package.package_weight}} gram</strong></p>
                    <p class="p-custom m-b-0">ChangeWeight: <strong>{{package.change_weight}} gram</strong></p>
                    <p class="p-custom m-b-0">Volume (w.l.h): <span class="text-danger">{{package.package_dimension_w}}x{{package.package_dimension_l}}x{{package.package_dimension_h}}</span><strong>(cm)</strong></p>
                    <p class="p-custom m-b-0">Receiver Warehouse: <strong>Boxme HCM (45 Tan son)</strong> <a
                            href="#"><i class="fa fa-edit"></i></a></p>
                    <hr class="mt-2 mb-2">
                    <p class="p-custom m-b-0">Seller Ship: <strong>2018/02/12 23:09:33</strong></p>
                    <p class="p-custom m-b-0">StockIn US: <strong>2018/02/12 23:09:33</strong></p>
                    <p class="p-custom m-b-0">StockOut US: <strong>2018/02/12 23:09:33</strong></p>
                    <p class="p-custom m-b-0">Local StockIn: <strong>2018/02/12 23:09:33</strong></p>
                    <hr class="mt-2 mb-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-group">
                                <button class="btn btn-sm btn-warning">Add Tracking</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 grid-view-col-border grid-view-col-padding-rl-0">
                    <div class="row grid-view-row-margin-rl-0 grid-content m-b-10">
                        <div class="col-md-12 grid-view-col-content">
                            <div class="row grid-view-row-margin-rl-0 grid-content">
                                <h5 class="col-md-11 pt-1 pl-0">Total: <span class="text-danger">123</span> items</h5>
                                <span class="col-md-1 button-group pr-0 pull-right">
                                    <button class="btn btn-sm btn-success mr-0"><i class="fa fa-plus"></i></button>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div *ngFor="let packageItem of package.packageItems" class="row grid-view-row-margin-rl-0 grid-content m-b-10">
                                        <div class="col-md-12 grid-view-col-border grid-view-col-padding-rl-0 grid-view-col-content">
                                            <div class="row grid-view-row-margin-rl-0">
                                                <div class="col-md-12 grid-view-col-content">
                                                    <div class="row grid-view-row-margin-rl-0">
                                                        <div class="col-md-6 grid-view-col-padding-rl-0 grid-view-col-content">
                                                            <p class="p-custom m-b-0">Packing Code: <strong>{{packageItem.package_code}}</strong></p>
                                                            <p class="p-custom m-b-5">Create:<i class="fa fa-location-arrow"></i> 2018/02/12 23:09:33</p>
                                                            <p class="p-custom m-b-0">Warehouse Tag: <strong>{{packageItem. box_me_warehouse_tag}}</strong></p>
                                                        </div>
                                                        <div class="col-md-6 grid-view-col-padding-rl-0 grid-view-col-content">
                                                           <div class="row">
                                                               <div class="col-md-12">
                                                                   <h6 class="pull-left m-b-0 pt-3">Ảnh Kiểm:</h6>
                                                                   <div class="button-group pull-right">
                                                                       <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
                                                                       <button class="btn btn-sm btn-secondary"><i class="fa fa-eye"></i></button>
                                                                       <button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                                                                   </div>
                                                               </div>
                                                               <div class="col-md-12">
                                                                   <div class="row grid-view-row-margin-rl-0">
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                       <div class="col-md-2 grid-view-col-padding-rl-0 grid-view-col-content m-r-5">
                                                                           <img class="img-responsive" src="https://lorempixel.com/640/480/?55964" alt="">
                                                                       </div>
                                                                   </div>
                                                               </div>

                                                           </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="mt-2 mb-2">
                                            <div class="row grid-view-row-margin-rl-0">
                                                <div class="col-md-12 grid-view-col-content">
                                                    <p class="p-custom m-b-0">PO ID: <strong>{{packageItem.order.purchase_order_id}}</strong></p>
                                                    <p class="p-custom m-b-0">Purchase Transaction: <strong>{{packageItem.order.purchase_transaction_id}}</strong></p>
                                                    <p class="p-custom m-b-0">Purchase Account: <strong>{{packageItem.order.purchase_account_email}}</strong></p>
                                                </div>
                                            </div>
                                            <hr class="mt-2 mb-2">
                                            <div class="row grid-view-row-margin-rl-0">
                                                <div class="col-md-6 grid-view-col-content">
                                                    <p class="p-custom">Order ID: <a href="#"> #{{packageItem.order.id}}</a></p>
                                                    <p class="p-custom">Type: {{packageItem.order.type_order}}</p>
                                                    <p class="p-custom">Portal: {{packageItem.order.portal}}</p>
                                                    <p class="p-custom">Customer: <a href="#">#{{packageItem.order.customer_id}}</a> </p>
                                                    <p class="p-custom">Note: <span class="text-muted">{{packageItem.order.note_by_customer}}</span></p>
                                                </div>
                                                <div class="col-md-6 grid-view-col-content">
                                                    <p class="p-custom">Receiver: <strong>{{packageItem.order.receiver_name}}</strong></p>
                                                    <p class="p-custom">Receiver Contact: <strong>{{packageItem.order.receiver_email}} - {{packageItem.order.receiver_phone}}</strong></p>
                                                    <p class="p-custom">Receiver Address:  <strong>{{packageItem.order.receiver_address}}</strong></p>
                                                    <p class="p-custom">Receiver Location: <strong>{{packageItem.order.receiver_post_code}} - {{packageItem.order.receiver_district_name}} - {{packageItem.order.receiver_province_name}}</strong></p>
                                                </div>
                                            </div>
                                            <div class="row grid-view-row-margin-rl-0">
                                                <div class="col-md-12 grid-view-col-content">
                                                    <div class="row grid-view-row-margin-rl-0 grid-header">
                                                        <div class="col-md-2 col-sm-6 grid-view-col-border grid-view-col-content">
                                                            PID
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 grid-view-col-border grid-view-col-content">
                                                            WT
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 grid-view-col-border grid-view-col-content">
                                                            Qty/W
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                                            Action
                                                        </div>
                                                    </div>
                                                    <div *ngFor="let product of packageItem.order.products;"
                                                         class="row grid-view-row-margin-rl-0 grid-content">
                                                        <div class="col-md-2 col-sm-6 grid-view-col-border grid-view-col-content">
                                                            # {{product.id}}
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 grid-view-col-border grid-view-col-content">
                                                            {{product.warehouse_tag}}
                                                        </div>
                                                        <div class="col-md-4 col-sm-3 grid-view-col-border grid-view-col-content">
                                                            {{product.quantity}}/{{product.weight}}(g)
                                                        </div>
                                                        <div class="col-md-2 col-sm-3 grid-view-col-border grid-view-col-content">
                                                            <span class="label label-danger"><i class="fa fa-remove"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #orderListTemplate>

</ng-template>

<ng-template #productListTemplate>

</ng-template>

<!--<ng-container [ngTemplateOutlet]="testTemplate" [ngTemplateOutletContext]="{clue:'IamTester'}"></ng-container>-->
<!--<ng-template #testTemplate let-clue='clue'> -->
<!--<h3>{{clue}}</h3>-->
<!--</ng-template>-->
