<div class="row style-row" *ngFor="let product of products">
  <div class="col-md-3 border-col">
    <div class="row pl-0">
      <div class="col-md-12">
        <h5>
          <a href="">SOI-{{product.id}}</a>
          <span class="badge badge-primary badge-info mr-2 mb-2 ng-star-inserted m-l-5 p-2 font-style">NEW</span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-center">
        <div>
          <app-edit-image [image] = "product.link_img" [idImage] = "product.id"></app-edit-image>
        </div>
        <div class="mt-2">
          <a href="{{product.link_origin}}" target="_blank" class="originalLink">Original Link</a>
        </div>
        <div  aria-valuemin="0" class="d-inline-flex" role="slider" tabindex="0" aria-valuemax="10" aria-valuetext="null out of 10" aria-disabled="true">
          <span class="sr-only ng-star-inserted">( )</span>
          <span class="ng-star-inserted">
                          <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                        </span>
        </div>
        <button class="btn btn-sm btn-info versionOnPayment mt-2">Version One Payment</button>
        <br>
        <div class="btn btn-sm btn-warning mr-2 mr_list OrderType"></div>
        <br>
      </div>
      <div class="col-md-7 pl-0">
        <ul>
          <!--<li *ngIf="order.type == 1" >-->
            <!--Status:-->
            <!--&lt;!&ndash;<span class="badge badge-{{item.ApproveStatus == 2 ? 'danger' : (item.ApproveStatus == 1 ? 'success' : 'warning')}} m-l-5 p-2 font-style">{{item.ApproveStatus == 2 ? 'Decline' : (item.ApproveStatus == 1 ? 'Approve' : 'Not Approve')}}</span>&ndash;&gt;-->
            <!--<span *ngIf="item.ApproveStatus ==0" class="badge badge-warning m-l-5 p-2 font-style">Not Approve</span>-->
            <!--<span *ngIf="item.ApproveStatus ==1" class="badge badge-success m-l-5 p-2 font-style">Approve</span>-->
            <!--<span *ngIf="item.ApproveStatus ==2" class="badge badge-danger m-l-5 p-2 font-style" data-placement="bottom" [popover]="ApproveStatus" popoverTitle="Approve Note">Decline</span>-->
            <!--<ng-template #ApproveStatus>-->
              <!--<p> {{item.ApproveNote}}</p>-->
            <!--</ng-template>-->
          <!--</li>-->
          <li>
            <a href="{{product.sourceId}}" target="_blank" tooltip="{{product.product_name}}">{{ (product.product_name?.length > 25)? ((product.product_name
              | slice:0:25)+'. . .'):(product.product_name)}}</a>
          </li>
          <li>
            <span class="style-strong">Sku:</span>
            <app-span-label [value]="product.sku"></app-span-label>
          </li>
          <li>
            <span class="style-strong">ParentId:</span>
            <app-span-label [value]="product.parent_sku"></app-span-label>
          </li>
          <!--<li>-->
            <!--<span class="style-strong Condition">Condition:</span>-->
            <!--<app-span-label [value]="product.description"></app-span-label>-->
          <!--</li>-->
          <li class="text-danger">
            <span class="style-strong">Item Variant:</span>
            <app-edit-variant [id]="product.id" [variant]="product.variations"></app-edit-variant>
          </li>
          <li>
            <span class="style-strong">Local Seller:</span>
            <app-span-label [value]="product.seller_id"></app-span-label>
          </li>
          <li>
            <span class="style-strong ShippingWeight">Total weight temporary:</span>
            <app-span-label [value]="product.total_weight_temporary"></app-span-label>
          </li>
          <hr>
          <!--<app-edit-local-name></app-edit-local-name>-->
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-md-4 border-col">
    <div class="row">
      <div class="col-md-6 style-border-finance">
        <div class="row">
          <div class="col-md-12">
            <h5>FINANCE</h5>
          </div>
        </div>
        <div class="hover-row">
          <div class="row">
            <div class="col-md-12">
              <strong>Purchaser:</strong>
              <!--<span> {{item.purchaseAssigneeId ? item.purchaseAssignee.username : "-&#45;&#45;"}}</span>-->
              <!--i class="fa fa-edit text-info"></i-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-7"><strong>Quantity:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">
              {{product.quantity_customer}}/{{product.quantity_purchase}}/{{product.quantity_inspect}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-7"><strong>Price Amount:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">{{product.price_amount | currency}}</div>
          </div>
          <div class="row">
            <div class="col-md-7"><strong>Price Amount Local:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">{{product.price_amount | currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 pr-0 soi-toltal-value">
              <strong>Total value
                <!--(<span class="text-line-through">{{ getTotalValueWithRequestPayment(item) | number}} {{getLocalCurrencyCodeByStore(0)}}</span>):-->
              </strong>
            </div>
            <div class="col-md-6 text-right style-padding">{{product.total_price_amount_local | currency: 'VND'}}</div>
          </div>
          <div class="row">
            <div class="col-md-12 exchangeRate"><i class="style-font-size">Exchage rate:
              {{product.exchange_rate | number}}
            </i>
            </div>
          </div>
        </div>
        <!--<div *ngIf="order.paymentStatus == 2 && checkShowPopupPrice(item)">-->
          <!--<div class="quote-container"><i class="pin"></i>-->
            <!--<blockquote class="note {{getChangePrice(item,item.ExRate) > 0 ? 'yellow' : 'red'}}">-->
              <!--Warning. There is a difference in money ! {{getChangePrice(item,item.ExRate)}} {{getLocalCurrencyCodeByStore(item.storeId)}}-->
              <!--<br>-->
              <!--<cite class="author" style="margin: 0px;cursor: pointer; font-size: 10px"-->
                    <!--(click)="closeNotify()"><i-->
                <!--class="fa fa-hand-o-right"></i> Disable notify...</cite>-->
            <!--</blockquote>-->
          <!--</div>-->
        <!--</div>-->
        <div class="row style-margin-bottom style-margin-top" >
          <div class="col-md-6 text-center pl-0">
            <button class="btn btn-sm btn-success style-buy-it-now">Buy it
              now
            </button>
          </div>
          <div class="col-md-6 text-center pl-0">
            <button class="btn btn-sm btn-success style-buy-it-now">Add to
              cart
            </button>
          </div>
        </div>
        <div class="row style-margin-bottom style-margin-top" style="margin: auto" >
          <div style="margin: auto">
            <button class="btn btn-sm btn-warning">
              Out of Stock
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h5>STATUS</h5>
          </div>
        </div>
        <div class="hover-row">
          <div class="row">
            <div class="col-md-5 pr-0">New:</div>
            <div class="col-md-7 text-right">{{new | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-0">Purchased:</div>
            <div class="col-md-6 text-right">{{purchased  | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-0">Seller shipped:</div>
            <div class="col-md-6 text-right">{{seller_shipped  | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-0">Stock in US:</div>
            <div class="col-md-6 text-right">{{stockin_us | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-0">Stock out US:</div>
            <div class="col-md-6 text-right">{{stockout_us | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Stock in local:</div>
            <div class="col-md-7 text-right" >{{stockin_local | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Stock out local:</div>
            <div class="col-md-7 text-right">{{ stockout_local| date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">At customer:</div>
            <div class="col-md-7 text-right">{{ at_customer | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Returned:</div>
            <div class="col-md-7 text-right">{{ returned | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-6  pr-0">Cancelled:</div>
            <div class="col-md-6 text-right">{{cancelled | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Lost:</div>
            <div class="col-md-7 text-right">{{lost | date:'dd/MM/yyyy HH:mm'}}</div>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-md-12 text-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-danger">
                Replace
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Request
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);">Approve</a>
                  <a class="dropdown-item" href="javascript:void(0);">Decline</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row m-t-10">
          <div class="col-md-12 text-center">
            <button class="btn btn-sm btn-warning">
              <i class="fa fa-comments" style="margin-right: 3px"></i>Chat
            </button>
          </div>
        </div>
        <div class="row m-t-10 text-center">
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info">View Tracking Log</button>
          </div>
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info">Mark as Junk</button>
          </div>
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info" >Confirm Purchase</button>
          </div>
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info" >View More Log (SOI)</button>
          </div>
          <div class="button-group col-md-auto" >
            <button class="btn btn-sm btn-danger">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 border-col">
    <ul>
      <li>
        <h5>DETAIL</h5>
      </li>
    </ul>
    <div class="row margin-row">
      <div class="col-md-12 style-col-md-5" style="padding-left: 0px">
        <style>
          .nav-link {  padding-left: 5px !important;  margin: 0px !important; padding-right: 5px !important; }
          .nav-item {width: 25%}
        </style>
        <ul class="nav nav-tabs customtab2" role="tablist">
          <li class="nav-item text-center" *ngFor="let tab of tabs">
            <a class="nav-link" data-toggle="tab" href="javascript:void(0);" [routerLink]="[tab.router]" role="tab" aria-expanded="true">
              <span class="hidden-xs-down" style=" font-size: 10px;">{{tab.title}}</span>
            </a>
          </li>
        </ul>
        <div>
          <app-detail-package></app-detail-package>
        </div>
      </div>
    </div>
  </div>
</div>
