<div class="row style-row">
  <div class="col-md-3 border-col">
    <div class="row pl-0">
      <div class="col-md-12">
        <h5>
          <strong class="text-uppercase">
            <a>
              <span class="text-danger style-binCode">BIN-8D3F4993390B</span>
            </a>
          </strong>/
          <a href="">SOI-542721</a>
          <span class="badge badge-primary badge-info mr-2 mb-2 ng-star-inserted m-l-5 p-2 font-style">NEW</span>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-center">
        <div>
          <app-edit-image></app-edit-image>
        </div>
        <div>
          <a href="#" target="_blank" class="originalLink">Original Link</a>
        </div>
        <div  aria-valuemin="0" class="d-inline-flex" role="slider" tabindex="0" aria-valuemax="10" aria-valuetext="null out of 10" aria-disabled="true">
          <span class="sr-only ng-star-inserted">( )</span>
          <span class="ng-star-inserted">
                          <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                        </span>
        </div>
        <button class="btn btn-sm btn-info versionOnPayment mt-2">Version One Payment</button>
        <br>
        <div class="btn btn-sm btn-warning mr-2 mr_list OrderType"></div>
        <br>
      </div>
      <div class="col-md-7 pl-0">
        <ul>
          <!--<li *ngIf="order.type == 1" >-->
            <!--Status:-->
            <!--&lt;!&ndash;<span class="badge badge-{{item.ApproveStatus == 2 ? 'danger' : (item.ApproveStatus == 1 ? 'success' : 'warning')}} m-l-5 p-2 font-style">{{item.ApproveStatus == 2 ? 'Decline' : (item.ApproveStatus == 1 ? 'Approve' : 'Not Approve')}}</span>&ndash;&gt;-->
            <!--<span *ngIf="item.ApproveStatus ==0" class="badge badge-warning m-l-5 p-2 font-style">Not Approve</span>-->
            <!--<span *ngIf="item.ApproveStatus ==1" class="badge badge-success m-l-5 p-2 font-style">Approve</span>-->
            <!--<span *ngIf="item.ApproveStatus ==2" class="badge badge-danger m-l-5 p-2 font-style" data-placement="bottom" [popover]="ApproveStatus" popoverTitle="Approve Note">Decline</span>-->
            <!--<ng-template #ApproveStatus>-->
              <!--<p> {{item.ApproveNote}}</p>-->
            <!--</ng-template>-->
          <!--</li>-->
          <li>
            <a href="#" target="_blank" tooltip="">ROLI Seaboard Block with . . .</a>
          </li>
          <li>
            <span class="style-strong">Sku:</span>SKU-SKU-WS163580352156
            <!--<app-span-label [value]="" *ngIf="item.sku == ''"></app-span-label>-->
          </li>
          <li>
            <span class="style-strong">ParentId:</span>163580352156
            <!--<app-span-label [value]="item.ParentSku"></app-span-label>-->
          </li>
          <li>
            <span class="style-strong Condition">Condition:</span>Used
            <!--<app-span-label [value]="item.description"></app-span-label>-->
          </li>
          <li class="text-danger">
            <span class="style-strong">Item Variant:</span>
            <!--<app-item-variant [id]="item.id" [variant]="item.specifics"></app-item-variant>-->
          </li>
          <li>
            <span class="style-strong">Local Seller:</span>
            <!--<app-span-label [value]="item.sellerId"></app-span-label>-->
          </li>
          <li>
            <span class="style-strong ShippingWeight">Shipping Weight: 3 kg</span>
          </li>
          <hr>
          <app-edit-local-name></app-edit-local-name>
          <!--<li>-->

          <!--<span class="style-strong">Category:</span>-->
          <!--<app-custom-category-policy [id]="item.id" [category]="item.customCategoryId" [store]="order.storeId"></app-custom-category-policy>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-md-4 border-col">
    <div class="row">
      <div class="col-md-6 style-border-finance">
        <div class="row">
          <div class="col-md-12">
            <h5>FINANCE</h5>
          </div>
        </div>
        <div class="hover-row">
          <div class="row">
            <div class="col-md-12">
              <strong>Purchaser:</strong>
              <!--<span> {{item.purchaseAssigneeId ? item.purchaseAssignee.username : "-&#45;&#45;"}}</span>-->
              <!--i class="fa fa-edit text-info"></i-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-7"><strong>Quantity:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">
              1/0/0
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">Unit Price: </div>
            <div class="col-md-5 text-right style-padding">
              $63.64
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">US Tax:
            </div>
            <!--<div class="col-md-5 text-right style-padding">-->
              <!--&lt;!&ndash;<app-span-label [value]="item.purchaseTax ? item.purchaseTax : item.ItemTax"></app-span-label>&ndash;&gt;-->
              <!--{{ item.purchaseTax ? item.purchaseTax : item.ItemTax | number}} {{getLocalCurrencyCodeByStore(0)}}-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">US Ship:</div>
            <!--<div class="col-md-5 text-right style-padding">-->
              <!--&lt;!&ndash;<app-span-label [value]="item.purchaseShippingFee ? item.purchaseShippingFee : item.ItemLocalShippingAmount"></app-span-label>&ndash;&gt;-->
              <!--{{ item.purchaseShippingFee ? item.purchaseShippingFee : item.ItemLocalShippingAmount | number}} {{getLocalCurrencyCodeByStore(0)}}-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              <strong>Item(s) Subtotal:</strong>
            </div>
            <!--<div class="col-md-5 text-right style-padding">-->
              <!--&lt;!&ndash;<app-span-label [value]="getTotal(item)"></app-span-label>&ndash;&gt;-->
              <!--{{ getTotal(item) | number}} {{getLocalCurrencyCodeByStore(0)}}-->
            <!--</div>-->
          </div>
          <div class="row style-margin-top">
            <div class="col-md-7">
              Weshop Fee:
            </div>
            <!--<div class="col-md-5 text-right style-padding">{{getWSFee(item) | number}} {{getLocalCurrencyCodeByStore(0)}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              International Shipping Fee:
            </div>
            <!--<div *ngIf="editId != item.id +'_ItemInternationalShippingAmount'"  class="col-md-5 text-right {{canEditFee() ? 'customerFee' : 'style-padding'}}">-->
              <!--<span>{{item.ItemInternationalShippingAmount | number}} {{getLocalCurrencyCodeByStore(0)}}</span>-->
              <!--<a href="javascript:void(0);" *ngIf="canEditFee()" (click)="editId = item.id +'_ItemInternationalShippingAmount';valueEditFee = item.ItemInternationalShippingAmount;"><i class="fa fa-edit m-1-5 text-info padding-edit"></i></a>-->
            <!--</div>-->
            <!--<div *ngIf="editId == item.id +'_ItemInternationalShippingAmount'"  class="col-md-5 text-right customerFee">-->
              <!--<input type="number" class="input_inline" [disabled]="!canEditFee()" [(ngModel)]="item.ItemInternationalShippingAmount"  (keypress)="eventHandler($event,'ItemInternationalShippingAmount',item)" (change)="updateItem('ItemInternationalShippingAmount',item)" />-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              Customer Fee:
            </div>
            <!--<div *ngIf="editId != item.id +'_ItemCustomFee'"  class="col-md-5 text-right {{canEditFee() ? 'customerFee' : 'style-padding'}}">-->
              <!--<span>{{item.ItemCustomFee | number}} {{getLocalCurrencyCodeByStore(0)}}</span>-->
              <!--<a href="javascript:void(0);" *ngIf="canEditFee()" (click)="editId = item.id +'_ItemCustomFee';valueEditFee = item.ItemCustomFee;"><i class="fa fa-edit m-1-5 text-info padding-edit"></i></a>-->
            <!--</div>-->
            <!--<div *ngIf="editId == item.id +'_ItemCustomFee'"  class="col-md-5 text-right customerFee">-->
              <!--<input type="number" class="input_inline" [disabled]="!canEditFee()" [(ngModel)]="item.ItemCustomFee"  (keypress)="eventHandler($event,'ItemCustomFee',item)" (change)="updateItem('ItemCustomFee',item)" />-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              Local Shipping Fee:
            </div>
            <!--<div *ngIf="editId != item.id +'_localShippingFee'"  class="col-md-5 text-right {{canEditFee() ? 'customerFee' : 'style-padding'}}">-->
              <!--{{item.ItemDomesticShippingAmount | number}} {{getLocalCurrencyCodeByStore(0)}}-->
              <!--<a href="javascript:void(0);" *ngIf="canEditFee()" (click)="editId = item.id +'_localShippingFee';valueEditFee = item.ItemDomesticShippingAmount;"><i class="fa fa-edit text-info padding-edit"></i></a>-->
            <!--</div>-->
            <!--<div *ngIf="editId == item.id +'_localShippingFee'"  class="col-md-5 text-right customerFee">-->
              <!--<input type="number" class="input_inline" [disabled]="!canEditFee()" [(ngModel)]="item.ItemDomesticShippingAmount"  (keypress)="eventHandler($event,'ItemDomesticShippingAmount',item)" (change)="updateItem('ItemDomesticShippingAmount',item)" />-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              GTS:
            </div>
            <div class="col-md-5 text-right style-padding">
              <!--<span>{{0 | number}} {{getLocalCurrencyCodeByStore(0)}}</span>-->

            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              Inspection:
            </div>
            <!--<div class="col-md-5 text-right style-padding">{{0 | number}} {{getLocalCurrencyCodeByStore(0)}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              packing Wood:
            </div>
            <!--<div *ngIf="editId != item.id +'_packingWood'"  class="col-md-5 text-right {{canEditFee() ? 'customerFee' : 'style-padding'}}">-->
              <!--<span>{{item.packingWood | number}} {{getLocalCurrencyCodeByStore(0)}}</span>-->
              <!--<a href="javascript:void(0);" *ngIf="canEditFee()" (click)="editId = item.id +'_packingWood';valueEditFee = item.packingWood;"><i class="fa fa-edit m-1-5 padding-edit text-info"></i></a>-->
            <!--</div>-->
            <!--<div *ngIf="editId == item.id +'_packingWood'"  class="col-md-5 text-right customerFee">-->
              <!--<input type="number" class="input_inline" [disabled]="!canEditFee()" [(ngModel)]="item.packingWood" (keypress)="eventHandler($event,'packingWood',item)" (change)="updateItem('packingWood',item)" />-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-7">
              Import fee:
            </div>
            <!--<div *ngIf="editId != item.id +'_importFee'" class="col-md-5 text-right {{canEditFee() ? 'customerFee' : 'style-padding'}}">-->
              <!--<span>{{ item.ItemCustomAdditionFee | number}} {{getLocalCurrencyCodeByStore(0)}}</span>-->
              <!--<a href="javascript:void(0);" *ngIf="canEditFee()" (click)="editId = item.id +'_importFee';valueEditFee = item.ItemCustomAdditionFee;"><i class="fa fa-edit m-1-5 padding-edit text-info"></i></a>-->
            <!--</div>-->
            <!--<div *ngIf="editId == item.id +'_importFee'"  class="col-md-5 text-right customerFee">-->
              <!--<input type="number" class="input_inline" [disabled]="!canEditFee()" [(ngModel)]="item.ItemCustomAdditionFee" (keypress)="eventHandler($event,'ItemCustomAdditionFee',item)" (change)="updateItem('ItemCustomAdditionFee',item)" />-->
            <!--</div>-->
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 soi-toltal-value">
              <strong>Total value
                <!--(<span class="text-line-through">{{ getTotalValueWithRequestPayment(item) | number}} {{getLocalCurrencyCodeByStore(0)}}</span>):-->
              </strong>
            </div>
            <!--<div class="col-md-5 text-right style-padding">{{ getTotalValueWithRequestPayment(item) | number}} {{getLocalCurrencyCodeByStore(0)}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-12 exchangeRate"><i class="style-font-size">Exchage rate:
              <!--{{ item.ExRate | number}} {{getLocalCurrencyCodeByStore(item.storeId)}}-->
            </i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 style-padding-right">
              <strong>Total value
                (<span style="text-decoration: line-through">2,155,000 đ</span>)
              </strong>
            </div>
            <div class="col-md-5 text-right style-padding">
              2,155,000 đ
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 text-danger soi-paid">Paid</div>
            <div class="col-md-5 text-right style-padding text-danger">
              <!--&lt;!&ndash;{{ getAmountPaid(item.orderPaymentRequests, item.ExRate,'FIRST_PAYMENT') | currency:getLocalCurrencyCode(item.storeId) }}&ndash;&gt;-->
              <!--{{ getFeeByOrderRequestPayment(item.orderPaymentRequests,'paid','ALL') | currency:getLocalCurrencyCode(item.storeId) }}-->
              <!--&lt;!&ndash;<span >{{order.TotalPaidAmount | number}} {{getLocalCurrencyCodeByStore(item.storeId)}}</span>&ndash;&gt;-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 text-info">Collect</div>
            <div class="col-md-5 text-right style-padding text-info">
              <!--{{getAmountPaid(item.orderPaymentRequests, item.ExRate,'ADDFEE') | currency:getLocalCurrencyCode(item.storeId) }}-->
              <!--<span >{{getFeeByOrderRequestPayment(item.orderPaymentRequests,'un-paid','ADDFEE') | number}} {{getLocalCurrencyCodeByStore(item.storeId)}}</span>-->
            </div>
          </div>
          <div class="row style-margin-bottom">
            <div class="col-md-7">Refund</div>
            <div class="col-md-5 text-right style-padding">
              <!--{{getAmountPaid(item.orderPaymentRequests, item.ExRate,'REFUNND') | currency:getLocalCurrencyCode(item.storeId) }}-->
              <!--{{getRefund(item,item.ExRate) | number}} {{getLocalCurrencyCodeByStore(item.storeId)}}-->
              <!--{{getFeeByOrderRequestPayment(item.orderPaymentRequests,'un-paid','REFUND')  | number}} {{getLocalCurrencyCodeByStore(item.storeId)}}-->
            </div>
          </div>
        </div>
        <!--<div *ngIf="order.paymentStatus == 2 && checkShowPopupPrice(item)">-->
          <!--<div class="quote-container"><i class="pin"></i>-->
            <!--<blockquote class="note {{getChangePrice(item,item.ExRate) > 0 ? 'yellow' : 'red'}}">-->
              <!--Warning. There is a difference in money ! {{getChangePrice(item,item.ExRate)}} {{getLocalCurrencyCodeByStore(item.storeId)}}-->
              <!--<br>-->
              <!--<cite class="author" style="margin: 0px;cursor: pointer; font-size: 10px"-->
                    <!--(click)="closeNotify()"><i-->
                <!--class="fa fa-hand-o-right"></i> Disable notify...</cite>-->
            <!--</blockquote>-->
          <!--</div>-->
        <!--</div>-->
        <div class="row style-margin-bottom style-margin-top" >
          <div class="col-md-6 text-center pl-0">
            <button class="btn btn-sm btn-success style-buy-it-now" (click)="showCheckOrder(item.id,item.storeId,'buynow')">Buy it
              now
            </button>
          </div>
          <div class="col-md-6 text-center pl-0">
            <button class="btn btn-sm btn-success style-buy-it-now"  (click)="showCheckOrder(item.id,item.storeId,'addtocart')">Add to
              cart
            </button>
          </div>
        </div>
        <div class="row style-margin-bottom style-margin-top" style="margin: auto" >
          <div style="margin: auto">
            <button class="btn btn-sm btn-warning" (click)="itemMake.id = item.id;showPopupNote.show()">
              Out of Stock
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h5>STATUS</h5>
          </div>
        </div>
        <div class="hover-row">
          <div class="row">
            <div class="col-md-5 pr-0">Placed:</div>
            <!--<div class="col-md-7 text-right">{{item.createTime | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5 pr-0">Paid:</div>
            <!--<div class="col-md-7 text-right">{{order.LastPaidTime  | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5 pr-0">Rq Purchase:</div>
            <!--<div class="col-md-7 text-right">{{item.purchaseAssignTime  | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-6 pr-0">Purchasing:</div>
            <!--<div class="col-md-6 text-right">{{item.purchaseStartTime | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-6 pr-0">Purchased:</div>
            <!--<div class="col-md-6 text-right">{{item.purchaseCompleteTime | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Seller Shipped:</div>
            <!--<div class="col-md-7 text-right" >{{getAvailableTime(item.orderItemTrackingCode,'sellerShipTime',null) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">At US:</div>
            <!--<div class="col-md-7 text-right">{{ getAtUsTime(item)| date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">US-Local:</div>
            <!--<div class="col-md-7 text-right">{{ getAvailableTime(item.shipmentManifestItems,'shippingCreatedTime',null) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Rq Ship Out:</div>
            <!--<div class="col-md-7 text-right">{{ getAvailableTime(item.shipmentManifestItems,'shippingSendTime',null) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Local-Customer:</div>
            <!--<div class="col-md-7 text-right">{{getTimeTracking([90,93],item.orderItemTrackingLogs) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Delivered:</div>
            <!--<div class="col-md-7 text-right">{{getTimeTracking([100],item.orderItemTrackingLogs) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-5  pr-0">Returned:</div>
            <!--<div class="col-md-7 text-right">{{getTimeTracking([91],item.orderItemTrackingLogs) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
          <div class="row">
            <div class="col-md-6  pr-0">Cancelled:</div>
            <!--<div class="col-md-6 text-right">{{getTimeTracking([92,81],item.tracking_logs) | date:'dd/MM/yyyy HH:mm'}}</div>-->
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-md-12 text-center">
            <div class="btn-group">
              <button class="btn btn-sm btn-danger">
                Replace
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Request
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);">Approve</a>
                  <a class="dropdown-item" href="javascript:void(0);">Decline</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row m-t-10">
          <div class="col-md-12 text-center">
            <button class="btn btn-sm btn-warning">
              <i class="fa fa-comments" style="margin-right: 3px"></i>Chat
            </button>
          </div>
        </div>
        <div class="row m-t-10 text-center">
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info">View Tracking Log</button>
          </div>
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info">Mark as Junk</button>
          </div>
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info" >Confirm Purchase</button>
          </div>
          <div class="button-group col-md-auto">
            <button class="btn btn-sm btn-info" >View More Log (SOI)</button>
          </div>
          <div class="button-group col-md-auto" >
            <button class="btn btn-sm btn-danger">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 border-col">
    <ul>
      <li>
        <h5>DETAIL</h5>
      </li>
    </ul>
    <!--<div class="row margin-row">-->
      <!--<div class="col-md-12 style-col-md-5" style="padding-left: 0px">-->
        <!--<app-item-detail></app-item-detail>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
