<div class="table-responsive">
  <table border="1 solid #DFDFDF" cellpadding="1" class="table">
    <thead>
    <tr>
      <th class="text-center">No</th>
      <th class="text-center">Package Code/Tag Code</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Weight</th>
      <th class="text-center">Stock In Local/ Stock Out Local</th>
      <th class="text-center">Status</th>
      <th><button class="btn btn-sm btn-default" (click)="offCreatePackage()" data-target="#showCreatePackage" data-toggle="modal" data-backdrop="static" data-keyboard="false">Create Package Item</button></th>
    </tr>
    </thead>
    <tbody class="text-center"  *ngIf="packages.length > 0">
    <tr class="text-center" *ngFor="let package of packages; let i = index">
      <td class="text-center">
        {{i+1}}<br>
        <a href="javascript:void(0)" (click)="packageEdit(package)" data-target="#showEditPackage" data-toggle="modal" data-backdrop="static" data-keyboard="false">
          <i class="fa fa-edit text-info"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="avascript:void(0)" target="_blank" class="tracking">{{package.package_code}}</a>
        <div class="Tagcode" > {{package.box_me_warehouse_tag}}</div>
      </td>
      <td class="text-center">
        {{package.quantity}}
      </td>
      <td class="text-center">
        <ul>
          <li>{{(package.dimension_l*package.dimension_w*package.dimension_h)/5000}}kg({{package.dimension_l}}x{{package.dimension_w}}x{{package.dimension_h}})</li>
          <li>{{package.change_weight/1000}}kg</li>
        </ul>
      </td>
      <td class="text-center">
        <ul>
          <li>Stock In Local: {{package.stock_in_local}}</li>
          <li>Stock Out Local: {{package.stock_out_local}}</li>
        </ul>
      </td>
      <td class="text-center">
        <ul>
          <li>{{package.current_status}}</li>
          <li>{{package.created_at}}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="showEditPackage" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 1000px">
      <div class="modal-header ng-scope">
        <h3 class="modal-title">Update Package item</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="offEditPackage()">
          <span aria-hidden="true">×</span>
          <span class="sr-only">close</span>
        </button>
      </div>
      <app-edit-package-item (checkEdit)="handleChange($event)" *ngIf="check" [orderC]="orderCode" [package] = 'package'></app-edit-package-item>
    </div>
  </div>
</div>

<div id="showCreatePackage" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" style="max-width: 1000px">
    <div class="modal-content" style="width: 1000px">
      <div class="modal-header ng-scope">
        <h3 class="modal-title">Create Package Item</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="offCreatePackage()">
          <span aria-hidden="true">×</span>
          <span class="sr-only">close</span>
        </button>
      </div>
      <form [formGroup] = "createForm" class="form-horizontal ng-pristine ng-valid">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2 mt-4">
              <label for="package_code" class="mb-2">Package Code</label>
              <input id="package_code" name="package_code" formControlName="package_code"  placeholder="Package Code" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="box_me_warehouse_tag" class="mb-2">Boxme Werehouse Tag</label>
              <input id="box_me_warehouse_tag" name="box_me_warehouse_tag" formControlName="box_me_warehouse_tag"  placeholder="Mã thẻ khoBoxme Werehouse Tag" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Quantity</label>
              <input name="quantity" formControlName="quantity" placeholder="Quantity" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Weight (g)</label>
              <input name="weight" formControlName="weight"  placeholder="weight" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Change Weight (g)</label>
              <input name="change_weight" formControlName="change_weight"  placeholder="Change Weight" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Dimension Length(cm)</label>
              <input name="widthPackage" formControlName="dimension_l" placeholder="Dimension Length" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Dimension Width(cm)</label>
              <input name="widthPackage" formControlName="dimension_w" placeholder="Dimension Width" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Dimensionh Height(cm)</label>
              <input name="widthPackage" formControlName="dimension_h" placeholder="Dimensionh Height" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Price/1 Product</label>
              <input name="netWeight" formControlName="price"  placeholder="Price/1 Product" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form1">
            </div>
          </div>
        </div>
        <div class="modal-footer ng-scope">
          <button class="btn btn-success" (click)="addPackageItem()" type="button">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
