<div class="table-responsive">
  <table border="1 solid #DFDFDF" cellpadding="1" class="table">
    <thead>
    <tr>
      <th class="text-center">No</th>
      <th class="text-center">Package Code/Tag Code</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Weight</th>
      <th class="text-center">Stock In Local/ Stock Out Local</th>
      <th class="text-center">Status</th>
      <th><button class="btn btn-sm btn-default" (click)="offCreatePackage()" data-target="#showCreatePackage" data-toggle="modal" data-backdrop="static" data-keyboard="false">Thêm Kiện</button></th>
    </tr>
    </thead>
    <tbody class="text-center"  *ngIf="packages.length > 0">
    <tr class="text-center" *ngFor="let package of packages; let i = index">
      <td class="text-center">
        {{i+1}}<br>
        <a href="javascript:void(0)" (click)="packageEdit(package)" data-target="#showEditPackage" data-toggle="modal" data-backdrop="static" data-keyboard="false">
          <i class="fa fa-edit text-info"></i>
        </a>
      </td>
      <td class="text-center">
        <a href="avascript:void(0)" target="_blank" class="tracking">{{package.package_code}}</a>
        <div class="Tagcode" > {{package.box_me_warehouse_tag}}</div>
      </td>
      <td class="text-center">
        {{package.quantity}}
      </td>
      <td class="text-center">
        <ul>
          <li>{{(package.dimension_l*package.dimension_w*package.dimension_h)/5000}}kg({{package.dimension_l}}x{{package.dimension_w}}x{{package.dimension_h}})</li>
          <li>{{package.change_weight/1000}}kg</li>
        </ul>
      </td>
      <td class="text-center">
        <ul>
          <li>Stock In Local: {{package.stock_in_local}}</li>
          <li>Stock Out Local: {{package.stock_out_local}}</li>
        </ul>
      </td>
      <td class="text-center">
        <ul>
          <li>{{package.current_status}}</li>
          <li>{{package.created_at}}</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="showEditPackage" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 1000px">
      <div class="modal-header ng-scope">
        <h3 class="modal-title">Cập nhật lại thông tin kiện hàng</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="offEditPackage()">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Đóng</span>
        </button>
      </div>
      <app-edit-package-item *ngIf="check" [orderIdd]="order_id" [package] = 'package'></app-edit-package-item>
    </div>
  </div>
</div>

<div id="showCreatePackage" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" style="max-width: 1000px">
    <div class="modal-content" style="width: 1000px">
      <div class="modal-header ng-scope">
        <h3 class="modal-title">Thêm mới kiện hàng</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="offCreatePackage()">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Đóng</span>
        </button>
      </div>
      <form [formGroup] = "createForm" class="form-horizontal ng-pristine ng-valid">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Mã kiện Weshop</label>
              <input name="ladingId" formControlName="package_code"  placeholder="Mã kiện hàng" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Mã thẻ kho</label>
              <input name="ladingId" formControlName="box_me_warehouse_tag"  placeholder="Mã thẻ kho" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Số lượng</label>
              <input name="ladingId" formControlName="quantity" placeholder="Số lượng" type="text" class="form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Cân nặng tịnh (g)</label>
              <input name="netWeight" formControlName="weight"  placeholder="Cân nặng" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Cân nặng quy đổi (g)</label>
              <input name="netWeight" formControlName="change_weight"  placeholder="Cân nặng" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Dài(cm)</label>
              <input name="widthPackage" formControlName="dimension_l" placeholder="Dài" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Rộng(cm)</label>
              <input name="widthPackage" formControlName="dimension_w" placeholder="Rộng" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Cao(cm)</label>
              <input name="widthPackage" formControlName="dimension_h" placeholder="Rộng" type="text" class="form-control-sm  ng-pristine ng-untouched ng-valid ng-not-empty style-width-form1">
            </div>
            <div class="col-md-2 mt-4">
              <label for="" class="mb-2">Giá/1 sản phẩm</label>
              <input name="netWeight" formControlName="price"  placeholder="Giá tiền 1 sản phẩm" type="text" class="form-control-sm  ng-pristine ng-valid ng-not-empty ng-touched style-width-form1">
            </div>
          </div>
        </div>
        <div class="modal-footer ng-scope">
          <button class="btn btn-success" (click)="addPackageItem()" type="button">Thêm mới</button>
        </div>
      </form>
    </div>
  </div>
</div>
