<div class="col-md-12 p-o m-0 col-xl-12 chat">
  <form action="" [formGroup]="chatGroup">
    <div class="card m-0 p-0">
      <div class="card-header msg_head">
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img src="../../../../../assets/images/users/1.jpg" class="rounded-circle user_img">
            <span class="online_icon"></span>
          </div>
          <div class="user_info">
            <span style="color: black">Trao đổi nội bộ</span>
            <p style="color: black">{{code}}</p>
          </div>
        </div>
      </div>
      <div class="card-body msg_card_body {{check ? 'view' : ''}}" (click)="clickChat()">
        <div class="{{check ? 'plane main' : ''}}">
          <div *ngFor="let chat of listChatG" class="{{check ? 'circle' : ''}}">
            <div *ngIf="chat.type_chat == 'GROUP_WS'">
              <ng-container *ngIf="chat.user_name !== username">
                <div class="d-flex justify-content-start mb-4">
                  <div class="img_cont_msg">
                    <img src="../../../../../assets/images/users/4.jpg"
                         class="rounded-circle user_img_msg">
                  </div>
                  <div>
                    <span class="msg_cotainer_send float-left">{{chat.message}}</span><br>
                    <div class="float-left text-gray">
                      <span class="mr-2">{{chat.user_name}}</span>
                      <span *ngIf="checkTime(chat.date)" class="text-darkgray">{{chat.date | amTimeAgo}}</span>
                      <span *ngIf="!checkTime(chat.date)" class="text-darkgray">{{chat.date}}</span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="chat.user_name === username" >
                <div class="d-flex justify-content-end mb-4">
                  <div>
                    <span class="msg_cotainer_send float-right bg-info text-white">{{chat.message}}</span><br>
                    <div class="float-right text-gray">
                      <span class="mr-2">{{chat.user_name}}</span>
                      <span *ngIf="checkTime(chat.date)" class="text-darkgray">{{chat.date | amTimeAgo}}</span>
                      <span *ngIf="!checkTime(chat.date)" class="text-darkgray">{{chat.date}}</span>
                    </div>
                  </div>
                  <div class="img_cont_msg">
                    <img src="../../../../../assets/images/users/1.jpg" class="rounded-circle user_img_msg">
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group">
          <textarea name="" class="form-control type_msg" ng-keyup="$event.keyCode == 13 && !$event.shiftKey && myFunc()" (keydown.enter)="createChatG()" formControlName="message"
                    placeholder="Type your message..."></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
