<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!--<form action="" name="formSearch" class="row search-form"></form>-->
                <section class="row item-operation">
                    <div class="col-md-12">
                        <div class="form-inline pull-right">
                            <div class="button-group">
                                <a class="btn btn-info btn-sm text-white"><i class="fa fa-file-excel-o"></i> Export Excel</a>
                            </div>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination">
                            <div class="col-md-6">
                                Showing
                                <select class="form-control-sm select-custom"
                                        (change)="handlePerPage($event)">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="all">All</option>
                                </select>
                                of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items
                            </div>
                            <div class="col-md-6 ">
                                <pagination [boundaryLinks]="true"
                                            [totalItems]="totalCount"
                                            (pageChanged)="handlePagination($event)"
                                            [maxSize]="10"
                                            [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                            [rotate]="true">
                                </pagination>
                            </div>
                        </div>
                        <div class="row grid-view">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <th width="7%"></th>
                                        <th width="34%">Package</th>
                                        <th width="44%">Order</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let item of items">
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <p class="mb-1">Tracking: <strong>{{item.tracking_code}}</strong></p>
                                                    <p class="mb-1">Manifest: <a href="javascript:void(0)">{{item.manifest_code}}</a></p>
                                                    <p class="mb-1">Quantity: <strong>{{item.quantity}}</strong></p>
                                                    <p class="mb-1">Weight: <strong>{{item.quantity}} gram</strong></p>
                                                    <p class="mb-1">Dimension Weight: <strong>{{item.dimension}} gram</strong></p>
                                                    <p class="mb-1">Volume ({{item.volume_label}}): <strong>{{item.volume}} (cm)</strong></p>
                                                    <p class="mb-1">Create At: <strong>{{item.created_at}}</strong></p>
                                                </td>
                                                <td>
                                                    <ng-container  [ngTemplateOutlet]="!isUndefined(item) ? definedItem : unDefinedItem" [ngTemplateOutletContext]="{order:item.order,product:item.product}"></ng-container>
                                                    <ng-template #definedItem let-order="order" let-product="product">
                                                        <h5>Order: <span class="text-danger">{{order.id}}</span>/{{order.type_order}}/{{order.portal}}</h5>
                                                        <p class="mb-1">Customer: <span class="text-danger">{{order.customer_id}}</span></p>
                                                        <p class="mb-1">Receiver Name: <span class="text-danger">{{order.receiver_name}}</span></p>
                                                        <p class="mb-1">Receiver Contact: <strong>{{order.receiver_email }}-{{order.receiver_phone}}</strong></p>
                                                        <p class="mb-1">Receiver Address: <strong>{{order.receiver_address }}</strong></p>
                                                        <p class="mb-1">Receiver Location:
                                                            <strong>
                                                                {{order.receiver_post_code }} -
                                                                {{order.receiver_country_name}} -
                                                                {{order.receiver_province_name}}-
                                                                {{order.receiver_district_name }}
                                                            </strong>
                                                        </p>
                                                        <h5>Product: <span class="text-danger">{{product.id}}</span>/SDFSDFSDF/ADASDAD</h5>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <img src="https://lorempixel.com/640/480/?55964" alt="" width="100%">
                                                            </div>
                                                            <div class="col-md-9">
                                                                <p class="mb-1">{{product.product_name}}</p>
                                                                <p class="mb-1">{{product.created_at}}</p>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template #unDefinedItem let-order="order">
                                                        <h4>Undefined</h4>
                                                        <div class="form-group">
                                                            <input type="text" placeholder="enter Product ID">
                                                        </div>
                                                        <button class="btn btn-sm btn-success">Map Product</button>
                                                    </ng-template>
                                                </td>
                                                <td>
                                                    <div class="button-group">
                                                        <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
                                                        <button class="btn btn-sm btn-success"><i class="fa fa-image"></i></button>
                                                        <button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!--todo show image list-->
                                        </ng-container>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>