<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <!--<form action="" name="formSearch" class="row search-form"></form>-->
                <section class="row item-operation">
                    <div class="col-md-12">
                        <div class="form-inline pull-right">
                            <div class="button-group">
                                <a class="btn btn-info btn-sm text-white"><i class="fa fa-file-excel-o"></i> Export Excel</a>
                            </div>
                        </div>
                    </div>
                </section>
                <article class="row item-list">
                    <div class="col-md-12">
                        <div class="row pagination">
                            <div class="col-md-6">
                                Showing
                                <select class="form-control-sm select-custom" (change)="handlePerPage($event)">
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="all">All</option>
                                </select>
                                of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items
                            </div>
                            <div class="col-md-6 ">
                                <pagination [boundaryLinks]="true"
                                            [totalItems]="totalCount"
                                            (pageChanged)="handlePagination($event)"
                                            [maxSize]="10"
                                            [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                            [rotate]="true">
                                </pagination>
                            </div>
                        </div>
                        <div class="row grid-view">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <th width="15%" >Tracking Info</th>
                                        <th width="25%">Merge Extension</th>
                                        <th width="25%">Box Me Received</th>
                                        <th width="25%">Box Me Inspected</th>
                                        <th width="10%">Action</th>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let item of items">
                                            <tr>
                                                <td>
                                                    <div class="mb-1">Tracking: <strong>{{item.tracking_code}}</strong></div>
                                                    <div class="mb-1">Manifest: <a href="javascript:void(0)">{{item.manifest_code}}-{{item.manifest_id}}</a></div>
                                                    <div class="mb-1">Quantity: <strong>{{item.quantity}}</strong></div>
<!--                                                    <div class="mb-1">Weight: <strong>{{item.quantity}} gram</strong></div>-->
<!--                                                    <div class="mb-1">Dimension Weight: <strong>{{item.dimension}} gram</strong></div>-->
<!--                                                    <div class="mb-1">Volume ({{item.volume_label}}): <strong>{{item.volume}} (cm)</strong></div>-->
                                                    <div class="mb-1">Create At: <strong>{{item.created_at | date}}</strong></div>
<!--                                                    <div class="mb-1">Product Name: <strong>{{item.item_name}}</strong></div>-->
                                                </td>
                                                <td>
                                                    <span class="label label-warning" *ngIf="item.draftExtensionTrackingMap && !item.trackingCode" >Get From Extension</span><br>
                                                    <span class="label label-warning" *ngIf="!item.draftExtensionTrackingMap && item.trackingCode" >Get From Us Sending</span><br>
                                                    <span class="label label-success" *ngIf="item.draftExtensionTrackingMap && item.trackingCode" >Merge Success</span><br>
                                                    <span class="label label-danger" *ngIf="!item.draftExtensionTrackingMap && !item.trackingCode" >Unknown</span><br>
                                                    <div>Order id : <b>{{item.order_id}}</b></div>
                                                    <div>Product id : <b>{{item.product_id}}</b></div>
                                                    <div>Purchase invoice : <b>{{item.purchase_invoice_number}}</b></div>
                                                    <div>Update at : <b>{{item.updated_at | date}}</b></div>
                                                </td>
                                                <td>
                                                    <div *ngIf="item.draftBoxmeTracking">
                                                        <span class="label label-success">Box Me Received</span><br>
                                                        <div>Order id : <b>{{item.draftBoxmeTracking.order_id}}</b></div>
                                                        <div>Product id : <b>{{item.draftBoxmeTracking.product_id}}</b></div>
                                                        <div>Product name : <b>{{item.draftBoxmeTracking.item_name}}</b></div>
                                                        <div>Purchase invoice : <b>{{item.draftBoxmeTracking.purchase_invoice_number}}</b></div>
                                                        <div>Warehouse Tag : <b>{{item.draftBoxmeTracking.warehouse_tag_boxme}}</b></div>
                                                        <div>Quantity : <b>{{item.draftBoxmeTracking.quantity}}</b></div>
                                                        <div>Weight : <b>{{item.draftBoxmeTracking.weight}} (gram)</b></div>
                                                        <div>Dimension : <b>{{item.draftBoxmeTracking.dimension_h}}x{{item.draftBoxmeTracking.dimension_l}}x{{item.draftBoxmeTracking.dimension_w}} (cm)</b></div>
                                                        <div>Note by boxme : <b>{{item.draftBoxmeTracking.note_boxme}}</b></div>
                                                        <div>Update at : <b>{{item.draftBoxmeTracking.updated_at | date}}</b></div>
                                                        <div class="mb-1">
                                                            <strong>List Image</strong>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6" *ngFor="let img of getListImage(item.draftBoxmeTracking.image)" >
                                                                    <img *ngIf="img && img !== 'None'" src="{{img}}" class="img-thumbnail img-responsive" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!item.draftBoxmeTracking && item.draftWastingTracking" >
                                                        <span class="label label-warning">Wasting Tracking</span><br>
                                                        <div>Order id : <b>{{item.draftWastingTracking.order_id}}</b></div>
                                                        <div>Product id : <b>{{item.draftWastingTracking.product_id}}</b></div>
                                                        <div>Product name : <b>{{item.draftWastingTracking.item_name}}</b></div>
                                                        <div>Purchase invoice : <b>{{item.draftWastingTracking.purchase_invoice_number}}</b></div>
                                                        <div>Warehouse Tag : <b>{{item.draftWastingTracking.warehouse_tag_boxme}}</b></div>
                                                        <div>Quantity : <b>{{item.draftWastingTracking.quantity}}</b></div>
                                                        <div>Weight : <b>{{item.draftWastingTracking.weight}} (gram)</b></div>
                                                        <div>Dimension : <b>{{item.draftWastingTracking.dimension_h}}x{{item.draftWastingTracking.dimension_l}}x{{item.draftWastingTracking.dimension_w}} (cm)</b></div>
                                                        <div>Note by boxme : <b>{{item.draftWastingTracking.note_boxme}}</b></div>
                                                        <div>Update at : <b>{{item.draftWastingTracking.updated_at | date}}</b></div>
                                                        <div class="mb-1">
                                                            <strong>List Image</strong>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6" *ngFor="let img of getListImage(item.draftWastingTracking.image)" >
                                                                    <img *ngIf="img && img !== 'None'" src="{{img}}" class="img-thumbnail img-responsive" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!item.draftBoxmeTracking && item.draftMissingTracking" >
                                                        <span class="label label-warning">Missing Tracking</span><br>
                                                        <div>Order id : <b>{{item.draftMissingTracking.order_id}}</b></div>
                                                        <div>Product id : <b>{{item.draftMissingTracking.product_id}}</b></div>
                                                        <div>Product name : <b>{{item.draftMissingTracking.item_name}}</b></div>
                                                        <div>Purchase invoice : <b>{{item.draftMissingTracking.purchase_invoice_number}}</b></div>
                                                        <div>Warehouse Tag : <b>{{item.draftMissingTracking.warehouse_tag_boxme}}</b></div>
                                                        <div>Quantity : <b>{{item.draftMissingTracking.quantity}}</b></div>
                                                        <div>Weight : <b>{{item.draftMissingTracking.weight}} (gram)</b></div>
                                                        <div>Dimension : <b>{{item.draftMissingTracking.dimension_h}}x{{item.draftMissingTracking.dimension_l}}x{{item.draftMissingTracking.dimension_w}} (cm)</b></div>
                                                        <div>Note by boxme : <b>{{item.draftMissingTracking.note_boxme}}</b></div>
                                                        <div>Update at : <b>{{item.draftMissingTracking.updated_at | date}}</b></div>
                                                        <div class="mb-1">
                                                            <strong>List Image</strong>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6" *ngFor="let img of getListImage(item.draftMissingTracking.image)" >
                                                                    <img *ngIf="img && img !== 'None'" src="{{img}}" class="img-thumbnail img-responsive" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td>
                                                    <div *ngIf="item.draftPackageItem">
                                                        <span class="label label-success">Box Me Inspected</span><br>
                                                        <div>Order id : <b>{{item.draftPackageItem.order_id}}</b></div>
                                                        <div>Product id : <b>{{item.draftPackageItem.product_id}}</b></div>
                                                        <div>Product name : <b>{{item.draftPackageItem.item_name}}</b></div>
                                                        <div>Purchase invoice : <b>{{item.draftPackageItem.purchase_invoice_number}}</b></div>
                                                        <div>Warehouse Tag : <b>{{item.draftPackageItem.warehouse_tag_boxme}}</b></div>
                                                        <div>Quantity : <b>{{item.draftPackageItem.quantity}}</b></div>
                                                        <div>Weight : <b>{{item.draftPackageItem.weight}} (gram)</b></div>
                                                        <div>Dimension : <b>{{item.draftPackageItem.dimension_h}}x{{item.draftPackageItem.dimension_l}}x{{item.draftPackageItem.dimension_w}} (cm)</b></div>
                                                        <div>Note by boxme : <b>{{item.draftPackageItem.note_boxme}}</b></div>
                                                        <div>Update at : <b>{{item.draftPackageItem.updated_at | date}}</b></div>
                                                        <div class="mb-1">
                                                            <strong>List Image</strong>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6" *ngFor="let img of getListImage(item.draftPackageItem.image)" >
                                                                    <img *ngIf="img && img !== 'None'" src="{{img}}" class="img-thumbnail img-responsive" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!item.draftPackageItem && item.draftWastingTracking" >
                                                        <span class="label label-warning">Wasting Tracking</span><br>
                                                        <div>Order id : <b>{{item.draftWastingTracking.order_id}}</b></div>
                                                        <div>Product id : <b>{{item.draftWastingTracking.product_id}}</b></div>
                                                        <div>Product name : <b>{{item.draftWastingTracking.item_name}}</b></div>
                                                        <div>Purchase invoice : <b>{{item.draftWastingTracking.purchase_invoice_number}}</b></div>
                                                        <div>Warehouse Tag : <b>{{item.draftWastingTracking.warehouse_tag_boxme}}</b></div>
                                                        <div>Quantity : <b>{{item.draftWastingTracking.quantity}}</b></div>
                                                        <div>Weight : <b>{{item.draftWastingTracking.weight}} (gram)</b></div>
                                                        <div>Dimension : <b>{{item.draftWastingTracking.dimension_h}}x{{item.draftWastingTracking.dimension_l}}x{{item.draftWastingTracking.dimension_w}} (cm)</b></div>
                                                        <div>Note by boxme : <b>{{item.draftWastingTracking.note_boxme}}</b></div>
                                                        <div>Update at : <b>{{item.draftWastingTracking.updated_at | date}}</b></div>
                                                        <div class="mb-1">
                                                            <strong>List Image</strong>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6" *ngFor="let img of getListImage(item.draftWastingTracking.image)" >
                                                                    <img *ngIf="img && img !== 'None'" src="{{img}}" class="img-thumbnail img-responsive" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!item.draftPackageItem && item.draftMissingTracking" >
                                                        <span class="label label-warning">Missing Tracking</span><br>
                                                        <div>Order id : <b>{{item.draftMissingTracking.order_id}}</b></div>
                                                        <div>Product id : <b>{{item.draftMissingTracking.product_id}}</b></div>
                                                        <div>Product name : <b>{{item.draftMissingTracking.item_name}}</b></div>
                                                        <div>Purchase invoice : <b>{{item.draftMissingTracking.purchase_invoice_number}}</b></div>
                                                        <div>Warehouse Tag : <b>{{item.draftMissingTracking.warehouse_tag_boxme}}</b></div>
                                                        <div>Quantity : <b>{{item.draftMissingTracking.quantity}}</b></div>
                                                        <div>Weight : <b>{{item.draftMissingTracking.weight}} (gram)</b></div>
                                                        <div>Dimension : <b>{{item.draftMissingTracking.dimension_h}}x{{item.draftMissingTracking.dimension_l}}x{{item.draftMissingTracking.dimension_w}} (cm)</b></div>
                                                        <div>Note by boxme : <b>{{item.draftMissingTracking.note_boxme}}</b></div>
                                                        <div>Update at : <b>{{item.draftMissingTracking.updated_at | date}}</b></div>
                                                        <div class="mb-1">
                                                            <strong>List Image</strong>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6" *ngFor="let img of getListImage(item.draftMissingTracking.image)" >
                                                                    <img *ngIf="img && img !== 'None'" src="{{img}}" class="img-thumbnail img-responsive" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </td>
                                                <td>
                                                    <div class="button-group">
                                                        <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
                                                        <button class="btn btn-sm btn-success"><i class="fa fa-image"></i></button>
                                                        <button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!--todo show image list-->
                                        </ng-container>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
