<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title m-b-0" i18n>Tracking Code</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="searchForm" name="formSearch" class="row item-filter-option">
              <div class="col-md-4 form-group m-b-10">
                <label for="q" class="form-control-label" i18n>Keyword...</label>
                <input class="form-control form-control-sm" id="q" formControlName="q"
                       type="text" (keyup.enter)="search()">
              </div>
              <div class="col-md-4 form-group m-b-10">
                <div class="button-group" style="margin-top: 1.7rem;">
                  <button class="btn btn-sm btn-success" (click)="search()" i18n>Search</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12">
                <hr class="mt-2 mb-2">
              </div>
            </div>
            <div class="row mb-2 toolbar">
              <div class="col-md-12">
                <div class="button-group">
                  <button class="btn btn-sm btn-success" (click)="openUsSendingModal()" i18n>Us Sending</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="content-block" style="border-bottom: none">
                  <div class="header-content">
                    <h4>List Manifest</h4>
                    <div class="col-md-12">
                      <div class="row list-summary">
                        <div class="col-md-6">
                          <span i18n>Showing</span>
                          <select class="form-control-sm select-custom"
                                  [(ngModel)]="perPage" (change)="search()">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="all">All</option>
                          </select>
                          <span>of page {{currentPage}} in {{pageCount}} page in total {{totalCount}} items</span>
                        </div>
                        <div class="col-md-6">
                          <pagination [boundaryLinks]="true"
                                      [totalItems]="totalCount"
                                      (pageChanged)="handlePagination($event)"
                                      [maxSize]="10"
                                      [itemsPerPage]="perPage" class="pagination-sm pull-right"
                                      [rotate]="true">
                          </pagination>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="body-content">
                    <ul class="list-group custom-list">
                      <ng-container *ngFor="let manifest of manifests;let ind = index">
                        <li class="list-group-item custom-list-item {{manifest.id == manifest_id ? 'active' : !manifest_id && ind == 0 ? 'active' : '' }}"
                            (click)="manifest_id = manifest.id; search('tracking');">
                          <h4>{{manifest.manifest_code}}</h4>
                          <div>Id: <b>{{manifest.id}}</b></div>
                          <div>Receive Warehouse:
                            <b>{{manifest.receiveWarehouse ? manifest.receiveWarehouse.name : ''}}</b>
                          </div>
                          <div>Send Warehouse:
                            <b>{{manifest.sendWarehouse ? manifest.sendWarehouse.name : ''}}</b>
                          </div>
                          <div>
                            <span class="badge badge-warning">{{manifest.status}}</span>
                          </div>
                          <div><a href="javascript: void (0);" (click)="regetType(manifest.id)"><i class="fal fa-refresh" ></i> ReGet Type Tracking</a></div>
                          <div><a href="javascript: void (0);" (click)="search()"><i class="fal fa-download" ></i>Export Box Me Tracking</a></div>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                  <div class="content-block" style="border: 2px solid #2e5cde">
                    <div class="header-content" style="background: #2e5cde;">
                      <h4 style="color: #fff">Tracking Info</h4>
                    </div>
                    <div class="body-content">
                      <table class="table table-primary">
                        <thead>
                        <tr>
                          <th width="50%" class="{{tabTracking == 'tracking' ? 'active-tab-track' : ''}}" (click)="setTabTracking('tracking')">List Tracking Code (<b style="color: red">{{tracks['_tracking_total']}}</b>)</th>
                          <th width="50%" class="{{tabTracking == 'ext' ? 'active-tab-track' : ''}}" (click)="setTabTracking('ext')">List Tracking Ext Not Map (<b style="color: red">{{tracks['_ext_total']}}</b>)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngIf="tabTracking != ''">
                          <tr>
                            <td colspan="4" style="padding: 0px">
                              <app-us-sending-views [tracking_codes]="trackingCodes" [tab_tracking]="tabTracking">
                              </app-us-sending-views>
                            </td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #usSendingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="card m-b-0">
              <div class="card-body">
                <div class="card-title">
                  <h3 i18n>Create Manifest From List Warehouse Us Send List Tracking</h3>
                </div>
                <form [formGroup]="usSendingForm" name="form" class="row form-upload">
                  <div class="col-md-12 form-body">
                    <div class="row">
                      <div class="col-md-6 form-group m-b-10">
                        <label for="store" class="form-control-label" >Store</label>
                        <select class="form-control form-control-sm" name="store" id="store"
                                formControlName="store">
                          <option value="" i18n>--Select Store--</option>
                          <option value="vn">Việt nam</option>
                          <option value="id">Indonesia</option>
                        </select>
                      </div>
                      <div class="col-md-6 form-group m-b-10">
                        <label for="store" class="form-control-label" i18n> Pickup Warehouse</label>
                        <select class="form-control form-control-sm" name="warehouse" id="warehouse"
                                formControlName="warehouse">
                          <option *ngFor="let wh of warehouses" [value]="wh.key">{{wh.value}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group m-b-10">
                        <label for="manifest" class="form-control-label"  i18n> Name Manifest</label>
                        <input type="text" class="form-control form-control-sm"  placeholder="18042019-LOWS-VN-HN003" id="manifest" name="manifest"
                               formControlName="manifest">
                      </div>
                      <div class="col-md-6 form-group m-b-10">
                        <label for="store" class="form-control-label" i18n>Upload</label>
                        <span i18n>(Download File excel ,Example : TrackingCode.xlsx)</span>
                        <input type="file" id="file" formControlName="file" class="form-control form-control-sm" (change)="handleFileChange($event)">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group m-b-10">
                        <label for="manifest" class="form-control-label" i18n>SetUp Time In Us WareHosue</label>
                        <input type="text" class="form-control" i18n-placeholder="Datepicker" placeholder="Datepicker" bsDatepicker formControlName="date" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="button-group">
                          <button class="btn btn-sm btn-success" (click)="create()" i18n>Create</button>
                          <button class="btn btn-sm btn-warning" i18n>Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #sellerRefundModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="card m-b-0">
              <div class="card-body">
                <div class="card-title">
                  <h3 i18n>Seller refund tracking {{sellerRefundForm.tracking}}</h3>
                </div>
                <div class="col-md-12 form-body">
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="amountRefund" class="form-control-label" >Amount Refund ($)</label>
                      <input type="number" id="amountRefund" class="form-control form-control-sm" [(ngModel)]="sellerRefundForm.amount" >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="typeRefund" class="form-control-label" >Type refund</label>
                      <select id="typeRefund" class="form-control form-control-sm" [(ngModel)]="sellerRefundForm.type">
                        <option value="full">Refund Full</option>
                        <option value="partial">Refund Partial</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="timeRefund" class="form-control-label" >Time refund</label>
                      <input id="timeRefund" type="text" class="form-control" placeholder="Time Refund" bsDatepicker  [(ngModel)]="sellerRefundForm.time"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="button-group">
                        <button class="btn btn-sm btn-success" i18n (click)="updateSellerRefund()">Update Tracking</button>
                        <button class="btn btn-sm btn-warning" (click)="sellerRefundModal.hide()" i18n>Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="card m-b-0">
              <div class="card-body">
                <div class="card-title">
                  <h3 i18n>Update tracking {{updateForm.tracking}}</h3>
                </div>
                <div class="col-md-12 form-body">
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="order_id" class="form-control-label">Order Id</label>
                      <input type="number" id="order_id" class="form-control form-control-sm"
                             [(ngModel)]="updateForm.order_id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="product_id" class="form-control-label">Product Id</label>
                      <input type="number" id="product_id" class="form-control form-control-sm"
                             [(ngModel)]="updateForm.product_id">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="purchase_invoice_number" class="form-control-label">Purchase
                        invoice number</label>
                      <input id="purchase_invoice_number" type="text" class="form-control"
                             [(ngModel)]="updateForm.purchase_invoice_number"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="item_name" class="form-control-label">Item Name</label>
                      <input id="item_name" type="text" class="form-control"
                             [(ngModel)]="updateForm.item_name"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="button-group">
                        <button class="btn btn-sm btn-success" i18n (click)="update()">Update
                          Tracking
                        </button>
                        <button class="btn btn-sm btn-warning" (click)="updateModal.hide()"
                                i18n>Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #mergeTracking="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="card m-b-0">
              <div class="card-body">
                <div class="card-title">
                  <h3 i18n>Merge tracking {{trackingMerge}}</h3>
                </div>
                <div class="col-md-12 form-body">
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="store" class="form-control-label" >Tracking merge</label>
                      <input type="text" disabled class="form-control form-control-sm" value="{{trackingMerge}}" >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group m-b-10">
                      <label for="store" class="form-control-label" >Tracking target</label>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="trackingTarget" placeholder="Enter tracking target" >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="button-group">
                        <button class="btn btn-sm btn-success" i18n>Merge</button>
                        <button class="btn btn-sm btn-warning" (click)="mergeTracking.hide()" i18n>Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>