<div class="row style-row" *ngFor="let product of products">
  <div class="col-md-6 border-col">
    <div class="row">
      <div class="col-md-1 m-0 p-0">
        <h5 class="text-center">
          <a href="">SOI-{{product.id}}</a>
          <!--<span class="badge badge-primary badge-info mr-2 mb-2 ng-star-inserted m-l-5 p-2 font-style">NEW</span>-->
        </h5>
      </div>
      <div class="col-md-2 p-0 text-center">
        <div class="images">
          <app-edit-image [image] = "product.link_img" [idImage] = "product.id"></app-edit-image>
        </div>
        <div class="mt-2">
          <a href="{{product.link_origin}}" target="_blank" class="originalLink" i18n>Original Link</a>
        </div>
        <div  aria-valuemin="0" class="d-inline-flex" role="slider" tabindex="0" aria-valuemax="10" aria-valuetext="null out of 10" aria-disabled="true">
          <span class="sr-only ng-star-inserted">( )</span>
          <span class="ng-star-inserted text-center">
                          <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                        </span>
        </div>
        <!--div class="btn btn-sm btn-info Version mt-2 row">Version: {{product.version}}</div-->
        <p></p>
      </div>
      <div class="col-md-9 pl-1">
        <div class="row">
          <div class="col-md-6 pr-0" style="border-right: 1px solid #d9d9d9">
            <ul>
              <li class="product_name">
                <a href="{{product.sourceId}}" target="_blank" tooltip="{{product.product_name}}">
                  {{ (product.product_name?.length > 25)? ((product.product_name | slice:0:25)+'. . .'):(product.product_name)}}
                </a>
              </li>
              <li class="sku">
                <span class="mr-2">Sku:</span>
                <app-span-label [value]="product.sku"></app-span-label>
              </li>
              <li class="parent_sku">
                <span class="mr-2" i18n>ParentId:</span>
                <app-span-label [value]="product.parent_sku"></app-span-label>
              </li>
              <li class="text-danger variations">
                <span class="mr-2" i18n>Item Variant:</span>
                <app-edit-variant [id]="product.id" [variant]="product.variations"></app-edit-variant>
              </li>
              <li class="seller_id">
                <span class="mr-2" i18n>Local Seller:</span>
                <app-span-label [value]="product.seller_id"></app-span-label>
              </li>
              <li class="seller_id">
                <span class="mr-2" i18n>Size:</span>
                <app-span-label [value]=""></app-span-label>
              </li>
              <li class="total_weight_temporary">
                <span class="mr-2 ShippingWeight" i18n>Total weight temporary:</span>
                <app-span-label [value]="product.total_weight_temporary"></app-span-label>
              </li>
            </ul>
          </div>
          <div class="col-md-6 pl-1">
            <ul>
              <li>
                <span class="mr-2" i18n>Local Name</span>
                <app-span-label [value]=""></app-span-label>
              </li>
              <li>
                <span class="mr-2" i18n>Category</span>
                <app-span-label [value]=""></app-span-label>
              </li>
              <li>
                <span class="mr-2" i18n>QTT Set</span>
                <app-span-label [value]=""></app-span-label>
              </li>
              <li>
                <span class="mr-2" i18n>Fragile</span>
                <app-span-label [value]=""></app-span-label>
              </li>
              <li>
                <span class="mr-2" i18n>Packing Wood</span>
                <app-span-label [value]=""></app-span-label>
              </li>
              <li class="note_by_customer" data-toggle="tooltip" data-placement="top" title="Customer Note Products!">
                <i class="fa fa-comments"  > {{product.note_by_customer}}</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 border-col">
    <div class="row">
      <div class="col-md-12 style-border-finance">
        <div class="row">
          <div class="col-md-12">
            <h5 i18n>FINANCE</h5>
          </div>
        </div>
        <div class="hover-row">
          <div class="row">
            <div class="col-md-12">
              <strong i18n> Employee Purchase :</strong>
            </div>
          </div>
          <div class="row quantity_customer ">
            <div class="col-md-7"><strong i18n>Quantity:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">
              {{product.quantity_customer}}/{{product.quantity_purchase?product.quantity_purchase:0}}/{{product.quantity_inspect?product.quantity_inspect:0}}
            </div>
          </div>
          <div class="row price_amount_origin">
            <div class="col-md-7"><strong i18n>Price Amount Origin:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">{{product.price_amount_origin | currency: 'USD' : '$'}}</div>
          </div>

          <div class="row price_amount_local">
            <div class="col-md-7"><strong i18n>Price Amount Local:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">{{product.price_amount_local | currency: 'VND'}}</div>
          </div>
          <div *ngFor="let ProFee of product.productFees">
            <div class="row" *ngIf="checkShowFee(ProFee.type)">
              <div *ngIf="product.id == ProFee.product_id" class="name-{{ProFee.name}} type-{{ProFee.type}} text-bold col-md-5 pr-0"><strong>{{ProFee.type | ProductFee }} ({{ProFee.amount | currency: 'USD' : '$'}}):</strong></div>
              <div *ngIf="product.id == ProFee.product_id" class="discount_amount {{ProFee.discount_amount}} col-md-4 text-right style-padding ">
                <span *ngIf="ProFee.discount_amount !== null && ProFee.discount_amount != 0">Discount : {{ProFee.discount_amount ? ProFee.discount_amount : 0 | currency: 'VND'}}</span>
              </div>
              <div *ngIf="product.id == ProFee.product_id && idEdit != ProFee.id" class="origin-amount col-md-3 text-right style-padding ">
                <span>{{ProFee.local_amount | currency: 'VND'}}</span>
              </div>
            </div>
          </div>

          <hr style="margin: 5px">
          <div>
            <div>
              <button class="btn btn-sm btn-default" *ngIf="!hidem[product.id]" (click)="hidem[product.id] = !hidem[product.id]" i18n>Show Free</button>
              <button class="btn btn-sm btn-default" *ngIf="hidem[product.id]" (click)="hidem[product.id] = !hidem[product.id]" i18n>Hide Free</button>
            </div>
          </div>
            <div [hidden]="!hidem[product.id]">
              <div *ngIf="product.productFees && product.productFees.length" >
                <div *ngFor="let ProFee of product.productFees">
                  <div class="row ProductFees"  *ngIf="!checkShowFee(ProFee.type)">
                    <div *ngIf="product.id == ProFee.product_id" class="name-{{ProFee.name}} type-{{ProFee.type}} text-bold col-md-5 pr-0"><strong>{{ProFee.type | ProductFee }} ({{ProFee.amount | currency : 'USD' : '$'}}):</strong></div>
                    <div *ngIf="product.id == ProFee.product_id" class="discount_amount {{ProFee.discount_amount}} col-md-4 text-right style-padding ">
                      <span *ngIf="ProFee.discount_amount !== null && ProFee.discount_amount != 0">Discount : {{ProFee.discount_amount ? ProFee.discount_amount : 0 | currency: 'VND'}}</span>
                    </div>
                    <div *ngIf="product.id == ProFee.product_id && idEdit != ProFee.id" class="origin-amount col-md-3 text-right style-padding "
                         (dblclick)="checkShowEdit(ProFee.type) ? showEditFee(ProFee) : null">
                      {{ProFee.local_amount | currency: 'VND'}} <i *ngIf="checkShowEdit(ProFee.type) && checkRoleMKT()" class="fa fa-edit" ></i>
                    </div>
                    <div *ngIf="product.id == ProFee.product_id && idEdit ==ProFee.id && checkRoleMKT()" class="origin-amount col-md-4 text-right style-padding ">
                      đ <input type="number" [(ngModel)]="fee" (keydown)="keydownEvent($event)" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <hr style="margin: 5px">
          <div class="row total_fee_product">
            <div class="col-md-7"><strong i18n>Total Fee Product : </strong></div>
            <div class="col-md-5 text-right style-padding ">{{ product.total_fee_product_local | currency: 'VND'}}</div>
          </div>
          <hr style="margin: 5px">

          <div class="row">
            <div class="col-md-6 pr-0 soi-toltal-value text-bold">
              <strong i18n>Total value Product
                <!--(<span class="text-line-through">{{ getTotalValueWithRequestPayment(item) | number}} {{getLocalCurrencyCodeByStore(0)}}</span>):-->
              </strong>
            </div>
            <div class="col-md-6 text-right style-padding">{{product.total_price_amount_local | currency: 'VND'}}</div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-md-12 exchangeRate">-->
              <!--<i class="style-font-size">Exchage rate: {{product.exchange_rate | number}} </i>-->
            <!--</div>-->
          <!--</div>-->
        </div>


      </div>

      <p></p>

    </div>
  </div>
</div>
