<div class="row style-row" *ngFor="let product of products">
  <div class="col-md-5 border-col">
    <div class="row pl-0">
      <div class="col-md-12">
        <h5>
          <a href="">SOI-{{product.id}}</a>
          <!--<span class="badge badge-primary badge-info mr-2 mb-2 ng-star-inserted m-l-5 p-2 font-style">NEW</span>-->
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-center">
        <div class="images">
          <app-edit-image [image] = "product.link_img" [idImage] = "product.id"></app-edit-image>
        </div>
        <div class="mt-2">
          <a href="{{product.link_origin}}" target="_blank" class="originalLink">Original Link</a>
        </div>
        <div  aria-valuemin="0" class="d-inline-flex" role="slider" tabindex="0" aria-valuemax="10" aria-valuetext="null out of 10" aria-disabled="true">
          <span class="sr-only ng-star-inserted">( )</span>
          <span class="ng-star-inserted">
                          <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-warning">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                           <span class="star ng-star-inserted text-dark">★</span>
                        </span>
        </div>
        <!--div class="btn btn-sm btn-info Version mt-2 row">Version: {{product.version}}</div-->
        <p></p>
      </div>
      <div class="col-md-7 pl-1">
        <ul>
          <li class="product_name">
            <a href="{{product.sourceId}}" target="_blank" tooltip="{{product.product_name}}">
              {{ (product.product_name?.length > 25)? ((product.product_name | slice:0:25)+'. . .'):(product.product_name)}}
            </a>
          </li>
          <li class="sku">
            <span class="mr-2">Sku:</span>
            <app-span-label [value]="product.sku"></app-span-label>
          </li>
          <li class="parent_sku">
            <span class="mr-2">ParentId:</span>
            <app-span-label [value]="product.parent_sku"></app-span-label>
          </li>
          <li class="text-danger variations">
            <span class="mr-2">Item Variant:</span>
            <app-edit-variant [id]="product.id" [variant]="product.variations"></app-edit-variant>
          </li>
          <li class="seller_id">
            <span class="mr-2">Local Seller:</span>
            <app-span-label [value]="product.seller_id"></app-span-label>
          </li>
          <li class="seller_id">
            <span class="mr-2">Size:</span>
            <app-span-label [value]=""></app-span-label>
          </li>
          <li class="total_weight_temporary">
            <span class="mr-2 ShippingWeight">Total weight temporary:</span>
            <app-span-label [value]="product.total_weight_temporary"></app-span-label>
          </li>
          <hr>
          <li>
            <span class="mr-2">Local Name</span>
            <app-span-label [value]=""></app-span-label>
          </li>
          <li>
            <span class="mr-2">Category</span>
            <app-span-label [value]=""></app-span-label>
          </li>
          <li>
            <span class="mr-2">QTT Set</span>
            <app-span-label [value]=""></app-span-label>
          </li>
          <li>
            <span class="mr-2">Fragile</span>
            <app-span-label [value]=""></app-span-label>
          </li>
          <li>
            <span class="mr-2">Packing Wood</span>
            <app-span-label [value]=""></app-span-label>
          </li>
          <li class="note_by_customer" data-toggle="tooltip" data-placement="top" title="Customer Note Products!">
            <i class="fa fa-comments"  > {{product.note_by_customer}}</i>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-7 border-col">
    <div class="row">
      <div class="col-md-12 style-border-finance">
        <div class="row">
          <div class="col-md-12">
            <h5>FINANCE</h5>
          </div>
        </div>
        <div class="hover-row">
          <div class="row">
            <div class="col-md-12">
              <strong> Employee Purchase :</strong>
            </div>
          </div>
          <div class="row quantity_customer ">
            <div class="col-md-7"><strong>Quantity:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">
              {{product.quantity_customer}}/{{product.quantity_purchase}}/{{product.quantity_inspect}}
            </div>
          </div>
          <div class="row price_amount_origin">
            <div class="col-md-7"><strong>Price Amount Origin:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">{{product.price_amount_origin | currency}}</div>
          </div>
          <div class="row price_amount_local">
            <div class="col-md-7"><strong>Price Amount Local:</strong></div>
            <div class="col-md-5 text-right style-padding Quantity">{{product.price_amount_local | currency: 'VND'}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 pr-0 soi-toltal-value">
              <strong>Total value
                <!--(<span class="text-line-through">{{ getTotalValueWithRequestPayment(item) | number}} {{getLocalCurrencyCodeByStore(0)}}</span>):-->
              </strong>
            </div>
            <div class="col-md-6 text-right style-padding">{{product.total_price_amount_local | currency: 'VND'}}</div>
          </div>
          <div class="row">
            <div class="col-md-12 exchangeRate">
              <i class="style-font-size">Exchage rate: {{product.exchange_rate | number}} </i>
            </div>
          </div>
        </div>

        <div class="CHECK">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-bold">Name</th>
                  <th class="text-bold">Local Amount</th>
                  <th class="text-bold">Discount Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ProFee of productsFee">
                  <td *ngIf="product.id == ProFee.product_id" class="name {{ProFee.name}}">{{ProFee.type}}</td>
                  <td *ngIf="product.id == ProFee.product_id" class="origin-amount {{ProFee.amount}}">{{ProFee.local_amount | currency: 'VND'}}</td>
                  <td *ngIf="product.id == ProFee.product_id" class="discount_amount {{ProFee.discount_amount}}">{{ProFee.discount_amount | currency: 'VND'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <p></p>

    </div>
  </div>
</div>
